In [10]:
# 1 write a python program to replace all the occurances of space ,coma or dot with colon 
import regex as re
sample_text='Python Excercises,PHP Excercises.'
pattern=r'[ ,.]'
match=re.sub(pattern, ':',sample_text)
print(match)

Python:Excercises:PHP:Excercises:

In [18]:
# 2 create a dataframe using the dictionery below and remove everything (commas(,),!,XXXX,;) from column except words
import pandas as pd
dict={'Summary':['hello,world','XXXXXtest','123four,five:;six...']}

In [19]:
df=pd.DataFrame(dict)

df

In [30]:
df['Summary']=df['Summary'].str.replace(r'[ X,!:;.0-9]+','')

print(df)

       Summary
0   helloworld
1         test
2  fourfivesix

C:\Users\a\AppData\Local\Temp\ipykernel_13064\792135694.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Summary']=df['Summary'].str.replace(r'[ X,!:;.0-9]+','')

In [47]:
# 3  create a function in python to find all words that are atleast 4 characters long in a string use re.compile
text='RegEx is a powerful tool for pattern matching and text manipulation'
pattern=r'\w{4}' 

regex_match=re.compile(pattern)

print(type(regex_match),'\n')
result=regex_match.findall(text)

print('words with 4 charcter :',result)

<class '_regex.Pattern'>

words with 4 charcter : ['RegE', 'powe', 'rful', 'tool', 'patt', 'matc', 'hing', 'text', 'mani', 'pula', 'tion']

In [48]:
# 4 create a function in python to find all words that are atleast 3,4,5 characters long in a string use re.compile
text='RegEx is a powerful tool for pattern matching and text manipulation'
pattern=r'\w{3}' 
pattern1=r'\w{4}' 
pattern2=r'\w{5}' 
regex_match=re.compile(pattern)
regex_match1=re.compile(pattern1)
regex_match2=re.compile(pattern2)
print(type(regex_match),'\n')
result=regex_match.findall(text)
result1=regex_match1.findall(text)
result2=regex_match2.findall(text)
print('words with 3 charcter :',result)
print('words with 4 charcter :',result1)
print('words with 5 charcter :',result2)

<class '_regex.Pattern'>

words with 3 charcter : ['Reg', 'pow', 'erf', 'too', 'for', 'pat', 'ter', 'mat', 'chi', 'and', 'tex', 'man', 'ipu', 'lat', 'ion']
words with 4 charcter : ['RegE', 'powe', 'rful', 'tool', 'patt', 'matc', 'hing', 'text', 'mani', 'pula', 'tion']
words with 5 charcter : ['RegEx', 'power', 'patte', 'match', 'manip', 'ulati']

In [50]:
# 5 create a regex function in python to remove the paranthesis in listof string  the use of re.compile() is mandatory 
text=['Example(.com)','hr@fliprobo(.com)','Hello(Data science world)','Data(scientist)']
pattern=re.compile(r'\([^)]*\)')
result=[pattern.sub('',s) for s in text]
print('cleaned string ',result)

cleaned string  ['Example', 'hr@fliprobo', 'Hello', 'Data']

In [64]:
# 5 create a regex function in python to remove the paranthesis in listof string  the use of re.compile() is mandatory 
text=['Example(.com)','hr@fliprobo(.com)','Hello(Data science world)','Data(scientist)']
pattern=re.compile(r'[()]')
for s in text:
    result=pattern.sub('',s) 
    print('cleaned string ',result)

cleaned string  Example.com
cleaned string  hr@fliprobo.com
cleaned string  HelloData science world
cleaned string  Datascientist

In [106]:
# 6 create regex python program to remove the paranthesis in a area from text stored in the text file

text=['Example(.com)','hr@fliprobo(.com)','Hello(Data science world)','Data(scientist)']
pattern=re.compile(r'[(\b)]')
for s in text:
    result=pattern.sub('',s) 
    print('cleaned string ',result)

cleaned string  E.
cleaned string  @.
cleaned string  HD
cleaned string  D

In [128]:
# 7 write a regex patternin python to split a string into uppercase letter

text='ImportanceOfRegularExpressionsinPython '

result=re.split(r'(?=[A-Z])',text)
print(result)

['', 'Importance', 'Of', 'Regular', 'Expressionsin', 'Python ']

In [134]:
#8 ceeate a function in python to insert spacesbetween words starting with numbers

text='RegularExpression1IsAn2ImportantTopic3InPython '

result=re.split(r'(?=[0-9])',text)
print(result)

['RegularExpression', '1IsAn', '2ImportantTopic', '3InPython ']

In [142]:
text='RegularExpression1IsAn2ImportantTopic3InPython '

result=re.sub(r'(?=[0-9])','\1',text)
result=result[:-1]
print(result)

RegularExpression1IsAn2ImportantTopic3InPython

In [145]:
#9 ceeate a function in python to insert spacesbetween words starting with capital letters or numbers
text='RegularExpression1IsAn2ImportantTopic3InPython '
result=re.sub(r'(?=[0-9A-Z])','\1',text)
print(result)

RegularExpression1IsAn2ImportantTopic3InPython

In [148]:
# 10 use the below to read github link to read and creste dataframe .after creating dataframe extract first 6 letters of each country and store in the dtata frame under new column called first_five_letters
import pandas as pd
import regex as re
df=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
data=pd.DataFrame(df)

In [149]:
data.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [150]:
data['Country'].head()

0    Switzerland
1        Iceland
2        Denmark
3         Norway
4         Canada
Name: Country, dtype: object

In [158]:
pattern=r'(\w{6})'
first_five_letters=data['Country'].str.extract(pattern,expand=False)

In [159]:
first_five_letters

0      Switze
1      Icelan
2      Denmar
3      Norway
4      Canada
        ...
153    Rwanda
154       NaN
155       NaN
156    Burund
157       NaN
Name: Country, Length: 158, dtype: object

In [165]:
# 11 write a python program tomatch a stringthat contains only upper and lowwercase letters  ,numbers ,underscore
text='Virat Kohli is a cricketer born on Nov_5 1988 '
pattern=r'(\w+)'
result=re.findall(pattern,text)
print(result)

['Virat', 'Kohli', 'is', 'a', 'cricketer', 'born', 'on', 'Nov_5', '1988']

In [226]:
# 12 write a python program where a string start with a specific number
text='1 apple cost 60 rs'
pattern=r'(^1\s+).+(\b[a-zA-Z])'
result=re.match(pattern,text)
print(result)

<regex.Match object; span=(0, 17), match='1 apple cost 60 r'>

In [219]:
# 13 write a python program to remove leading  zeros from IP address
text='https://www.youtube.com/watch?v=qWq40J6ZfDA'
result=re.sub(r'(0)','',text)
print(result)

https://www.youtube.com/watch?v=qWq4J6ZfDA

In [227]:
# 14 write a regex in python to match a date string in the form of month name followed by day number  and year stored in a textfile
text='On August 15 1947 that india was declared independent from British colonialism and reins of control were handed over to the leaders of the country'
pattern=r'(?:January|February|March|April|May|June|July|August|September|November|December)\s+\d[0-9]\s+\d{4}\b'
result=re.findall(pattern,text)
print(result)

['August 15 1947']

In [260]:
# 15 write a python program to search some literals strings in a string
text='The quick brown fox jumps over the lazy dog'
pattern=r'(\bfox\b)' 
pattern1=r'(\bdog\b)'

result=re.findall(pattern,text)
result1=re.findall(pattern1,text)
print(result)
print(result1)

['fox']
['dog']

In [261]:
# 16 write a python program to search some literals in a string and also find location within the string where the pattern occurs
text='The quick brown fox jumps over the lazy dog'
pattern=r'(\bfox\b)'
result=re.search(pattern,text)
print(result)

<regex.Match object; span=(16, 19), match='fox'>

In [304]:
# 17 write a python program to find substrings with in a string
text='Python exercises,PHP exercises,c#exercises'
pattern=r'\b\w*exercises\w*\b'
matches=re.findall(pattern,text)
for match in matches:
    print(match)

exercises
exercises
exercises

In [309]:
# 18 write a python program to find occurance and position of the substrings with in a string
text='Python exercises,PHP exercises,c#exercises'
pattern=r'\b\w*exercises\w*\b'
matches=re.search(pattern,text)
print(matches)

<regex.Match object; span=(7, 16), match='exercises'>

In [313]:
#19 write a python program to convert a date of yyyy-mm-dd to dd-mm-yyyy format
text='date of birth 1944-08-22'
pattern=r'\b(\d{4})-\b(\d{2})-\b(\d{2})\b'
result=re.sub(pattern,r'\3-\2-\1',text)
print(result)

date of birth 22-08-1944

In [11]:
# 20 create a function in python to find all decimal numbers with precision of 1 or 2 in a string the use of re.compile() methodmandatory

import regex as re
text='01.22 0123.123 2.3187 145.8 3.01 27.55 0.25'
reg_pattern=re.compile(r'\b\d+\.\d{1,2}\b')
result=reg_pattern.findall(text)
print(result)

['01.22', '145.8', '3.01', '27.55', '0.25']

In [18]:
# 21 write a pyton program to separate and print numbers and their positions of a given string
text='12 25 478 542'
pattern=r'\b\d+\b'
matches=re.finditer(pattern,text)
for match in matches:
    number=match.group()
    start_position=match.start()
    end_position=match.end()
    print(f'number : {number} , position : ({start_position},{end_position})')

number : 12 , position : (0,2)
number : 25 , position : (3,5)
number : 478 , position : (6,9)
number : 542 , position : (10,13)

In [42]:

text='my marks in each semester are : 947,896,524,734,950,642'
pattern=r'\b\d+\b'

matches=re.findall(pattern,text)

for match in matches:
    number=match
    print('number :',number)

number : 947
number : 896
number : 524
number : 734
number : 950
number : 642

In [41]:
# 22 write a regex in python program to extract maximum or largest number from a string
text='my marks in each semester are : 947,896,524,734,950,642'
pattern=r'\b\d+\b'

matches=(re.findall(pattern,text))

numbers=[int(match) for match in matches]
if numbers:
    max_number=max(numbers)
    print(f'maximum number :{max_number}')

maximum number :950

In [48]:
# 23 write a function in python to insert space between words strarting with capital letters 
import regex as re
text='RegularExpressionIsAnImportantTopicInPython'

result=re.sub(r'([a-z])([A-Z])',r'\1 \2',text)
print(result)

Regular Expression Is An Important Topic In Python

In [50]:
# 24 python regex to find sequences of one uppercase letter followed by lowercase letters
text='Regular Expression Is An Important Topic In Python'
result=re.findall(r'([A-Z])([a-z])',text)
print(result)

[('R', 'e'), ('E', 'x'), ('I', 's'), ('A', 'n'), ('I', 'm'), ('T', 'o'), ('I', 'n'), ('P', 'y')]

In [55]:
# 25 write a python program to remove continuous duplicate words from sentence using regex
string='Hello hello world world'
regex=r'\b(\w+)\s+\1\b'
x=re.sub(regex,r'\1',string)
print(x)

Hello hello world