In [ ]:
!pip install bs4
!pip install requests

In [153]:
# write a python program to display all the header tags  from wipipedia.org and make a dataframe
from bs4 import BeautifulSoup
import requests
import pandas as pd
import regex as re

In [210]:
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [211]:
soup=BeautifulSoup(page.content)
headers=[]
for tag in soup.find_all(re.compile(r'h[1-6]$')):
    headers.append(tag.text.strip())
df=pd.DataFrame({'Headers':headers})
print(df)

                         Headers
0                      Main Page
1           Welcome to Wikipedia
2  From today's featured article
3               Did you knowÂ ...
4                    In the news
5                    On this day
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

  Headers
0      []
1      []
2      []
3      []
4      []
5      []

In [212]:
#2 write  a python program to display list of  respected former presidents of india (name, term of office)
page=requests.get('https://presidentofindia.nic.in/former-presidents')

In [213]:
page

SyntaxError: invalid syntax (1843409648.py, line 3)

In [214]:
soup=BeautifulSoup(page.content)
name=[]
for i in soup.find_all('div',class_='desc-sec'): 
    name.append(i.text)
    
name

['\nShri Ram Nath Kovind\n14th President of India\n',
 '\nShri Pranab Mukherjee\n13th President of India\n',
 '\nSmt Pratibha Devisingh Patil\n12th President of India\n',
 '\nDR. A.P.J. Abdul Kalam\n11th President of India\n',
 '\nShri K. R. Narayanan\n10th President of India\n',
 '\nDr Shankar Dayal Sharma\n9th  President of India\n',
 '\nShri R Venkataraman\n8th President of India\n',
 '\nGiani Zail Singh\n7th President of India\n',
 '\nShri Neelam Sanjiva Reddy\n6th President of India\n',
 '\nDr. Fakhruddin Ali Ahmed\n5th President of India\n',
 '\nShri Varahagiri Venkata Giri\n4th President of India\n',
 '\nDr. Zakir Husain\n3rd President of India\n',
 '\nDr. Sarvepalli Radhakrishnan\n2nd President of India\n',
 '\nDr. Rajendra Prasad\n1st President of India\n']

In [126]:
clean_name=[word.replace('\n','') for word in term]
print(clean_name)

['Shri Ram Nath Kovind14th President of India', 'Shri Pranab Mukherjee13th President of India', 'Smt Pratibha Devisingh Patil12th President of India', 'DR. A.P.J. Abdul Kalam11th President of India', 'Shri K. R. Narayanan10th President of India', 'Dr Shankar Dayal Sharma9th  President of India', 'Shri R Venkataraman8th President of India', 'Giani Zail Singh7th President of India', 'Shri Neelam Sanjiva Reddy6th President of India', 'Dr. Fakhruddin Ali Ahmed5th President of India', 'Shri Varahagiri Venkata Giri4th President of India', 'Dr. Zakir Husain3rd President of India', 'Dr. Sarvepalli Radhakrishnan2nd President of India', 'Dr. Rajendra Prasad1st President of India']

In [225]:
#3 write a python program to scrapcricket rankingfrom icici.com you have to make data frame
page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

['Shri Ram Nath Kovind14th President of India',
 'Shri Pranab Mukherjee13th President of India',
 'Smt Pratibha Devisingh Patil12th President of India',
 'DR. A.P.J. Abdul Kalam11th President of India',
 'Shri K. R. Narayanan10th President of India',
 'Dr Shankar Dayal Sharma9th  President of India',
 'Shri R Venkataraman8th President of India',
 'Giani Zail Singh7th President of India',
 'Shri Neelam Sanjiva Reddy6th President of India',
 'Dr. Fakhruddin Ali Ahmed5th President of India',
 'Shri Varahagiri Venkata Giri4th President of India',
 'Dr. Zakir Husain3rd President of India',
 'Dr. Sarvepalli Radhakrishnan2nd President of India',
 'Dr. Rajendra Prasad1st President of India']

In [222]:
soup=BeautifulSoup(page.content)
team=[]
for i in soup.find_all('span',class_='u-hide-phablet'): 
    team.append(i.text)
           
team

['India',
 'Australia',
 'South Africa',
 'Pakistan',
 'New Zealand',
 'England',
 'Sri Lanka',
 'Bangladesh',
 'Afghanistan',
 'West Indies',
 'Zimbabwe',
 'Scotland',
 'Ireland',
 'Netherlands',
 'Nepal',
 'Namibia',
 'United States',
 'Oman',
 'UAE']

In [223]:
soup=BeautifulSoup(page.content)
matches=[]
for i in soup.find_all('td',class_='rankings-block__banner--matches'): 
    matches.append(i.text)
matches

['55']

In [226]:
soup=BeautifulSoup(page.content)
for i in soup.find_all('td',class_="table-body__cell u-center-text"): 
    matches.append(i.text)
matches

['55',
 '42',
 '4,926',
 '34',
 '3,750',
 '36',
 '3,922',
 '43',
 '4,399',
 '38',
 '3,777',
 '47',
 '4,134',
 '44',
 '3,836',
 '30',
 '2,533',
 '38',
 '2,582',
 '30',
 '1,641',
 '33',
 '1,662',
 '25',
 '1,086',
 '37',
 '1,507',
 '42',
 '1,446',
 '28',
 '813',
 '31',
 '808',
 '24',
 '525',
 '41',
 '617']

In [227]:
soup=BeautifulSoup(page.content)
points=[]
for i in soup.find_all('td',class_='rankings-block__banner--points'): 
    points.append(i.text)
points

['6,640']

In [228]:
soup=BeautifulSoup(page.content)
matches1=[]

for number in matches:
    number=number.replace(',','')
    if number.isdigit() and len(number)==2:
        matches1.append(number)
    else:
        points.append(number)

In [229]:
matches1

['55',
 '42',
 '34',
 '36',
 '43',
 '38',
 '47',
 '44',
 '30',
 '38',
 '30',
 '33',
 '25',
 '37',
 '42',
 '28',
 '31',
 '24',
 '41']

In [232]:
points

['6,640',
 '4926',
 '3750',
 '3922',
 '4399',
 '3777',
 '4134',
 '3836',
 '2533',
 '2582',
 '1641',
 '1662',
 '1086',
 '1507',
 '1446',
 '813',
 '808',
 '525',
 '617']

In [233]:
odi=pd.DataFrame({'Team':team,'Matches':matches1,'Points':points})

In [234]:
odi

             Team Matches Points
0           India      55  6,640
1       Australia      42   4926
2    South Africa      34   3750
3        Pakistan      36   3922
4     New Zealand      43   4399
5         England      38   3777
6       Sri Lanka      47   4134
7      Bangladesh      44   3836
8     Afghanistan      30   2533
9     West Indies      38   2582
10       Zimbabwe      30   1641
11       Scotland      33   1662
12        Ireland      25   1086
13    Netherlands      37   1507
14          Nepal      42   1446
15        Namibia      28    813
16  United States      31    808
17           Oman      24    525
18            UAE      41    617

In [235]:
# top 10 odi batsman with record of their team and rating
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
page

In [236]:
soup=BeautifulSoup(page.content)
batter_name=[]
for i in soup.find_all('div',class_='rankings-block__banner--name-large'): 
    batter_name.append(i.text)
    
batter_name

['Shubman Gill']

In [243]:
soup=BeautifulSoup(page.content)
b=1
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'): 
    batter_name.append(i.text)
        
    
batter_name

['Shubman Gill',
 '\nBabar Azam\n',
 '\nVirat Kohli\n',
 '\nRohit Sharma\n',
 '\nQuinton de Kock\n',
 '\nDaryl Mitchell\n',
 '\nDavid Warner\n',
 '\nRassie van der Dussen\n',
 '\nHarry Tector\n',
 '\nDawid Malan\n',
 '\nHeinrich Klaasen\n',
 '\nShreyas Iyer\n',
 '\nIbrahim Zadran\n',
 '\nFakhar Zaman\n',
 '\nTravis Head\n',
 '\nShai Hope\n',
 '\nDavid Miller\n',
 '\nImam-ul-Haq\n',
 '\nLokesh Rahul\n',
 '\nSteve Smith\n',
 '\nAiden Markram\n',
 '\nMarnus Labuschagne\n',
 '\nKariyawasa Asalanka\n',
 '\nPaul Stirling\n',
 '\nRahmanullah Gurbaz\n',
 '\nScott Edwards\n',
 '\nGlenn Maxwell\n',
 '\nPathum Nissanka\n',
 '\nSikandar Raza\n',
 '\nGerhard Erasmus\n',
 '\nTemba Bavuma\n',
 '\nJos Buttler\n',
 '\nNicholas Pooran\n',
 '\nKane Williamson\n',
 '\nMushfiqur Rahim\n',
 '\nMohammad Rizwan\n',
 '\nBen Stokes\n',
 '\nJonny Bairstow\n',
 '\nJason Roy\n',
 '\nRahmat Shah\n',
 '\nJoe Root\n',
 '\nTom Latham\n',
 '\nDevon Conway\n',
 '\nMitchell Marsh\n',
 '\nShakib Al Hasan\n',
 '\nSean Williams\n',
 '\nIshan Kishan\n',
 '\nKusal Mendis\n',
 '\nRachin Ravindra\n',
 '\nMahmudullah\n',
 '\nLitton Das\n',
 '\nHashmatullah Shaidi\n',
 '\nAssad Vala\n',
 '\nSadeera Samarawickrama\n',
 '\nGeorge Munsey\n',
 '\nTamim Iqbal\n',
 '\nAlex Carey\n',
 '\nAndrew Balbirnie\n',
 '\nWill Young\n',
 '\nNazmul Shanto\n',
 '\nVriitya Aravind\n',
 '\nGajanand Singh\n',
 '\nAaron Jones\n',
 "\nMax O'Dowd\n",
 '\nKyle Coetzer\n',
 '\nAqib Ilyas\n',
 '\nMuhammad Waseem\n',
 '\nGlenn Phillips\n',
 '\nRichard Berrington\n',
 '\nMonank Patel\n',
 '\nZeeshan Maqsood\n',
 '\nMichael Leask\n',
 '\nAasif Sheikh\n',
 '\nAsif Khan\n',
 '\nAyaan Khan\n',
 '\nAzmatullah Omarzai\n',
 '\nMartin Guptill\n',
 '\nKashyap Prajapati\n',
 '\nCraig Ervine\n',
 '\nSteven Taylor\n',
 '\nR.K. Paudel\n',
 '\nNajibullah Zadran\n',
 '\nShikhar Dhawan\n',
 '\nGeorge Dockrell\n',
 '\nMohammad Nabi\n',
 '\nBrandon King\n',
 '\nMichael van Lingen\n',
 '\nJatinder Singh\n',
 '\nHenry Nicholls\n',
 '\nHardik Pandya\n',
 '\nIftikhar Ahmed\n',
 '\nTowhid Hridoy\n',
 '\nBrandon McMullen\n',
 '\nCurtis Campher\n',
 '\nRyan Burl\n',
 '\nTeja Nidamanuru\n',
 '\nSuryakumar Yadav\n',
 '\nHaris Sohail\n',
 '\nKushal Bhurtel\n',
 '\nVikramjit Singh\n',
 '\nBabar Azam\n',
 '\nVirat Kohli\n',
 '\nRohit Sharma\n',
 '\nQuinton de Kock\n',
 '\nDaryl Mitchell\n',
 '\nDavid Warner\n',
 '\nRassie van der Dussen\n',
 '\nHarry Tector\n',
 '\nDawid Malan\n',
 '\nHeinrich Klaasen\n',
 '\nBabar Azam\n',
 '\nVirat Kohli\n',
 '\nRohit Sharma\n',
 '\nQuinton de Kock\n',
 '\nDaryl Mitchell\n',
 '\nDavid Warner\n',
 '\nRassie van der Dussen\n',
 '\nHarry Tector\n',
 '\nDawid Malan\n',
 '\nHeinrich Klaasen\n',
 '\nShreyas Iyer\n',
 '\nIbrahim Zadran\n',
 '\nFakhar Zaman\n',
 '\nTravis Head\n',
 '\nShai Hope\n',
 '\nDavid Miller\n',
 '\nImam-ul-Haq\n',
 '\nLokesh Rahul\n',
 '\nSteve Smith\n',
 '\nAiden Markram\n',
 '\nMarnus Labuschagne\n',
 '\nKariyawasa Asalanka\n',
 '\nPaul Stirling\n',
 '\nRahmanullah Gurbaz\n',
 '\nScott Edwards\n',
 '\nGlenn Maxwell\n',
 '\nPathum Nissanka\n',
 '\nSikandar Raza\n',
 '\nGerhard Erasmus\n',
 '\nTemba Bavuma\n',
 '\nJos Buttler\n',
 '\nNicholas Pooran\n',
 '\nKane Williamson\n',
 '\nMushfiqur Rahim\n',
 '\nMohammad Rizwan\n',
 '\nBen Stokes\n',
 '\nJonny Bairstow\n',
 '\nJason Roy\n',
 '\nRahmat Shah\n',
 '\nJoe Root\n',
 '\nTom Latham\n',
 '\nDevon Conway\n',
 '\nMitchell Marsh\n',
 '\nShakib Al Hasan\n',
 '\nSean Williams\n',
 '\nIshan Kishan\n',
 '\nKusal Mendis\n',
 '\nRachin Ravindra\n',
 '\nMahmudullah\n',
 '\nLitton Das\n',
 '\nHashmatullah Shaidi\n',
 '\nAssad Vala\n',
 '\nSadeera Samarawickrama\n',
 '\nGeorge Munsey\n',
 '\nTamim Iqbal\n',
 '\nAlex Carey\n',
 '\nAndrew Balbirnie\n',
 '\nWill Young\n',
 '\nNazmul Shanto\n',
 '\nVriitya Aravind\n',
 '\nGajanand Singh\n',
 '\nAaron Jones\n',
 "\nMax O'Dowd\n",
 '\nKyle Coetzer\n',
 '\nAqib Ilyas\n',
 '\nMuhammad Waseem\n',
 '\nGlenn Phillips\n',
 '\nRichard Berrington\n',
 '\nMonank Patel\n',
 '\nZeeshan Maqsood\n',
 '\nMichael Leask\n',
 '\nAasif Sheikh\n',
 '\nAsif Khan\n',
 '\nAyaan Khan\n',
 '\nAzmatullah Omarzai\n',
 '\nMartin Guptill\n',
 '\nKashyap Prajapati\n',
 '\nCraig Ervine\n',
 '\nSteven Taylor\n',
 '\nR.K. Paudel\n',
 '\nNajibullah Zadran\n',
 '\nShikhar Dhawan\n',
 '\nGeorge Dockrell\n',
 '\nMohammad Nabi\n',
 '\nBrandon King\n',
 '\nMichael van Lingen\n',
 '\nJatinder Singh\n',
 '\nHenry Nicholls\n',
 '\nHardik Pandya\n',
 '\nIftikhar Ahmed\n',
 '\nTowhid Hridoy\n',
 '\nBrandon McMullen\n',
 '\nCurtis Campher\n',
 '\nRyan Burl\n',
 '\nTeja Nidamanuru\n',
 '\nSuryakumar Yadav\n',
 '\nHaris Sohail\n',
 '\nKushal Bhurtel\n',
 '\nVikramjit Singh\n']

In [250]:
topten_batter=batter_name[:10]

In [251]:
topten_batter

['Shubman Gill',
 '\nBabar Azam\n',
 '\nVirat Kohli\n',
 '\nRohit Sharma\n',
 '\nQuinton de Kock\n',
 '\nDaryl Mitchell\n',
 '\nDavid Warner\n',
 '\nRassie van der Dussen\n',
 '\nHarry Tector\n',
 '\nDawid Malan\n']

In [305]:
BATTER=[word.replace('\n','') for word in topten_batter]
print(BATTER)

['Shubman Gill', 'Babar Azam', 'Virat Kohli', 'Rohit Sharma', 'Quinton de Kock', 'Daryl Mitchell', 'David Warner', 'Rassie van der Dussen', 'Harry Tector', 'Dawid Malan']

In [306]:
for player in BATTER:
    print(player)

Shubman Gill
Babar Azam
Virat Kohli
Rohit Sharma
Quinton de Kock
Daryl Mitchell
David Warner
Rassie van der Dussen
Harry Tector
Dawid Malan

In [307]:
BATTER

['Shubman Gill',
 'Babar Azam',
 'Virat Kohli',
 'Rohit Sharma',
 'Quinton de Kock',
 'Daryl Mitchell',
 'David Warner',
 'Rassie van der Dussen',
 'Harry Tector',
 'Dawid Malan']

In [256]:
soup=BeautifulSoup(page.content)
team=[]
for i in soup.find_all('div',class_='rankings-block__banner--nationality'): 
    team.append(i.text)
        
    
team

['\n\nIND\n                    ']

In [261]:
soup=BeautifulSoup(page.content)

for i in soup.find_all('span',class_='table-body__logo-text'): 
    team.append(i.text)

In [262]:
team

['\n\nIND\n                    ',
 'PAK',
 'IND',
 'IND',
 'SA',
 'NZ',
 'AUS',
 'SA',
 'IRE',
 'ENG',
 'SA',
 'IND',
 'AFG',
 'PAK',
 'AUS',
 'WI',
 'SA',
 'PAK',
 'IND',
 'AUS',
 'SA',
 'AUS',
 'SL',
 'IRE',
 'AFG',
 'NED',
 'AUS',
 'SL',
 'ZIM',
 'NAM',
 'SA',
 'ENG',
 'WI',
 'NZ',
 'BAN',
 'PAK',
 'ENG',
 'ENG',
 'ENG',
 'AFG',
 'ENG',
 'NZ',
 'NZ',
 'AUS',
 'BAN',
 'ZIM',
 'IND',
 'SL',
 'NZ',
 'BAN',
 'BAN',
 'AFG',
 'PNG',
 'SL',
 'SCO',
 'BAN',
 'AUS',
 'IRE',
 'NZ',
 'BAN',
 'UAE',
 'USA',
 'USA',
 'NED',
 'SCO',
 'OMA',
 'UAE',
 'NZ',
 'SCO',
 'USA',
 'OMA',
 'SCO',
 'NEP',
 'UAE',
 'OMA',
 'AFG',
 'NZ',
 'OMA',
 'ZIM',
 'USA',
 'NEP',
 'AFG',
 'IND',
 'IRE',
 'AFG',
 'WI',
 'NAM',
 'OMA',
 'NZ',
 'IND',
 'PAK',
 'BAN',
 'SCO',
 'IRE',
 'ZIM',
 'NED',
 'IND',
 'PAK',
 'NEP',
 'NED']

In [304]:
TEAM=team[:10]
TEAM

['\n\nIND\n                    ',
 'PAK',
 'IND',
 'IND',
 'SA',
 'NZ',
 'AUS',
 'SA',
 'IRE',
 'ENG']

In [274]:
soup=BeautifulSoup(page.content)
rating=[]
for i in soup.find_all('div',class_='rankings-block__banner--rating'): 
    rating.append(i.text)

In [275]:
rating

['826']

In [278]:
soup=BeautifulSoup(page.content)

for i in soup.find_all('td',class_='table-body__cell rating'): 
    rating.append(i.text)

In [311]:
rating

'729'

TypeError: 'str' object is not callable

In [312]:
Rating

['826', '824', '791', '769', '760', '750', '745', '735', '729', '729']

In [313]:
Rating

['826', '824', '791', '769', '760', '750', '745', '735', '729', '729']

In [314]:
odi_bat=pd.DataFrame({'Batsman':BATTER,'Team':TEAM,'RATING':Rating})

In [315]:
odi_bat

                 Batsman                           Team RATING
0           Shubman Gill  \n\nIND\n                        826
1             Babar Azam                            PAK    824
2            Virat Kohli                            IND    791
3           Rohit Sharma                            IND    769
4        Quinton de Kock                             SA    760
5         Daryl Mitchell                             NZ    750
6           David Warner                            AUS    745
7  Rassie van der Dussen                             SA    735
8           Harry Tector                            IRE    729
9            Dawid Malan                            ENG    729

In [4]:
# top 10 odi bowlers with record of their team and rating
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page

In [5]:
soup=BeautifulSoup(page.content)
bowler=[]
for i in soup.find_all('div',class_='rankings-block__banner--name-large'): 
    bowler.append(i.text)

In [6]:
bowler

['Keshav Maharaj']

In [7]:
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'): 
    bowler.append(i.text)

In [8]:
Bowler=bowler[:10]

In [9]:
Bowler

['Keshav Maharaj',
 '\nJosh Hazlewood\n',
 '\nMohammed Siraj\n',
 '\nJasprit Bumrah\n',
 '\nAdam Zampa\n',
 '\nRashid Khan\n',
 '\nKuldeep Yadav\n',
 '\nTrent Boult\n',
 '\nShaheen Afridi\n',
 '\nMohammad Shami\n']

In [ ]:
Bowler

In [10]:
team=[]
for i in soup.find_all('div',class_='rankings-block__banner--nationality'): 
    team.append(i.text)

In [15]:
for i in soup.find_all('span',class_='table-body__logo-text'): 
    team.append(i.text)

In [16]:
team

['\n\nSA\n                    ',
 'AUS',
 'IND',
 'IND',
 'AUS',
 'AFG',
 'IND',
 'NZ',
 'PAK',
 'IND',
 'AFG',
 'AUS',
 'AFG',
 'SA',
 'ENG',
 'SL',
 'SCO',
 'NZ',
 'NZ',
 'IND',
 'NAM',
 'USA',
 'ENG',
 'BAN',
 'WI',
 'PAK',
 'AUS',
 'ENG',
 'WI',
 'SA',
 'SA',
 'IRE',
 'NEP',
 'ENG',
 'IRE',
 'BAN',
 'SA',
 'SL',
 'ZIM',
 'AFG',
 'BAN',
 'ENG',
 'SCO',
 'NAM',
 'PAK',
 'NED',
 'UAE',
 'NZ',
 'OMA',
 'NED',
 'IRE',
 'OMA',
 'ZIM',
 'OMA',
 'USA',
 'SA',
 'SCO',
 'UAE',
 'BAN',
 'PAK',
 'ZIM',
 'IRE',
 'SL',
 'PNG',
 'PNG',
 'ENG',
 'NEP',
 'AUS',
 'IND',
 'UAE',
 'ENG',
 'UAE',
 'IND',
 'BAN',
 'SCO',
 'PAK',
 'WI',
 'SL',
 'NED',
 'NZ',
 'NAM',
 'PAK',
 'NEP',
 'SCO',
 'IRE',
 'PAK',
 'NED',
 'WI',
 'SL',
 'USA',
 'NEP',
 'AUS',
 'BAN',
 'NZ',
 'NEP',
 'IND',
 'SA',
 'SL',
 'ENG',
 'SL']

In [17]:
Team=team[:10]

In [18]:
Team

['\n\nSA\n                    ',
 'AUS',
 'IND',
 'IND',
 'AUS',
 'AFG',
 'IND',
 'NZ',
 'PAK',
 'IND']

In [19]:
rating=[]
for i in soup.find_all('div',class_='rankings-block__banner--rating'): 
    rating.append(i.text)

In [20]:
rating

['741']

In [21]:
for i in soup.find_all('td',class_='table-body__cell rating'): 
    rating.append(i.text)

In [22]:
rating

['741',
 '703',
 '699',
 '685',
 '675',
 '667',
 '667',
 '663',
 '650',
 '648',
 '648',
 '622',
 '621',
 '617',
 '614',
 '611',
 '611',
 '611',
 '600',
 '590',
 '589',
 '586',
 '582',
 '578',
 '563',
 '563',
 '562',
 '558',
 '558',
 '553',
 '551',
 '545',
 '539',
 '531',
 '529',
 '522',
 '521',
 '518',
 '518',
 '516',
 '514',
 '513',
 '509',
 '508',
 '505',
 '501',
 '500',
 '499',
 '499',
 '493',
 '487',
 '483',
 '482',
 '481',
 '479',
 '479',
 '477',
 '473',
 '472',
 '468',
 '468',
 '465',
 '464',
 '464',
 '462',
 '461',
 '458',
 '456',
 '453',
 '446',
 '444',
 '439',
 '437',
 '436',
 '431',
 '429',
 '429',
 '428',
 '427',
 '424',
 '421',
 '418',
 '418',
 '417',
 '416',
 '415',
 '414',
 '411',
 '411',
 '409',
 '409',
 '408',
 '405',
 '400',
 '399',
 '399',
 '397',
 '397',
 '394',
 '393']

In [23]:
Rating=rating[:10]

In [24]:
Rating

['741', '703', '699', '685', '675', '667', '667', '663', '650', '648']

In [25]:
odi_bowler=pd.DataFrame({'BOWLER':Bowler,'TEAM':Team,'RATING':Rating})

In [26]:
odi_bowler

               BOWLER                          TEAM RATING
0      Keshav Maharaj  \n\nSA\n                        741
1  \nJosh Hazlewood\n                           AUS    703
2  \nMohammed Siraj\n                           IND    699
3  \nJasprit Bumrah\n                           IND    685
4      \nAdam Zampa\n                           AUS    675
5     \nRashid Khan\n                           AFG    667
6   \nKuldeep Yadav\n                           IND    667
7     \nTrent Boult\n                            NZ    663
8  \nShaheen Afridi\n                           PAK    650
9  \nMohammad Shami\n                           IND    648

In [27]:
#4 Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
page1=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page1

In [29]:
soup=BeautifulSoup(page1.content)
team=[]
for i in soup.find_all('span',class_='u-hide-phablet'): 
    team.append(i.text)

In [30]:
team

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Sri Lanka',
 'Bangladesh',
 'Thailand',
 'Pakistan',
 'Ireland',
 'Netherlands',
 'Zimbabwe']

In [31]:
Team_women=team[:10]

In [32]:
Team_women

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Sri Lanka',
 'Bangladesh',
 'Thailand',
 'Pakistan']

In [33]:
soup=BeautifulSoup(page1.content)
Matches_women=[]
for i in soup.find_all('td',class_='rankings-block__banner--matches'): 
    Matches_women.append(i.text)

In [34]:
Matches_women

['21']

In [35]:
for i in soup.find_all('td',class_='table-body__cell u-center-text'): 
    Matches_women.append(i.text)

In [65]:
Matches_women

['21',
 '23',
 '2,991',
 '21',
 '2,446',
 '18',
 '1,745',
 '21',
 '2,014',
 '20',
 '1,768',
 '9',
 '714',
 '14',
 '1,074',
 '11',
 '753',
 '24',
 '1,602',
 '16',
 '571',
 '9',
 '94',
 '7',
 '0']

In [66]:
soup=BeautifulSoup(page1.content)
Points_women=[]
for i in soup.find_all('td',class_='rankings-block__banner--points'): 
    Points_women.append(i.text)

In [67]:
Points_women

['3,429']

In [68]:
soup=BeautifulSoup(page.content)
matches_Women=[]

for number in Matches_women:
    number=number.replace(',','')
    if number.isdigit() and len(number)<=2:
        matches_Women.append(number)
    else:
        Points_women.append(number)

In [81]:
matches_Women
Matches_Women=matches_Women[:10]
Matches_Women

['21', '23', '21', '18', '21', '20', '9', '14', '11', '24']

In [70]:
Points_women

['3,429',
 '2991',
 '2446',
 '1745',
 '2014',
 '1768',
 '714',
 '1074',
 '753',
 '1602',
 '571']

In [71]:
Points_Women=Points_women[:10]

In [72]:
Points_Women

['3,429', '2991', '2446', '1745', '2014', '1768', '714', '1074', '753', '1602']

In [73]:
soup=BeautifulSoup(page1.content)
Rating_women=[]
for i in soup.find_all('td',class_='rankings-block__banner--rating u-text-right'): 
    Rating_women.append(i.text)

In [74]:
Rating_women

['\n                            163\n                            \n\n']

In [75]:
for i in soup.find_all('td',class_='table-body__cell u-text-right rating'): 
    Rating_women.append(i.text)

In [76]:
Rating_women

['\n                            163\n                            \n\n',
 '130',
 '116',
 '97',
 '96',
 '88',
 '79',
 '77',
 '68',
 '67',
 '36',
 '10',
 '0']

In [77]:
Rating_Women=Rating_women[:10]

In [78]:
Rating_Women

['\n                            163\n                            \n\n',
 '130',
 '116',
 '97',
 '96',
 '88',
 '79',
 '77',
 '68',
 '67']

In [82]:
odi_womenteam=pd.DataFrame({'Team':Team_women,'Matches':Matches_Women,'Points':Points_Women,'Rating':Rating_Women})

In [83]:
odi_womenteam

,Team,Matches,Points,Rating
0,Australia,21,"3,429",\n 163\n ...
1,England,23,2991,130
2,South Africa,21,2446,116
3,India,18,1745,97
4,New Zealand,21,2014,96
5,West Indies,20,1768,88
6,Sri Lanka,9,714,79
7,Bangladesh,14,1074,77
8,Thailand,11,753,68
9,Pakistan,24,1602,67

In [84]:
# Top 10 womenâs ODI Batting players along with the records of their team and rating.
pages=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
pages

In [87]:
soup=BeautifulSoup(pages.content)
player=[]
for i in soup.find_all('div',class_='rankings-block__banner--name-large'): 
    player.append(i.text)

In [88]:
player

['Natalie Sciver-Brunt']

In [89]:
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'): 
    player.append(i.text)

In [90]:
player

['Natalie Sciver-Brunt',
 '\nBeth Mooney\n',
 '\nChamari Athapaththu\n',
 '\nLaura Wolvaardt\n',
 '\nSmriti Mandhana\n',
 '\nAlyssa Healy\n',
 '\nEllyse Perry\n',
 '\nHarmanpreet Kaur\n',
 '\nMeg Lanning\n',
 '\nMarizanne Kapp\n',
 '\nAmelia Kerr\n',
 '\nHeather Knight\n',
 '\nTammy Beaumont\n',
 '\nChloe-Lesleigh Tryon\n',
 '\nAshleigh Gardner\n',
 '\nFargana Hoque\n',
 '\nHayley Matthews\n',
 '\nStafanie Taylor\n',
 '\nDanielle Wyatt\n',
 '\nSophie Devine\n',
 '\nSidra Ameen\n',
 '\nGaby Lewis\n',
 '\nNattakan Chantam\n',
 '\nSuzie Bates\n',
 '\nDeepti Sharma\n',
 '\nSune Luus\n',
 '\nAmy Jones\n',
 '\nNigar Sultana\n',
 '\nLaura Delany\n',
 '\nBismah Maroof\n',
 '\nAliya Riaz\n',
 '\nNida Dar\n',
 '\nMaddie Green\n',
 '\nTahlia McGrath\n',
 '\nOrla Prendergast\n',
 '\nLeah Paul\n',
 '\nAnnabel Sutherland\n',
 '\nSophia Dunkley\n',
 '\nYastika Bhatia\n',
 '\nAmy Hunter\n',
 '\nNaruemol Chaiwai\n',
 '\nPhoebe Litchfield\n',
 '\nShafali Verma\n',
 '\nEmma Lamb\n',
 '\nBrooke Halliday\n',
 '\nUmaima Sohail\n',
 '\nBabette de Leede\n',
 '\nHarshitha Madavi\n',
 '\nRumana Ahmed\n',
 '\nLara Goodall\n',
 '\nPooja Vastrakar\n',
 '\nMuneeba Ali\n',
 '\nNilakshi Silva\n',
 '\nHarleen Deol\n',
 '\nKavisha Dilhari\n',
 '\nJess Jonassen\n',
 '\nLauren Down\n',
 '\nJemimah Rodriques\n',
 '\nHasini Perera\n',
 '\nSharne Mayers\n',
 '\nKathryn Bryce\n',
 '\nGeorgia Wareham\n',
 '\nNannapat Koncharoenkai\n',
 '\nTazmin Brits\n',
 '\nTrisha Chetty\n',
 '\nSalma Khatun\n',
 '\nSadaf Shamas\n',
 '\nShemaine Campbelle\n',
 '\nRicha Ghosh\n',
 '\nNadine Klerk\n',
 '\nAndrie Steyn\n',
 '\nCharlotte Dean\n',
 '\nHeather Siegers\n',
 '\nChinelle Henry\n',
 '\nChedean Nation\n',
 '\nSharmin Supta\n',
 '\nPrasadani Weerakkody\n',
 '\nLata Mondal\n',
 '\nMurshida Khatun\n',
 '\nRitu Moni\n',
 '\nRashada Williams\n',
 '\nRobine Rijke\n',
 '\nJosephine Nkomo\n',
 '\nShamima Sultana\n',
 '\nKycia Knight\n',
 '\nMary Waldron\n',
 '\nArlene Kelly\n',
 '\nSophie Ecclestone\n',
 '\nAlice Capsey\n',
 '\nSobhana Mostari\n',
 '\nKate Cross\n',
 '\nHannah Rowe\n',
 '\nRosenan Kanoh\n',
 '\nFatima Sana\n',
 '\nGeorgina Dempsey\n',
 '\nJess Kerr\n',
 '\nEimear Richardson\n',
 '\nFrederique Overdijk\n',
 '\nDiana Baig\n',
 '\nMeghna Singh\n']

In [91]:
Player_women=player[:10]

In [92]:
Player_women

['Natalie Sciver-Brunt',
 '\nBeth Mooney\n',
 '\nChamari Athapaththu\n',
 '\nLaura Wolvaardt\n',
 '\nSmriti Mandhana\n',
 '\nAlyssa Healy\n',
 '\nEllyse Perry\n',
 '\nHarmanpreet Kaur\n',
 '\nMeg Lanning\n',
 '\nMarizanne Kapp\n']

In [93]:
soup=BeautifulSoup(pages.content)
team=[]
for i in soup.find_all('div',class_='rankings-block__banner--nationality'): 
    team.append(i.text)

In [94]:
team

['\n\nENG\n                    ']

In [95]:
for i in soup.find_all('td',class_='table-body__cell nationality-logo rankings-table__team'): 
    team.append(i.text)

In [96]:
team

['\n\nENG\n                    ',
 '\n\nAUS\n',
 '\n\nSL\n',
 '\n\nSA\n',
 '\n\nIND\n',
 '\n\nAUS\n',
 '\n\nAUS\n',
 '\n\nIND\n',
 '\n\nAUS\n',
 '\n\nSA\n',
 '\n\nNZ\n',
 '\n\nENG\n',
 '\n\nENG\n',
 '\n\nSA\n',
 '\n\nAUS\n',
 '\n\nBAN\n',
 '\n\nWI\n',
 '\n\nWI\n',
 '\n\nENG\n',
 '\n\nNZ\n',
 '\n\nPAK\n',
 '\n\nIRE\n',
 '\n\nTHA\n',
 '\n\nNZ\n',
 '\n\nIND\n',
 '\n\nSA\n',
 '\n\nENG\n',
 '\n\nBAN\n',
 '\n\nIRE\n',
 '\n\nPAK\n',
 '\n\nPAK\n',
 '\n\nPAK\n',
 '\n\nNZ\n',
 '\n\nAUS\n',
 '\n\nIRE\n',
 '\n\nIRE\n',
 '\n\nAUS\n',
 '\n\nENG\n',
 '\n\nIND\n',
 '\n\nIRE\n',
 '\n\nTHA\n',
 '\n\nAUS\n',
 '\n\nIND\n',
 '\n\nENG\n',
 '\n\nNZ\n',
 '\n\nPAK\n',
 '\n\nNED\n',
 '\n\nSL\n',
 '\n\nBAN\n',
 '\n\nSA\n',
 '\n\nIND\n',
 '\n\nPAK\n',
 '\n\nSL\n',
 '\n\nIND\n',
 '\n\nSL\n',
 '\n\nAUS\n',
 '\n\nNZ\n',
 '\n\nIND\n',
 '\n\nSL\n',
 '\n\nZIM\n',
 '\n\nSCO\n',
 '\n\nAUS\n',
 '\n\nTHA\n',
 '\n\nSA\n',
 '\n\nSA\n',
 '\n\nBAN\n',
 '\n\nPAK\n',
 '\n\nWI\n',
 '\n\nIND\n',
 '\n\nSA\n',
 '\n\nSA\n',
 '\n\nENG\n',
 '\n\nNED\n',
 '\n\nWI\n',
 '\n\nWI\n',
 '\n\nBAN\n',
 '\n\nSL\n',
 '\n\nBAN\n',
 '\n\nBAN\n',
 '\n\nBAN\n',
 '\n\nWI\n',
 '\n\nNED\n',
 '\n\nZIM\n',
 '\n\nBAN\n',
 '\n\nWI\n',
 '\n\nIRE\n',
 '\n\nIRE\n',
 '\n\nENG\n',
 '\n\nENG\n',
 '\n\nBAN\n',
 '\n\nENG\n',
 '\n\nNZ\n',
 '\n\nTHA\n',
 '\n\nPAK\n',
 '\n\nIRE\n',
 '\n\nNZ\n',
 '\n\nIRE\n',
 '\n\nNED\n',
 '\n\nPAK\n',
 '\n\nIND\n']

In [97]:
Team_women=team[:10]

In [98]:
Team_women

['\n\nENG\n                    ',
 '\n\nAUS\n',
 '\n\nSL\n',
 '\n\nSA\n',
 '\n\nIND\n',
 '\n\nAUS\n',
 '\n\nAUS\n',
 '\n\nIND\n',
 '\n\nAUS\n',
 '\n\nSA\n']

In [99]:
soup=BeautifulSoup(pages.content)
rating_wo=[]
for i in soup.find_all('div',class_='rankings-block__banner--rating'): 
    rating_wo.append(i.text)

In [100]:
rating_wo

['807']

In [101]:
for i in soup.find_all('td',class_='table-body__cell rating'): 
    rating_wo.append(i.text)

In [102]:
rating_wo

['807',
 '750',
 '736',
 '727',
 '708',
 '698',
 '697',
 '694',
 '662',
 '642',
 '628',
 '597',
 '596',
 '582',
 '579',
 '575',
 '574',
 '569',
 '553',
 '553',
 '552',
 '536',
 '535',
 '531',
 '515',
 '503',
 '502',
 '488',
 '488',
 '483',
 '481',
 '472',
 '463',
 '431',
 '425',
 '418',
 '417',
 '414',
 '413',
 '412',
 '412',
 '384',
 '382',
 '380',
 '377',
 '376',
 '375',
 '375',
 '368',
 '366',
 '363',
 '352',
 '352',
 '349',
 '348',
 '343',
 '326',
 '326',
 '325',
 '324',
 '324',
 '308',
 '304',
 '296',
 '296',
 '295',
 '294',
 '294',
 '293',
 '293',
 '293',
 '292',
 '288',
 '286',
 '286',
 '285',
 '284',
 '277',
 '275',
 '275',
 '274',
 '263',
 '260',
 '258',
 '256',
 '255',
 '253',
 '253',
 '247',
 '247',
 '245',
 '243',
 '240',
 '237',
 '234',
 '228',
 '227',
 '225',
 '223',
 '215']

In [103]:
Rating_women=rating_wo[:10]

In [104]:
Rating_women

['807', '750', '736', '727', '708', '698', '697', '694', '662', '642']

In [105]:
odi_women_batter=pd.DataFrame({'Player':Player_women,'Team':Team_women,'Rating':Rating_women})

In [106]:
odi_women_batter

                    Player                           Team Rating
0     Natalie Sciver-Brunt  \n\nENG\n                        807
1          \nBeth Mooney\n                      \n\nAUS\n    750
2  \nChamari Athapaththu\n                       \n\nSL\n    736
3      \nLaura Wolvaardt\n                       \n\nSA\n    727
4      \nSmriti Mandhana\n                      \n\nIND\n    708
5         \nAlyssa Healy\n                      \n\nAUS\n    698
6         \nEllyse Perry\n                      \n\nAUS\n    697
7     \nHarmanpreet Kaur\n                      \n\nIND\n    694
8          \nMeg Lanning\n                      \n\nAUS\n    662
9       \nMarizanne Kapp\n                       \n\nSA\n    642

In [107]:
# Top 10 womenâs ODI all-rounder along with the records of their team and rating.
pagess=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
pagess

In [108]:
soup=BeautifulSoup(pagess.content)
playerr=[]
for i in soup.find_all('div',class_='rankings-block__banner--name-large'): 
    playerr.append(i.text)

In [109]:
playerr

['Marizanne Kapp']

In [110]:
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'): 
    playerr.append(i.text)

In [111]:
playerr

['Marizanne Kapp',
 '\nAshleigh Gardner\n',
 '\nNatalie Sciver-Brunt\n',
 '\nHayley Matthews\n',
 '\nAmelia Kerr\n',
 '\nDeepti Sharma\n',
 '\nEllyse Perry\n',
 '\nNida Dar\n',
 '\nJess Jonassen\n',
 '\nSophie Devine\n',
 '\nChloe-Lesleigh Tryon\n',
 '\nChamari Athapaththu\n',
 '\nSophie Ecclestone\n',
 '\nLaura Delany\n',
 '\nCharlotte Dean\n',
 '\nRumana Ahmed\n',
 '\nAnnabel Sutherland\n',
 '\nGeorgia Wareham\n',
 '\nKate Cross\n',
 '\nStafanie Taylor\n']

In [112]:
Player_all_women=playerr[:10]

In [113]:
Player_all_women

['Marizanne Kapp',
 '\nAshleigh Gardner\n',
 '\nNatalie Sciver-Brunt\n',
 '\nHayley Matthews\n',
 '\nAmelia Kerr\n',
 '\nDeepti Sharma\n',
 '\nEllyse Perry\n',
 '\nNida Dar\n',
 '\nJess Jonassen\n',
 '\nSophie Devine\n']

In [114]:
soup=BeautifulSoup(pagess.content)
team_all_women=[]
for i in soup.find_all('div',class_='rankings-block__banner--nationality'): 
    team_all_women.append(i.text)

In [115]:
team_all_women

['\n\nSA\n                    ']

In [116]:
for i in soup.find_all('span',class_='table-body__logo-text'): 
    team_all_women.append(i.text)

In [117]:
team_all_women

['\n\nSA\n                    ',
 'AUS',
 'ENG',
 'WI',
 'NZ',
 'IND',
 'AUS',
 'PAK',
 'AUS',
 'NZ',
 'SA',
 'SL',
 'ENG',
 'IRE',
 'ENG',
 'BAN',
 'AUS',
 'AUS',
 'ENG',
 'WI']

In [118]:
Team_all_women=team_all_women[:10]

In [119]:
Team_all_women

['\n\nSA\n                    ',
 'AUS',
 'ENG',
 'WI',
 'NZ',
 'IND',
 'AUS',
 'PAK',
 'AUS',
 'NZ']

In [120]:
soup=BeautifulSoup(pagess.content)
rating_all_women=[]
for i in soup.find_all('div',class_='rankings-block__banner--rating'): 
    rating_all_women.append(i.text)

In [121]:
rating_all_women

['385']

In [122]:
for i in soup.find_all('td',class_='table-body__cell rating'): 
    rating_all_women.append(i.text)

In [123]:
rating_all_women

['385',
 '377',
 '360',
 '358',
 '346',
 '312',
 '282',
 '240',
 '227',
 '227',
 '212',
 '190',
 '188',
 '172',
 '166',
 '156',
 '153',
 '153',
 '153',
 '147']

In [124]:
Rating_all_women=rating_all_women[:10]

In [125]:
Rating_all_women

['385', '377', '360', '358', '346', '312', '282', '240', '227', '227']

In [126]:
odi_all_women=pd.DataFrame({'Player':Player_all_women,'Team':Team_all_women,'Rating':Rating_all_women})

In [127]:
odi_all_women

                     Player                          Team Rating
0            Marizanne Kapp  \n\nSA\n                        385
1      \nAshleigh Gardner\n                           AUS    377
2  \nNatalie Sciver-Brunt\n                           ENG    360
3       \nHayley Matthews\n                            WI    358
4           \nAmelia Kerr\n                            NZ    346
5         \nDeepti Sharma\n                           IND    312
6          \nEllyse Perry\n                           AUS    282
7              \nNida Dar\n                           PAK    240
8         \nJess Jonassen\n                           AUS    227
9         \nSophie Devine\n                            NZ    227

In [131]:
# 6 Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make a dataframe
Page=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
Page

In [139]:
soup=BeautifulSoup(Page.content)
paper_title=[]
for i in soup.find_all('h2',class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg'): 
    paper_title.append(i.text)

In [140]:
paper_title

['Reward is enough',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Creativity and artificial intelligence',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Knowledge graphs as tools for explainable machine learning: A survey',
 'Law and logic: A review from an argumentation perspective',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'Multiple object tracking: A literature review',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Explainable AI tools for legal reasoning about cases: A study on the European Court of Human Rights',
 'Hard choices in artificial intelligence',
 'Assessing the communication gap between AI models and healthcare professionals: Explainability, utility and trust in AI-driven clinical decision-making',
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'The Hanabi challenge: A new frontier for AI research',
 'Wrappers for feature subset selection',
 'Artificial cognition for social humanârobot interaction: An implementation',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'The multifaceted impact of Ada Lovelace in the digital age',
 'Robot ethics: Mapping the issues for a mechanized world',
 'Reward (Mis)design for autonomous driving',
 'Planning and acting in partially observable stochastic domains',
 'What do we want from Explainable Artificial Intelligence (XAI)? â A stakeholder perspective on XAI and a conceptual model guiding interdisciplinary XAI research']

In [141]:
soup=BeautifulSoup(Page.content)
author_name=[]
for i in soup.find_all('span',class_='sc-1w3fpd7-0 dnCnAO'): 
    author_name.append(i.text)

In [142]:
author_name

['David Silver, Satinder Singh, Doina Precup, Richard S. Sutton ',
 'Tim Miller ',
 'Margaret A. Boden ',
 'Guni Sharon, Roni Stern, Ariel Felner, Nathan R. Sturtevant ',
 'Ilaria Tiddi, Stefan Schlobach ',
 'Henry Prakken, Giovanni Sartor ',
 'Richard S. Sutton, Doina Precup, Satinder Singh ',
 'Kjersti Aas, Martin Jullum, Anders LÃ¸land ',
 'Wenhan Luo, Junliang Xing and 4 more',
 'Saurabh Arora, Prashant Doshi ',
 'Jasper van der Waa, Elisabeth Nieuwburg, Anita Cremers, Mark Neerincx ',
 'Joe Collenette, Katie Atkinson, Trevor Bench-Capon ',
 'Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz ',
 'Oskar Wysocki, Jessica Katharine Davies and 5 more',
 'Eoin M. Kenny, Courtney Ford, Molly Quinn, Mark T. Keane ',
 'Nolan Bard, Jakob N. Foerster and 13 more',
 'Ron Kohavi, George H. John ',
 'SÃ©verin Lemaignan, Mathieu Warnier and 3 more',
 'TomÃ¡Å¡ Kliegr, Å tÄpÃ¡n BahnÃ­k, Johannes FÃ¼rnkranz ',
 'Luigia Carlucci Aiello ',
 'Patrick Lin, Keith Abney, George Bekey ',
 'W. Bradley Knox, Alessandro Allievi and 3 more',
 'Leslie Pack Kaelbling, Michael L. Littman, Anthony R. Cassandra ',
 'Markus Langer, Daniel Oster and 6 more']

In [143]:
soup=BeautifulSoup(Page.content)
publish_date=[]
for i in soup.find_all('span',class_='sc-1thf9ly-2 dvggWt'): 
    publish_date.append(i.text)

In [145]:
publish_date

['October 2021',
 'February 2019',
 'August 1998',
 'February 2015',
 'January 2022',
 'October 2015',
 'August 1999',
 'September 2021',
 'April 2021',
 'August 2021',
 'February 2021',
 'April 2023',
 'November 2021',
 'March 2023',
 'May 2021',
 'March 2020',
 'December 1997',
 'June 2017',
 'June 2021',
 'June 2016',
 'April 2011',
 'March 2023',
 'May 1998',
 'July 2021']

In [150]:
soup=BeautifulSoup(Page.content)
paper_url=[]
for i in soup.find_all('span',class_='anchor-text'): 
    paper_url.append(i.text)

In [151]:
paper_url

[]

In [148]:
most_download=pd.DataFrame({'Paper title':paper_title,'Author':author_name,'Published date':publish_date})

In [149]:
most_download

,Paper title,Author,Published date
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders LÃ¸land",September 2021
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997
17,Artificial cognition for social humanârobot in...,"SÃ©verin Lemaignan, Mathieu Warnier and 3 more",June 2017
18,A review of possible effects of cognitive bias...,"TomÃ¡Å¡ Kliegr, Å tÄpÃ¡n BahnÃ­k, Johannes FÃ¼rnkranz",June 2021
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021

In [174]:
# 7 Write a python program to scrape mentioned details from dineout.co.inand make data frame
Pages=requests.get('https://www.dineout.co.in/delhi-restaurants?search_str=restaurants')
Pages

In [175]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import regex as re

In [184]:
soup=BeautifulSoup(Pages.content)
Restaurant_name=[]
for i in soup.find_all('div',class_="restnt-info cursor"):
    Restaurant_name.append(i.text)

In [185]:
Restaurant_name

['Kwality RestaurantRegal Cinema Complex,Connaught Place, Central Delhi',
 'Ardor 2.1 Restaurant and LoungeConnaught Place, Central Delhi',
 'The G.T. RoadM-Block,Connaught Place, Central Delhi',
 'Ghoomar Traditional Thali RestaurantConnaught Place, Central Delhi',
 'Connaught Club HouseConnaught Place, Central Delhi',
 'SandozConnaught Place, Central Delhi',
 'Somewhere Restaurant & BarConnaught Place, Central Delhi',
 'Minar RestaurantConnaught Place, Central Delhi',
 'My Bar HeadquartersConnaught Place, Central Delhi',
 'THE ART HOUSE RestaurantConnaught Place, Central Delhi',
 'Unplugged CourtyardConnaught Place, Central Delhi',
 'Ministry Of BeerM-Block,Connaught Place, Central Delhi',
 'Openhouse CafeConnaught Place, Central Delhi',
 'TamashaConnaught Place, Central Delhi',
 'LocalScindia House,Connaught Place, Central Delhi',
 'Farzi CafeConnaught Place, Central Delhi',
 'The Gem Bar & RestaurantPaharganj, Central Delhi',
 'Yeti - The Himalayan KitchenThe Colonnade,Connaught Place, Central Delhi',
 'Preamble RestaurantConnaught Place, Central Delhi',
 "Sam's Restaurant & BarVivek Hotel,Paharganj, Central Delhi",
 '38 BarracksM-Block,Connaught Place, Central Delhi']

In [179]:
soup=BeautifulSoup(Pages.content)
Restaurant_location=[]
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    Restaurant_location.append(i.text)

In [180]:
Restaurant_location

['Regal Cinema Complex,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'M-Block,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Scindia House,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Paharganj, Central Delhi',
 'The Colonnade,Connaught Place, Central Delhi',
 'Connaught Place, Central Delhi',
 'Vivek Hotel,Paharganj, Central Delhi',
 'M-Block,Connaught Place, Central Delhi']

In [186]:
soup=BeautifulSoup(Pages.content)
Restaurant_rating=[]
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    Restaurant_rating.append(i.text)

In [187]:
Restaurant_rating

['4.4',
 '4.1',
 '4.3',
 '4.1',
 '4.2',
 '4',
 '4.1',
 '4.4',
 '4',
 '3.8',
 '4',
 '4',
 '4.1',
 '4.2',
 '4',
 '4.1',
 '4',
 '4.3',
 '4.3',
 '4.1',
 '4.3']

In [209]:
soup=BeautifulSoup(Pages.content)
Restaurant_image=[]
for i in soup.find_all('img',class_="no-img"):
    Restaurant_image.append(i['data-src'])

In [210]:
Restaurant_image

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/z/l/p2898-15451127095c188c853d291.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/y/m/p221-16455303976214cd1d7a086.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/m/u/p31393-15972091555f337a43bb961.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/e/z/p53380-15544492915ca7038b700f1.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/m/h/p77626-1700647555655dd283a16dc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/e/u/p80493-16064603115fc0a397716de.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/m/p/p105609-16509585496267a0d52450f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/u/a/p2845-14496435275667ce07ceeae.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/d/f/p19636-16463919576221f295ae1f1.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/x/d/p49746-16615135396308af43345a3.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/e/y/p20941-168915645564ae7b673b872.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/a/d/p32381-1495943585592a49a166fe7.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/e/q/p19748-169217151564dc7cfba4753.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/a/j/p20996-145631488756cd9a0796608.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/b/t/p27452-15020105505986dcb6d147f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/y/y/p4199-164188203361dd21b1a3174.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/f/v/p12701-15016594065981810e0ff0c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/c/p3007-15706949095d9ee6fd0b8b4.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/q/m/p98458-1634647496616ebdc8bfc26.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/j/q/p18230-14628683175731995d9d0cb.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/y/j/p21171-166019927162f4a167b10af.jpg?tr=tr:n-medium']

In [203]:
soup=BeautifulSoup(Pages.content)
Restaurant_cuisine=[]
for i in soup.find_all('span',class_="double-line-ellipsis"):
    Restaurant_cuisine.append(i.text)

In [204]:
Restaurant_cuisine

['â¹ 2,000 for 2 (approx) | North Indian, Continental, Mughlai',
 'â¹ 2,000 for 2 (approx) | North Indian, Chinese, Italian, Continental',
 'â¹ 2,000 for 2 (approx) | North Indian',
 'â¹ 1,200 for 2 (approx) | North Indian, Rajasthani',
 'â¹ 1,800 for 2 (approx) | North Indian, Continental, Asian, Chinese',
 'â¹ 1,400 for 2 (approx) | North Indian, Continental',
 'â¹ 1,000 for 2 (approx) | North Indian, Continental, Asian',
 'â¹ 1,800 for 2 (approx) | North Indian, Chinese',
 'â¹ 1,500 for 2 (approx) | North Indian, Chinese',
 'â¹ 1,600 for 2 (approx) | Continental, Chinese, North Indian, Fast Food',
 'â¹ 2,500 for 2 (approx) | North Indian, Italian, Chinese, Turkish, Continental',
 'â¹ 3,000 for 2 (approx) | North Indian, Continental, American, Asian',
 'â¹ 2,000 for 2 (approx) | North Indian, Asian, Italian',
 'â¹ 2,000 for 2 (approx) | Continental, Asian, Italian, North Indian',
 'â¹ 2,000 for 2 (approx) | North Indian, Asian, Continental',
 'â¹ 2,000 for 2 (approx) | Modern Indian, Continental, Finger Food',
 'â¹ 1,000 for 2 (approx) | North Indian, Continental, Chinese',
 'â¹ 1,500 for 2 (approx) | Tibetan, Nepalese',
 'â¹ 1,000 for 2 (approx) | North Indian, Chinese, South Indian',
 'â¹ 1,500 for 2 (approx) | North Indian, Chinese, Italian',
 'â¹ 2,700 for 2 (approx) | North Indian, Chinese, Continental']

In [211]:
print(len(Restaurant_name),len(Restaurant_cuisine),len(Restaurant_location),len(Restaurant_rating),len(Restaurant_image))

21 21 21 21 21

In [212]:
Restaurant_details=pd.DataFrame({'Restaurant Name':Restaurant_name,'Cuisine':Restaurant_cuisine,'Restaurant Loc':Restaurant_location,'Rating':Restaurant_rating,'Image url':Restaurant_image})

In [213]:
Restaurant_details

,Restaurant Name,Cuisine,Restaurant Loc,Rating,Image url
0,"Kwality RestaurantRegal Cinema Complex,Connaug...","â¹ 2,000 for 2 (approx) | North Indian, Contine...","Regal Cinema Complex,Connaught Place, Central ...",4.4,https://im1.dineout.co.in/images/uploads/resta...
1,Ardor 2.1 Restaurant and LoungeConnaught Place...,"â¹ 2,000 for 2 (approx) | North Indian, Chinese...","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
2,"The G.T. RoadM-Block,Connaught Place, Central ...","â¹ 2,000 for 2 (approx) | North Indian","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Ghoomar Traditional Thali RestaurantConnaught ...,"â¹ 1,200 for 2 (approx) | North Indian, Rajasthani","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
4,"Connaught Club HouseConnaught Place, Central D...","â¹ 1,800 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
5,"SandozConnaught Place, Central Delhi","â¹ 1,400 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
6,"Somewhere Restaurant & BarConnaught Place, Cen...","â¹ 1,000 for 2 (approx) | North Indian, Contine...","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
7,"Minar RestaurantConnaught Place, Central Delhi","â¹ 1,800 for 2 (approx) | North Indian, Chinese","Connaught Place, Central Delhi",4.4,https://im1.dineout.co.in/images/uploads/resta...
8,"My Bar HeadquartersConnaught Place, Central Delhi","â¹ 1,500 for 2 (approx) | North Indian, Chinese","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
9,"THE ART HOUSE RestaurantConnaught Place, Centr...","â¹ 1,600 for 2 (approx) | Continental, Chinese,...","Connaught Place, Central Delhi",3.8,https://im1.dineout.co.in/images/uploads/resta...
10,"Unplugged CourtyardConnaught Place, Central Delhi","â¹ 2,500 for 2 (approx) | North Indian, Italian...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
11,"Ministry Of BeerM-Block,Connaught Place, Centr...","â¹ 3,000 for 2 (approx) | North Indian, Contine...","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
12,"Openhouse CafeConnaught Place, Central Delhi","â¹ 2,000 for 2 (approx) | North Indian, Asian, ...","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
13,"TamashaConnaught Place, Central Delhi","â¹ 2,000 for 2 (approx) | Continental, Asian, I...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
14,"LocalScindia House,Connaught Place, Central Delhi","â¹ 2,000 for 2 (approx) | North Indian, Asian, ...","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
15,"Farzi CafeConnaught Place, Central Delhi","â¹ 2,000 for 2 (approx) | Modern Indian, Contin...","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
16,"The Gem Bar & RestaurantPaharganj, Central Delhi","â¹ 1,000 for 2 (approx) | North Indian, Contine...","Paharganj, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
17,"Yeti - The Himalayan KitchenThe Colonnade,Conn...","â¹ 1,500 for 2 (approx) | Tibetan, Nepalese","The Colonnade,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
18,"Preamble RestaurantConnaught Place, Central Delhi","â¹ 1,000 for 2 (approx) | North Indian, Chinese...","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
19,"Sam's Restaurant & BarVivek Hotel,Paharganj, C...","â¹ 1,500 for 2 (approx) | North Indian, Chinese...","Vivek Hotel,Paharganj, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
20,"38 BarracksM-Block,Connaught Place, Central Delhi","â¹ 2,700 for 2 (approx) | North Indian, Chinese...","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...