In [77]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\a\anaconda3\lib\site-packages (4.15.2)
Requirement already satisfied: trio~=0.17 in c:\users\a\anaconda3\lib\site-packages (from selenium) (0.23.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\a\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\a\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\a\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: sortedcontainers in c:\users\a\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\a\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\a\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\a\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\a\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\a\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\a\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: wsproto>=0.14 in c:\users\a\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\a\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\a\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\a\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [78]:
#Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
# have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
# jobs data.

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [133]:
driver=webdriver.Chrome()

In [134]:
# opening webpge
driver.get('https://www.shine.com/')

In [135]:
designation=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data Analyst')

In [136]:
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Banglore')

In [138]:
search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [164]:
Job_title=[]
job_location=[]
exp_required=[]

In [150]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [151]:
job_location

['Oman\n+13',
 'Bangalore\n+9',
 'Oman\n+13',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+9',
 'Purnia\n+9',
 'Bangalore',
 'Bangalore\n+1',
 'Oman\n+14',
 'Oman\n+14',
 'Mumbai City\n+4',
 'Oman\n+14',
 'Oman\n+13',
 'Bangalore',
 'Oman',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'Bangalore',
 'Purnia',
 '',
 'Bangalore',
 'Oman',
 'Oman',
 'Mumbai City',
 'Oman']

In [152]:
job_Location=job_location[:10]

In [153]:
job_Location

['Oman\n+13',
 'Bangalore\n+9',
 'Oman\n+13',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [165]:
job_tag=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in job_tag:
    job=i.text
    Job_title.append(job)

In [166]:
Job_title

['Data Analyst Recruitment',
 'Data Analyst',
 'Vacancy For Data Analyst',
 'Project Coordinator (Data Analyst) Bangalore',
 'Project Coordinator (Data analyst) Bangalore',
 'Business Data Analyst - Modeling & Profiling',
 'Data analyst - Java / Python',
 'Data Analyst - Java/Python',
 'Data Analyst - SQL/ Database Maintenance',
 'Business Data Analyst - Modeling & Profiling',
 'Data Analyst - Java/Python BANGALORE',
 'Business Data Analyst - Modeling & Profiling',
 'hiring for data entry analyst work',
 'Data analyst',
 'opening data analyst -Bangalore',
 'Big Data Business Analyst',
 'Data Analyst Vacancy',
 'Data Analyst Vacancy',
 'Clinical Data Analyst',
 'Data Analyst Urgent Recruitment']

In [167]:
job_Title=Job_title[:10]

In [125]:
job_Title

['Data Analyst Recruitment',
 'Data Analyst',
 'Vacancy For Data Analyst',
 'Project Coordinator (Data Analyst) Bangalore',
 'Project Coordinator (Data analyst) Bangalore',
 'Business Data Analyst - Modeling & Profiling',
 'Data analyst - Java / Python',
 'Data Analyst - Java/Python',
 'Data Analyst - SQL/ Database Maintenance',
 'Business Data Analyst - Modeling & Profiling']

In [168]:
companyy_name=[]
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    companyy_name.append(company)

In [169]:
companyy_name

['kavya interprises',
 'hire connect',
 'kavya interprises',
 'futures and careers',
 'futures and careers',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'global solutions..',
 'ok lifecare private limited',
 'provizor it services pvt. ltd.',
 'cynosure corporate solutions..',
 'divya interprises',
 'divya interprises',
 'quiscon biotech',
 'divya interprises']

In [170]:
company_Name=companyy_name[:10]

In [128]:
company_Name

['kavya interprises',
 'hire connect',
 'kavya interprises',
 'futures and careers',
 'futures and careers',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...']

In [171]:

exp_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_tags:
    exp=i.text
    exp_required.append(exp)

In [172]:
exp_required

['0 to 4 Yrs',
 '0 to 1 Yr',
 '0 to 4 Yrs',
 '2 to 4 Yrs',
 '2 to 4 Yrs',
 '2 to 6 Yrs',
 '5 to 10 Yrs',
 '2 to 6 Yrs',
 '2 to 6 Yrs',
 '2 to 6 Yrs',
 '4 to 8 Yrs',
 '2 to 6 Yrs',
 '0 to 1 Yr',
 '1 to 5 Yrs',
 '2 to 5 Yrs',
 '7 to 12 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 2 Yrs',
 '0 to 4 Yrs']

In [173]:
exp_Required=exp_required[:10]

In [118]:
exp_Required

['0 to 4 Yrs',
 '0 to 1 Yr',
 '0 to 4 Yrs',
 '2 to 4 Yrs',
 '2 to 4 Yrs',
 '2 to 6 Yrs',
 '5 to 10 Yrs',
 '2 to 6 Yrs',
 '2 to 6 Yrs',
 '2 to 6 Yrs']

In [174]:
shine=pd.DataFrame({'Job Title':job_Title,'Job Location':job_Location,'Company Name':company_Name,'Exp Required':exp_Required})

In [175]:
shine

,Job Title,Job Location,Company Name,Exp Required
0,Data Analyst Recruitment,Oman\n+13,kavya interprises,0 to 4 Yrs
1,Data Analyst,Bangalore\n+9,hire connect,0 to 1 Yr
2,Vacancy For Data Analyst,Oman\n+13,kavya interprises,0 to 4 Yrs
3,Project Coordinator (Data Analyst) Bangalore,Bangalore,futures and careers,2 to 4 Yrs
4,Project Coordinator (Data analyst) Bangalore,Bangalore,futures and careers,2 to 4 Yrs
5,Business Data Analyst - Modeling & Profiling,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
6,Data analyst - Java / Python,Bangalore,boyen haddin consulting and technol...,5 to 10 Yrs
7,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
8,Data Analyst - SQL/ Database Maintenance,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
9,Business Data Analyst - Modeling & Profiling,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs

In [176]:
# Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You
# have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
driver1=webdriver.Chrome()

In [178]:
# opening webpge
driver1.get('https://www.shine.com/')

In [179]:

designation=driver1.find_element(By.XPAT1H,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data Scientist')

In [180]:
location=driver1.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [181]:
search=driver1.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [189]:
JOB_title=[]
JOB_location=[]
COMPANY_name=[]
EXP_required=[]

In [184]:
job_tag1=driver1.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in job_tag1:
    job=i.text
    JOB_title.append(job)

In [185]:
JOB_title

['Data scientist',
 'Data Scientist - Business Intelligence',
 'Data Scientist for Bangalore',
 'Hiring For Data Scientist',
 'Hiring For Data Scientist',
 'Data Scientist - Spark/Python/Redshift',
 'Data Scientist - Machine Learning',
 'Data Scientist',
 'Data Scientist- Associate',
 'Data Scientist Vacancy',
 'Data Scientist Urgent Recruitment',
 'Data Scientist- Bangalore',
 'Data Scientist - Business Intelligence',
 'Data Scientist AI ML CV',
 'Data Scientist AI ML NLP',
 'Phd Data Scientist',
 'Hiring For Data Scientist',
 'Data Scientist-Bangalore',
 'Staff Data Scientist & Team Lead',
 'Data Scientist Associate Sr - NLP']

In [186]:
JOB_Title=JOB_title[:10]

In [187]:
JOB_Title

['Data scientist',
 'Data Scientist - Business Intelligence',
 'Data Scientist for Bangalore',
 'Hiring For Data Scientist',
 'Hiring For Data Scientist',
 'Data Scientist - Spark/Python/Redshift',
 'Data Scientist - Machine Learning',
 'Data Scientist',
 'Data Scientist- Associate',
 'Data Scientist Vacancy']

In [190]:
location_tags1=driver1.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags1:
    location=i.text
    JOB_location.append(location)

In [191]:
JOB_location

['Gurugram\n+8',
 'Bangalore',
 'Bangalore',
 'Oman\n+13',
 'Oman\n+13',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Oman\n+14',
 'Oman\n+14',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Oman\n+14',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [192]:
JOB_Location=JOB_location[:10]

In [193]:
JOB_Location

['Gurugram\n+8',
 'Bangalore',
 'Bangalore',
 'Oman\n+13',
 'Oman\n+13',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Oman\n+14']

In [196]:

company_tags1=driver1.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags1:
    company=i.text
    COMPANY_name.append(company)

In [197]:
COMPANY_name

['capgemini technology services india...',
 'boyen haddin consulting and technol...',
 'get hired',
 'kavya interprises',
 'kavya interprises',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'ibm india pvt. limited',
 'jpmorgan',
 'divya interprises',
 'divya interprises',
 'the fashion cosmo',
 'boyen haddin consulting and technol...',
 'bosch group',
 'bosch group',
 'bosch group',
 'divya interprises',
 'shiva hr services',
 'true caller',
 'jpmorgan']

In [198]:
COMPANY_Name=COMPANY_name[:10]

In [199]:
COMPANY_Name

['capgemini technology services india...',
 'boyen haddin consulting and technol...',
 'get hired',
 'kavya interprises',
 'kavya interprises',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'ibm india pvt. limited',
 'jpmorgan',
 'divya interprises']

In [200]:
exp_tags1=driver1.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_tags1:
    exp=i.text
    EXP_required.append(exp)

In [201]:
EXP_required

['6 to 11 Yrs',
 '2 to 6 Yrs',
 '0 to 3 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '4 to 8 Yrs',
 '2 to 4 Yrs',
 '10 to 12 Yrs',
 '4 to 6 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 3 Yrs',
 '2 to 6 Yrs',
 '3 to 5 Yrs',
 '3 to 5 Yrs',
 '2 to 5 Yrs',
 '0 to 4 Yrs',
 '0 to 3 Yrs',
 '8 to 12 Yrs',
 '3 to 5 Yrs']

In [202]:
EXP_Required=EXP_required[:10]

In [203]:
EXP_Required

['6 to 11 Yrs',
 '2 to 6 Yrs',
 '0 to 3 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '4 to 8 Yrs',
 '2 to 4 Yrs',
 '10 to 12 Yrs',
 '4 to 6 Yrs',
 '0 to 4 Yrs']

In [204]:
shine1=pd.DataFrame({'Job itle':JOB_Title,'Job Location':JOB_Location,'Company Name':COMPANY_Name,'Exp Required':EXP_Required})

In [205]:
shine1

,Job itle,Job Location,Company Name,Exp Required
0,Data scientist,Gurugram\n+8,capgemini technology services india...,6 to 11 Yrs
1,Data Scientist - Business Intelligence,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
2,Data Scientist for Bangalore,Bangalore,get hired,0 to 3 Yrs
3,Hiring For Data Scientist,Oman\n+13,kavya interprises,0 to 4 Yrs
4,Hiring For Data Scientist,Oman\n+13,kavya interprises,0 to 4 Yrs
5,Data Scientist - Spark/Python/Redshift,Bangalore,boyen haddin consulting and technol...,4 to 8 Yrs
6,Data Scientist - Machine Learning,Bangalore,boyen haddin consulting and technol...,2 to 4 Yrs
7,Data Scientist,Bangalore,ibm india pvt. limited,10 to 12 Yrs
8,Data Scientist- Associate,Bangalore,jpmorgan,4 to 6 Yrs
9,Data Scientist Vacancy,Oman\n+14,divya interprises,0 to 4 Yrs

In [213]:
#3: In this question you have to scrape data using the filters available on the webpage 
 # You have to use the location and salary filter.
# You have to scrape data for “Data Scientist” designation for first 10 job results.
# You have to scrape the job-title, job-location, company name, experience required.
# The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakh

driver2=webdriver.Chrome()

In [214]:
# opening webpge
driver2.get('https://www.shine.com/')

In [216]:
designation=driver2.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data Scientist')

In [217]:
location=driver2.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul[1]/li[2]/div/input')
location.send_keys('Delhi/NCR')

In [215]:
salary=driver2.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul[2]/li[1]/div/input[1]')
salary.send_keys('3-6 lakhs')

In [218]:
search=driver2.find_element(By.XPATH,'/html/body/dBiv/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [219]:
job_TITLE=[]
job_LOCATION=[]
company_NAME=[]
exp_REQUIRED=[]

In [220]:
job_tag2=driver2.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')
for i in job_tag2:
    job=i.text
    job_TITLE.append(job)

In [221]:
joB_TITLE=job_TITLE[:10]

In [222]:
joB_TITLE

['Data Scientist (Big Data)',
 'Senior Data Scientist- Data Science, Python',
 'Engineer - Global Medical Data Scientist',
 'Data Scientist',
 'Data scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist Intern 0-1 Years Hyderabad | Full-Time I ...',
 'Data Scientist-Lucknow']

In [223]:
location_tags2=driver2.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags2:
    location=i.text
    job_LOCATION.append(location)

In [224]:
joB_LOCATION=job_LOCATION[:10]

In [225]:
joB_LOCATION

['Chennai\n+1',
 'Other Maharashtra',
 'Other Karnataka',
 'Delhi',
 'Other Karnataka',
 'Delhi',
 'Other Telangana',
 'Delhi',
 'Other Telangana',
 'Lucknow\n+1']

In [226]:
company_tags2=driver2.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags2:
    company=i.text
    company_NAME.append(company)

In [227]:
companY_NAME=company_NAME[:10]

In [228]:
companY_NAME

['nr consulting - india',
 'apexon',
 'gsk',
 'itforte',
 'ihcc',
 'dataner',
 'ispatial techno solutions pvt ltd.',
 'plopdo',
 'pago analytics',
 'shiva hr services']

In [229]:
exp_tags2=driver2.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_tags2:
    exp=i.text
    exp_REQUIRED.append(exp)

In [230]:
exP_REQUIRED=exp_REQUIRED[:10]

In [231]:
exP_REQUIRED

['6 to 10 Yrs',
 '3 to 7 Yrs',
 '5 to 7 Yrs',
 '3 to 7 Yrs',
 '7 to 11 Yrs',
 '2 to 6 Yrs',
 '7 to 11 Yrs',
 '4 to 8 Yrs',
 '0 to 1 Yr',
 '3 to 7 Yrs']

In [232]:
shine2=pd.DataFrame({'Job Title':joB_TITLE,'Job Location':joB_LOCATION,'Company Name':companY_NAME,'Exp Required':exP_REQUIRED})

In [233]:
shine2

,Job Title,Job Location,Company Name,Exp Required
0,Data Scientist (Big Data),Chennai\n+1,nr consulting - india,6 to 10 Yrs
1,"Senior Data Scientist- Data Science, Python",Other Maharashtra,apexon,3 to 7 Yrs
2,Engineer - Global Medical Data Scientist,Other Karnataka,gsk,5 to 7 Yrs
3,Data Scientist,Delhi,itforte,3 to 7 Yrs
4,Data scientist,Other Karnataka,ihcc,7 to 11 Yrs
5,Data Scientist,Delhi,dataner,2 to 6 Yrs
6,Data Scientist,Other Telangana,ispatial techno solutions pvt ltd.,7 to 11 Yrs
7,Data Scientist,Delhi,plopdo,4 to 8 Yrs
8,Data Scientist Intern 0-1 Years Hyderabad | Fu...,Other Telangana,pago analytics,0 to 1 Yr
9,Data Scientist-Lucknow,Lucknow\n+1,shiva hr services,3 to 7 Yrs

In [236]:
# question no 4
# : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#  Brand
#  ProductDescription
#  Price

driverr=webdriver.Chrome()

In [237]:
driverr.get('https://www.flipkart.com/')

In [238]:
product=driverr.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
product.send_keys('Sun Glasses')

In [240]:
search1=driverr.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search1.click()

In [261]:
brand_name=[]
Description=[]
price=[]

In [252]:
start=0
end=2
for page in range(start,end):
    brand_tags=driverr.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        name=i.text
        brand_name.append(name)
    next_button=driverr.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [253]:
brand_Name=brand_name[:100]

In [255]:
len(brand_Name)

100

In [262]:
start=0
end=3
for page in range(start,end):
    description_tag=driverr.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tag:
        desc=i.text
        Description.append(desc)
    next_button=driverr.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [263]:
len(Description)

109

In [264]:
description1=Description[:100]

In [265]:
len(description1)

100

In [266]:
start=0
end=3
for page in range(start,end):
    price_tag=driverr.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag:
        cost=i.text
        price.append(cost)
    next_button=driverr.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [267]:
len(price)

120

In [268]:
Price=price[:100]

In [269]:
len(Price)

100

In [270]:
flipkart_sunglasses=pd.DataFrame({'Brand':brand_Name,'Description':description1,'PRICE':Price})

In [271]:
flipkart_sunglasses.head(5)

         Brand                             Description   PRICE
0  john jacobs     UV Protection Round Sunglasses (51)  ₹2,399
1  john jacobs        Mirrored Aviator Sunglasses (58)    ₹854
2         SRPM  UV Protection Wayfarer Sunglasses (50)    ₹499
3    Elligator  UV Protection Wayfarer Sunglasses (53)    ₹489
4     Fastrack  UV Protection Wayfarer Sunglasses (58)    ₹909

In [272]:
# question no 5
# Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link
driverr=webdriver.Chrome()

In [273]:
driverr.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [274]:
rating=[]
review=[]
full_review=[]

In [275]:
start=0
end=15
for page in range(start,end):
    rating_tag=driverr.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tag:
        rate=i.text
        rating.append(rate)
    next_button=driverr.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [276]:
len(rating)

150

In [277]:
Rating=rating[:100]

In [278]:
len(Rating)

100

In [279]:
start=0
end=15
for page in range(start,end):
    review_tag=driverr.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tag:
        review1=i.text
        review.append(review1)
    next_button=driverr.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [280]:
len(review)

150

In [281]:
Review=review[:100]

In [282]:
len(Review)

100

In [283]:
start=0
end=15
for page in range(start,end):
    full_review_tag=driverr.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_review_tag:
        review2=i.text
        full_review.append(review2)
    next_button=driverr.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [284]:
len(full_review)

150

In [285]:
Full_review=full_review[:100]

In [286]:
len(Full_review)

100

In [287]:
apple_iphone=pd.DataFrame({'Rating':Rating,'REVIEW':Review,'Full Review':Full_review})

In [288]:
apple_iphone.head(5)

  Rating             REVIEW                                        Full Review
0      5          Just wow!                                       Photos super
1      5  Terrific purchase  Camera is awesome\nBest battery backup\nA perf...
2      5          Must buy!                                        Good Camera
3      5   Perfect product!  Feeling awesome after getting the delivery of ...
4      5          Must buy!                             This is amazing at all

In [289]:
apple_iphone.shape

(100, 3)

In [292]:
# Question no 6
# Scrape data forfirst 100 sneakers you find whenyou visit flipkart.com and search for “sneakers” inthe
search field
driver3=webdriver.Chrome()

In [293]:
driver3.get('https://www.flipkart.com/')

In [294]:
product1=driver3.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
product1.send_keys('Sneaker')

In [297]:
search2=driver3.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search2.click()

In [298]:
Brand1=[]
Description=[]
Price=[]

In [299]:
start=0
end=12
for page in range(start,end):
    Brand_tag=driver3.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in Brand_tag:
        brand=i.text
        Brand1.append(brand)
    next_button=driver3.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [300]:
len(Brand1)

480

In [301]:
brand=Brand1[:100]

In [302]:
len(brand)

100

In [303]:
start=0
end=4
for page in range(start,end):
    descript_tag=driver3.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in descript_tag:
        descript=i.text
        Description.append(descript)
    next_button=driver3.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [304]:
len(Description)

145

In [305]:
description=Description[:100]

In [306]:
len(description)

100

In [307]:
start=0
end=4
for page in range(start,end):
    price_tag=driver3.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag:
        price=i.text
        Price.append(price)
    next_button=driver3.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [308]:
len(Price)

160

In [309]:
price=Price[:100]

In [310]:
len(price)

100

In [311]:
flipkart_sneaker=pd.DataFrame({'BRAND':brand,'DESCRIPTION':description,'PRICE':price})

In [312]:
len(flipkart_sneaker)

100

In [313]:
flipkart_sneaker.head(5)

       BRAND                                        DESCRIPTION PRICE
0     BRUTON      Combo Pack Of 2 Casual Shoes Sneakers For Men  ₹479
1     BRUTON  Combo pack of 2 Trendy Men’s Casual Shoes Snea...  ₹477
2  Deals4you                                 Sneakers For Women  ₹398
3   URBANBOX  Trending Stylish Casual Outdoor Sneakers Shoes...  ₹299
4       aadi  Mesh| Lightweight| Premiun| Comfort| Summer Te...  ₹299

In [371]:
# QUESTION NO 7
# Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
# set CPU Type filter to “Intel Core i7” 
driver4=webdriver.Chrome()

In [372]:
driver4.get('https://www.amazon.in/')

In [373]:
product2=driver4.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product2.send_keys('laptop')

In [374]:
search3=driver4.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search3.click()

In [376]:
click1=driver4.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/span[10]/li/span/a/div/label/i')
click1.click()

In [357]:
title=[]
rating=[]
price=[]

In [358]:
title_tag=driver4.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tag:
    Title=i.text
    title.append(Title)

In [359]:
title

['Lenovo ThinkPad X1 Carbon (2021) Intel Core i7 11th Gen 14 inches WUXGA IPS Thin and Light Laptop (16GB RAM/1TB SSD/Windows 10 Professional/FPR/Black/1.133Kg), 20XWS03T00',
 'ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, 4GB NVIDIA GeForce RTX 3050 Ti, Gaming Laptop (16GB/1TB SSD/Win 11/MSO/90WHrs Battery/Black/2.30 Kg), FX506HE-HN385WS',
 'MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD 60Hz Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Intel Iris Xe Graphics/Classic Black/1.4Kg), C12M-459IN',
 '(Refurbished) ASUS Vivobook 15, IntelCore i7-12650H 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop (16 GB RAM/512GB SSD/Win11/Office 2021/Backlit/42WHr /Silver/1.75), X1502ZA-EJ742WS',
 'HP Pavilion X360 11th Gen Intel Core i7 14" (35.6cm) FHD Multitouch 2in1 Laptop (16Gb Ram/512Gb Ssd/B&O/Win 11 Home/FPR/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu',
 'MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD 144Hz Gaming Laptop (8GBx2/512GB NVMe SSD/Windows 11 Home/Nvidia GeForce RTX 3050, GDDR6 4GB/Black/1.8Kg), 11UC-1293IN',
 'Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 15.6" (39.62cm) FHD Thin and Light Laptop (16GB/512GB SSD/Win 11/Office 2021/1 Year Warranty/Arctic Grey/1.65Kg), 82H803LPIN',
 'Samsung Galaxy Book3 Core i7 13th Gen 1355U - (16 GB/512 GB SSD/Windows 11 Home) Galaxy Book3 Thin and Light Laptop  (15.6 Inch, Graphite, 1.58 Kg, with MS Office)',
 'Dell Inspiron 5430 Laptop, Intel Core i7-1360P Processor/ 16GB/ 1TB SSD/14.0" (35.56cm) FHD+ WVA AG with Comfortview 250 nits/Backlit KB + FPR/Win 11 + MSO\'21/15 Month McAfee/Platinum Silver/ 1.59kg',
 'Acer Aspire 5 Gaming Laptop Intel Core i7 13th Gen (Windows 11 Home/16 GB/512 GB SSD/4 GB Graphics/NVIDIA GeForce RTX 2050) A514-56GM, 14.0" WUXGA Display, 1.56 KG',
 'Acer Aspire Lite 11th Gen Intel Core i7-1165G7 Premium Metal Laptop (Windows 11 Home/16GB RAM/1TB SSD) AL15-51, 39.62cm (15.6") Full HD Display, Metal Body, Steel Gray, 1.59 Kg',
 'HP Victus Gaming Laptop, 12th Gen Intel Core i7-12650H, NVIDIA RTX 3050 GPU, 15.6-inch (39.6 cm), 75W TGP , FHD, IPS, 144Hz, 9 ms Response time, 16GB DDR4, 512GB SSD (MSO, Blue, 2.29 kg), fa0188TX',
 'Acer Aspire Lite Premium Metal Laptop 11th Gen Intel Core Ci7-1165G7 Thin and Light Laptop (Windows 11 Home/16GB RAM/1TB SSD/MS Office) AL15-51, 39.62cm (15.6") Full HD Display, Steel Gray, 1.59 KG',
 '(Refurbished) ASUS Vivobook 15, Intel Core i7-12650H 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop (16GB/512GB/Win11/Office 2021/Blue/1.7 kg), X1502ZA-EJ741WS',
 '(Refurbished) Acer Predator Helios Neo 16 Gaming Laptop 13th Gen Intel Core i7 Processor (16 GB/1 TB SSD/Windows 11 Home/NVIDIA ® GeForce RTX Â„¢ 4050) PHN16-71, (16 ") WUXGA Display',
 'ASUS Vivobook 15, IntelCore i7-12650H 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop (16 GB RAM/512GB SSD/Win11/Office 2021/Backlit/42WHr /Silver/1.75), X1502ZA-EJ742WS',
 'Acer Predator Helios Neo 16 Gaming Laptop 13th Gen Intel Core i7 Processor (16 GB/1 TB SSD/Windows 11 Home/NVIDIA ® GeForce RTX \x84¢ 4060) PHN16-71, (16") WQXGA Display',
 'HP Laptop 15s, 12th Gen Intel Core i7-1255U, 15.6-inch (39.6 cm), FHD, 16GB DDR4, 512GB SSD, Intel Iris Xe Graphics, Backlit KB, Thin & Light (Win 11, MSO 2021, Silver, 1.69 kg), fq5190TU',
 '(Refurbished) MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD 60Hz Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Intel Iris Xe Graphics/Classic Black/1.4Kg), C12M-459IN',
 'HP Pavilion 15, 13th Gen Intel Core i7-1360P, 15.6-inch (39.6 cm), FHD, 16GB DDR4, 1TB SSD, Intel Iris Xᵉ Graphics, FPR, Backlit KB, Audio by B&O (Win 11, MSO 2021, Silver, 1.74 kg), eg3036TU',
 '(Refurbished) Acer Aspire Lite Premium Metal Laptop 11th Gen Intel Core Ci7-1165G7 Thin and Light Laptop (Windows 11 Home/16GB RAM/1TB SSD/MS Office) AL15-51, 39.62cm (15.6") Full HD Display, Steel Gray, 1.59 KG',
 'ASUS TUF Gaming F15 (2023) 90WHr Battery, Intel Core i7-12700H 12th Gen, 15.6" FHD 144Hz, 8GB RTX 4060, Gaming Laptop (16GB/512GB SSD/Windows 11//1-Zone RGB/Gray/2.20 Kg), FX507ZV-LP094W',
 'HP Pavilion 11th Gen Intel Core i7 15.6 inches FHD Gaming Laptop (16GB RAM/512GB SSD/RTX 3050 4GB Graphics/144 Hz/B&O/Windows 10/MS Office/2.23Kg), 15-dk2076TX, Black',
 'MSI Thin GF63, Intel 12th Gen. i5-12450H, 40CM FHD 144Hz Gaming Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Nvidia GeForce RTX 4050, GDDR6 6GB/Black/1.86Kg), A12VE-071IN']

In [325]:
TITLE=title[1:11]

In [326]:
TITLE

['ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, 4GB NVIDIA GeForce RTX 3050 Ti, Gaming Laptop (16GB/1TB SSD/Win 11/MSO/90WHrs Battery/Black/2.30 Kg), FX506HE-HN385WS',
 'MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD 60Hz Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Intel Iris Xe Graphics/Classic Black/1.4Kg), C12M-459IN',
 '(Refurbished) ASUS Vivobook 15, IntelCore i7-12650H 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop (16 GB RAM/512GB SSD/Win11/Office 2021/Backlit/42WHr /Silver/1.75), X1502ZA-EJ742WS',
 'MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD 144Hz Gaming Laptop (8GBx2/512GB NVMe SSD/Windows 11 Home/Nvidia GeForce RTX 3050, GDDR6 4GB/Black/1.8Kg), 11UC-1293IN',
 'HP Pavilion X360 11th Gen Intel Core i7 14" (35.6cm) FHD Multitouch 2in1 Laptop (16Gb Ram/512Gb Ssd/B&O/Win 11 Home/FPR/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu',
 'Acer Aspire 5 Gaming Laptop Intel Core i7 13th Gen (Windows 11 Home/16 GB/512 GB SSD/4 GB Graphics/NVIDIA GeForce RTX 2050) A514-56GM, 14.0" WUXGA Display, 1.56 KG',
 'Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 15.6" (39.62cm) FHD Thin and Light Laptop (16GB/512GB SSD/Win 11/Office 2021/1 Year Warranty/Arctic Grey/1.65Kg), 82H803LPIN',
 'Acer Aspire Lite 11th Gen Intel Core i7-1165G7 Premium Metal Laptop (Windows 11 Home/16GB RAM/1TB SSD) AL15-51, 39.62cm (15.6") Full HD Display, Metal Body, Steel Gray, 1.59 Kg',
 'HP Victus Gaming Laptop, 12th Gen Intel Core i7-12650H, NVIDIA RTX 3050 GPU, 15.6-inch (39.6 cm), 75W TGP , FHD, IPS, 144Hz, 9 ms Response time, 16GB DDR4, 512GB SSD (MSO, Blue, 2.29 kg), fa0188TX',
 'Dell Inspiron 5430 Laptop, Intel Core i7-1360P Processor/ 16GB/ 1TB SSD/14.0" (35.56cm) FHD+ WVA AG with Comfortview 250 nits/Backlit KB + FPR/Win 11 + MSO\'21/15 Month McAfee/Platinum Silver/ 1.59kg']

In [383]:
rating_tag=driver4.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in rating_tag:
    Rating=i.text
    rating.append(Rating)

In [386]:
RATING=rating[1:11]

In [377]:
price_tag=driver4.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tag:
    Price=i.text
    price.append(Price)

In [378]:
price

['Looking for Laptops? Shop from a wide selection of laptops from HP, Dell, Lenovo & Apple.',
 '2,48,990',
 '49,990',
 '75,990',
 '51,841',
 '85,990',
 '59,990',
 '89,990',
 '86,490',
 '74,990',
 '49,980',
 '64,990',
 '86,490',
 '49,990',
 '51,841',
 '97,741',
 '60,990',
 '1,29,900',
 '67,800',
 '42,491',
 '89,990',
 '42,491',
 '1,08,000',
 '80,500',
 '77,990']

In [379]:
PRICE=price[1:11]

In [380]:
PRICE

['2,48,990',
 '49,990',
 '75,990',
 '51,841',
 '85,990',
 '59,990',
 '89,990',
 '86,490',
 '74,990',
 '49,980']

In [387]:
amazon_laptop=pd.DataFrame({'Title':TITLE,'Rating':RATING,'Price':PRICE})

In [388]:
amazon_laptop

                                               Title          Rating     Price
0  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...                  2,48,990
1  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...                    49,990
2  (Refurbished) ASUS Vivobook 15, IntelCore i7-1...  Alexa Built-in    75,990
3  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...                    51,841
4  HP Pavilion X360 11th Gen Intel Core i7 14" (3...                    85,990
5  Acer Aspire 5 Gaming Laptop Intel Core i7 13th...                    59,990
6  Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...                    89,990
7  Acer Aspire Lite 11th Gen Intel Core i7-1165G7...                    86,490
8  HP Victus Gaming Laptop, 12th Gen Intel Core i...                    74,990
9  Dell Inspiron 5430 Laptop, Intel Core i7-1360P...                    49,980

In [54]:
# 8: Write a python program to scrape data for Top 1000 Quotes of All Time
driver5=webdriver.Chrome()

In [55]:
driver5.get('https://www.azquotes.com/')

In [56]:
search4=driver5.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
search4.click()

In [48]:
quote=[]
author=[]
quote_type=[]

In [59]:
start=0
end=10
for page in range(start,end):
    quote_tag=driver5.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tag:
        quotes=i.text
        quote.append(quotes)
    button=driver5.find_element(By.XPATH,'//li[@class="next inactive"]')
    button.click()
    time.sleep(3)

In [63]:
len(quote)
Quote=quote[:1000]
len(Quote)
Quote[:5]

['The essence of strategy is choosing what not to do.',
 'One cannot and must not try to erase the past merely because it does not fit the present.',
 'Patriotism means to stand by the country. It does not mean to stand by the president.',
 'Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, why I will sleep for the eternity.',
 'You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with family picnics where kids throw Frisbees, the potato salad gets iffy, and the flies die from happiness. You may think you have overeaten, but it is patriotism.']

In [64]:
start=0
end=10
for page in range(start,end):
    author_tag=driver5.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tag:
        authors=i.text
        author.append(authors)
    nex_button=driver5.find_element(By.XPATH,'//li[@class="next inactive"]')
    nex_button.click()
    time.sleep(3)

In [65]:
len(author)

1100

In [67]:
Author=author[:1000]

In [68]:
len(Author)

1000

In [69]:
Author[:5]

['Michael Porter',
 'Golda Meir',
 'Theodore Roosevelt',
 'Nelson Mandela',
 'Erma Bombeck']

In [76]:
start=0
end=10
for page in range(start,end):
    quote_type_tag=driver5.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in quote_type_tag:
        quote_types=i.text
        quote_type.append(quote_types)
    nex_button=driver5.find_element(By.XPATH,'//li[@class="next"]')
    nex_button.click()
    time.sleep(3)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//li[@class="next"]"}
  (Session info: chrome=120.0.6099.71); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF64A864D02+56194]
	(No symbol) [0x00007FF64A7D04B2]
	(No symbol) [0x00007FF64A6776AA]
	(No symbol) [0x00007FF64A6C16D0]
	(No symbol) [0x00007FF64A6C17EC]
	(No symbol) [0x00007FF64A704D77]
	(No symbol) [0x00007FF64A6E5EBF]
	(No symbol) [0x00007FF64A702786]
	(No symbol) [0x00007FF64A6E5C23]
	(No symbol) [0x00007FF64A6B4A45]
	(No symbol) [0x00007FF64A6B5AD4]
	GetHandleVerifier [0x00007FF64ABDD5BB+3695675]
	GetHandleVerifier [0x00007FF64AC36197+4059159]
	GetHandleVerifier [0x00007FF64AC2DF63+4025827]
	GetHandleVerifier [0x00007FF64A8FF029+687785]
	(No symbol) [0x00007FF64A7DB508]
	(No symbol) [0x00007FF64A7D7564]
	(No symbol) [0x00007FF64A7D76E9]
	(No symbol) [0x00007FF64A7C8094]
	BaseThreadInitThunk [0x00007FFF98827344+20]
	RtlUserThreadStart [0x00007FFF9A4A26B1+33]

In [ ]:
# Write a python program to display list of 50 Most expensive cars in the world (i.e.
# Car name and Price) from https://www.motor1.com
driver10=webdriver.Chrome()

In [ ]:
driver10.get('https://www.motor1.com/')

In [10]:
expensive_cars=driver10.find_element(By.XPATH,'/html/body/div[y10]/div[2]/div/div/div[3]/div/div/div/form/input')
expensive_cars.send_keys('50 most expensive cars')

In [11]:
search_cars=driver10.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search_cars.click()

In [12]:
most_expensive=driver10.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
most_expensive.click()

In [13]:
car_name=[]
car_price=[]

In [14]:
car_name_tag=driver10.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_name_tag:
    Name=i.text
    car_name.append(Name)

In [15]:
car_name[:10]

['Aston Martin Valour',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne']

In [ ]:
car_price_tag=driver10.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[2]/p[4]/strong')
for i in car_price_tag:
    Price=i.text
    car_price.append(Price)