In [257]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\a\anaconda3\lib\site-packages (4.15.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\a\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\a\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in c:\users\a\anaconda3\lib\site-packages (from selenium) (0.23.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\a\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\a\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\a\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\a\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: outcome in c:\users\a\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sortedcontainers in c:\users\a\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\a\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: cffi>=1.14 in c:\users\a\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\a\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\a\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\a\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\a\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [258]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
# 1 Scrape the details of most viewed videos on YouTube from Wikipedia. Url
# = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:

driver=webdriver.Chrome()

In [4]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [15]:
RANK=[]
name=[]
artist=[]
views=[]
date=[]

In [21]:
table=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]')
rows=table.find_elements(By.TAG_NAME,'tr')

for row in rows[1:]:
    cells=row.find_elements(By.TAG_NAME,'td')
    if len(cells)>=4:
        rank=cells[0].text
        vedio_name=cells[1].text
        uploader=cells[2].text
        views=cells[3].text
        date=cells[4].text
        
        print(f'{rank},{vedio_name},{uploader},{views},{date}')

"Baby Shark Dance"[6],Pinkfong Baby Shark - Kids' Songs & Stories,13.78,June 17, 2016,[A]
"Despacito"[9],Luis Fonsi,8.33,January 12, 2017,[B]
"Johny Johny Yes Papa"[17],LooLoo Kids - Nursery Rhymes and Children's Songs,6.85,October 8, 2016,
"Bath Song"[18],Cocomelon - Nursery Rhymes,6.52,May 2, 2018,
"Shape of You"[19],Ed Sheeran,6.15,January 30, 2017,[C]
"See You Again"[22],Wiz Khalifa,6.11,April 6, 2015,[D]
"Wheels on the Bus"[27],Cocomelon - Nursery Rhymes,5.74,May 24, 2018,
"Phonics Song with Two Words"[28],ChuChu TV Nursery Rhymes & Kids Songs,5.59,March 6, 2014,
"Uptown Funk"[29],Mark Ronson,5.10,November 19, 2014,
"Learning Colors ‚Äì Colorful Eggs on a Farm"[30],Miroshka TV,5.03,February 27, 2018,
"Gangnam Style"[31],Psy,4.98,July 15, 2012,[E]
"Masha and the Bear ‚Äì Recipe for Disaster"[36],Get Movies,4.57,January 31, 2012,
"Dame Tu Cosita"[37],Ultra Records,4.49,April 5, 2018,
"Axel F"[38],Crazy Frog,4.19,June 16, 2009,
"Sugar"[39],Maroon 5,3.97,January 14, 2015,
"Counting Stars"[40],OneRepublic,3.93,May 31, 2013,
"Roar"[41],Katy Perry,3.92,September 5, 2013,
"Baa Baa Black Sheep"[42],Cocomelon - Nursery Rhymes,3.86,June 25, 2018,
"Waka Waka (This Time for Africa)"[43],Shakira,3.80,June 4, 2010,
"Lakdi Ki Kathi"[44],Jingle Toons,3.78,June 14, 2018,
"Sorry"[45],Justin Bieber,3.74,October 22, 2015,
"Thinking Out Loud"[46],Ed Sheeran,3.70,October 7, 2014,
"Humpty the train on a fruits ride"[47],Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.65,January 26, 2018,
"Dark Horse"[48],Katy Perry,3.64,February 20, 2014,
"Perfect"[49],Ed Sheeran,3.61,November 9, 2017,
"Shree Hanuman Chalisa"[50],T-Series Bhakti Sagar,3.57,May 10, 2011,
"Let Her Go"[51],Passenger,3.57,July 25, 2012,
"Faded"[52],Alan Walker,3.56,December 3, 2015,
"Girls Like You"[53],Maroon 5,3.53,May 31, 2018,
"Lean On"[54],Major Lazer Official,3.51,March 22, 2015,

In [22]:
# question no 2
# Scrape the details team India‚Äôs international fixtures from bcci.tv.   
driver1=webdriver.Chrome()

In [24]:
driver1.get('http://www.bcci.tv/')

In [25]:
search=driver1.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
search.click()

In [26]:
Series=[]
series_tag=driver1.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series_tag:
    series=i.text
    Series.append(series)

In [32]:
SERIES=Series[1:]

In [33]:
SERIES

['AUSTRALIA WOMEN TOUR OF INDIA 2023-24',
 'AUSTRALIA WOMEN TOUR OF INDIA 2023-24',
 'AUSTRALIA WOMEN TOUR OF INDIA 2023-24',
 'INDIA TOUR OF SOUTH AFRICA 2023-24',
 'AUSTRALIA WOMEN TOUR OF INDIA 2023-24',
 'AUSTRALIA WOMEN TOUR OF INDIA 2023-24',
 'AUSTRALIA WOMEN TOUR OF INDIA 2023-24',
 'AFGHANISTAN TOUR OF INDIA 2023-24']

In [28]:
Place=[]
place_tag=driver1.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in place_tag:
    place=i.text
    Place.append(place)

In [29]:
Place

['Wankhede Stadium, Mumbai',
 'Wankhede Stadium, Mumbai',
 'Wankhede Stadium, Mumbai',
 'Newlands, Cape Town',
 'DY Patil Stadium, NAVI MUMBAI',
 'DY Patil Stadium, NAVI MUMBAI',
 'DY Patil Stadium, NAVI MUMBAI',
 'Punjab Cricket Association IS Bindra Stadium, Mohali']

In [30]:
Date=[]
date_tag=driver1.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_tag:
    date=i.text
    Date.append(date)

In [31]:
Date

['26 DECEMBER, 2023',
 '28 DECEMBER, 2023',
 '30 DECEMBER, 2023',
 '2 JANUARY, 2024',
 '3 JANUARY, 2024',
 '5 JANUARY, 2024',
 '7 JANUARY, 2024',
 '9 JANUARY, 2024',
 '11 JANUARY, 2024']

In [34]:
DATE=Date[1:]

In [35]:
DATE

['28 DECEMBER, 2023',
 '30 DECEMBER, 2023',
 '2 JANUARY, 2024',
 '3 JANUARY, 2024',
 '5 JANUARY, 2024',
 '7 JANUARY, 2024',
 '9 JANUARY, 2024',
 '11 JANUARY, 2024']

In [36]:
Time=[]
time_tag=driver1.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_tag:
    time=i.text
    Time.append(time)

In [37]:
Time

['1:30 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '1:30 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '7:00 PM IST']

In [38]:
TIME=Time[1:]

In [39]:
TIME

['2:00 PM IST',
 '2:00 PM IST',
 '2:00 PM IST',
 '1:30 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '7:00 PM IST']

In [41]:
bcci_fixture=pd.DataFrame({'Series':SERIES,'PLACE':Place,'Date':DATE,'Time':TIME})

In [42]:
bcci_fixture

,Series,PLACE,Date,Time
0,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","28 DECEMBER, 2023",2:00 PM IST
1,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","30 DECEMBER, 2023",2:00 PM IST
2,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","2 JANUARY, 2024",2:00 PM IST
3,INDIA TOUR OF SOUTH AFRICA 2023-24,"Newlands, Cape Town","3 JANUARY, 2024",1:30 PM IST
4,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","5 JANUARY, 2024",7:00 PM IST
5,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","7 JANUARY, 2024",7:00 PM IST
6,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","9 JANUARY, 2024",7:00 PM IST
7,AFGHANISTAN TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium, ...","11 JANUARY, 2024",7:00 PM IST

In [52]:
# question no 3
# Scrape the details of State-wise GDP of India from statisticstime.com.   
driver=webdriver.Chrome()

In [53]:
driver.get('https://www.statisticstimes.com/economy/india/indian-states-gdp.php')

In [54]:
table=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]')
rows=table.find_elements(By.TAG_NAME,'tr')

for row in rows[1:]:
    cells=row.find_elements(By.TAG_NAME,'td')
    if len(cells)>=4:
        rank=cells[0].text
        state_name=cells[1].text
        gsdp1=cells[2].text
        gsdp2=cells[3].text
        share=cells[4].text
        gdp=cells[5].text
        gsdp3=cells[6].text
        gsdp4=cells[7].text
        
        print(f'{rank},{state_name},{gsdp1},{gsdp2},{share},{gdp},{gsdp3},{gsdp4}')

1,Maharashtra,-,3,108,022,13.24%,417.163,-,2,027,971
5,Gujarat,-,1,937,066,8.25%,259.996,-,1,372,204
11,Kerala,-,932,470,3.97%,125.157,-,572,747
23,Goa,-,82,604,0.35%,11.087,-,55,548
25,Chandigarh,-,45,635,0.19%,6.125,-,30,287
26,Puducherry,-,44,238,0.19%,5.938,-,27,834
29,Manipur,-,36,594,0.16%,4.912,-,20,515
30,Arunachal Pradesh,-,35,124,0.15%,4.714,-,19,801
31,Nagaland,-,31,913,0.14%,4.283,-,18,363
32,Mizoram,-,27,824,0.12%,3.735,-,18,494
33,Andaman & Nicobar Islands,-,10,371,0.04%,1.392,-,7,172
27,Meghalaya,42,697,38,785,0.17%,5.206,25,209,24,267
28,Sikkim,42,756,37,557,0.16%,5.041,22,144,20,728
24,Tripura,72,636,62,550,0.27%,8.396,42,997,39,487
22,Himachal Pradesh,195,405,176,269,0.75%,23.659,134,576,126,433
21,Jammu & Kashmir-UT,227,927,199,917,0.85%,26.833,134,716,124,728
20,Uttarakhand,302,621,272,159,1.16%,36.530,207,104,193,412
19,Jharkhand,393,722,358,863,1.53%,48.167,259,800,243,348
18,Chhattisgarh,457,608,406,416,1.73%,54.550,289,082,267,681
17,Assam,493,167,412,612,1.76%,55.381,289,192,262,523
16,Punjab,673,107,614,227,2.62%,82.442,461,539,433,769
15,Bihar,751,396,650,302,2.77%,87.284,442,473,399,930
14,Odisha,774,869,670,881,2.86%,90.047,463,859,432,960
13,Haryana,994,154,870,665,3.71%,116.862,608,420,568,086
12,Delhi,1,043,759,904,642,3.85%,121.422,652,649,597,765
10,Telangana,1,313,391,1,128,907,4.81%,151.523,726,707,674,371
9,Andhra Pradesh,1,317,728,1,133,837,4.83%,152.185,754,338,704,889
8,Madhya Pradesh,1,322,821,1,136,137,4.84%,152.494,643,124,600,689
7,Rajasthan,1,413,620,1,218,193,5.19%,163.507,799,449,738,922
6,West Bengal,1,554,992,1,363,926,5.81%,183.068,854,023,787,758
4,Karnataka,2,241,368,1,962,725,8.36%,263.440,1,326,319,1,229,713
3,Uttar Pradesh,2,257,575,1,974,532,8.41%,265.024,1,304,678,1,204,660
2,Tamil Nadu,2,364,514,2,071,286,8.82%,278.011,1,453,321,1,343,287
,India,27,240,712,23,471,012,,3,150,16,006,425,14,925,840

In [ ]:
# Question 4
# Scrape the details of trending repositories on Github.com.   
# Url = https://github.com/

In [57]:
driver=webdriver.Chrome()

In [58]:
driver.get('https://github.com/trending')

In [60]:
repo_title=[]
title_tag=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in title_tag:
    Repo_title=i.text
    repo_title.append(Repo_title)

In [67]:
len(repo_title)

25

In [99]:
Repository=repo_title[:20]

In [100]:
len(Repository)

20

In [64]:
description=[]
description_tag=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in description_tag:
    Descrpt_title=i.text
    description.append(Descrpt_title)

In [66]:
len(description)

22

In [70]:
description=[]
description_tag=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in description_tag:
    Descrpt_title=i.text.strip()
    description.append(Descrpt_title)

In [71]:
description

['StreamDiffusion: A Pipeline-Level Solution for Real-Time Interactive Generation',
 'ÂÆåÂÖ®ÂÖçË¥πÂºÄÊ∫êÔºåÂü∫‰∫é Requests Ê®°ÂùóÂÆûÁé∞ÔºöTikTok ‰∏ªÈ°µ/ËßÜÈ¢ë/ÂõæÈõÜ/ÂéüÂ£∞ÔºõÊäñÈü≥‰∏ªÈ°µ/ËßÜÈ¢ë/ÂõæÈõÜ/Êî∂Ëóè/Áõ¥Êí≠/ÂéüÂ£∞/ÂêàÈõÜ/ËØÑËÆ∫/Ë¥¶Âè∑/ÊêúÁ¥¢/ÁÉ≠Ê¶úÊï∞ÊçÆÈááÈõÜÂ∑•ÂÖ∑',
 'Dev tool that writes scalable apps from scratch while the developer oversees the implementation',
 'Community designed ERCF v2',
 'GUI-focused roop',
 'AppAgent: Multimodal Agents as Smartphone Users, an LLM-based multimodal agent framework designed to operate smartphone apps.',
 'A dedicated scratchpad for developers',
 'A unified evaluation framework for large language models',
 'üìú A minimalist personal website embodying the purity of paper and freshness of snow.',
 'A curated list of Large Language Model (LLM) Interpretability resources.',
 'G-code generator for 3D printers (Bambu, Prusa, Voron, VzBot, RatRig, Creality, etc.)',
 'An Open-Source Assistants API and GPTs alternative. Dify.AI is an LLM application development platform. It integrates the concepts of Backend as a Service and LLMOps, covering the core tech stack required for building generative AI-native applications, including a built-in RAG engine.',
 'A curated list of engineering blogs',
 'This repository contains everything you need to become proficient in System Design',
 'The Z3 Theorem Prover',
 'Learn how to design systems at scale and prepare for system design interviews',
 'A sound cloning tool with a web interface, using your voice or any sound to record audio / ‰∏Ä‰∏™Â∏¶webÁïåÈù¢ÁöÑÂ£∞Èü≥ÂÖãÈöÜÂ∑•ÂÖ∑Ôºå‰ΩøÁî®‰Ω†ÁöÑÈü≥Ëâ≤Êàñ‰ªªÊÑèÂ£∞Èü≥Êù•ÂΩïÂà∂Èü≥È¢ë',
 'A one-of-a-kind resume builder that keeps your privacy in mind. Completely secure, customizable, portable, open-source and free forever. Try it out today!',
 'üè° Open source home automation that puts local control and privacy first.',
 'Versatile typeface for code, from code.',
 'Jailed iOS app that can install IPAs permanently with arbitary entitlements and root helpers because it trolls Apple',
 'üöÄ‚ú® Help beginners to contribute to open source projects']

In [96]:
Descript=description[:20]

In [97]:
Descript

['StreamDiffusion: A Pipeline-Level Solution for Real-Time Interactive Generation',
 'ÂÆåÂÖ®ÂÖçË¥πÂºÄÊ∫êÔºåÂü∫‰∫é Requests Ê®°ÂùóÂÆûÁé∞ÔºöTikTok ‰∏ªÈ°µ/ËßÜÈ¢ë/ÂõæÈõÜ/ÂéüÂ£∞ÔºõÊäñÈü≥‰∏ªÈ°µ/ËßÜÈ¢ë/ÂõæÈõÜ/Êî∂Ëóè/Áõ¥Êí≠/ÂéüÂ£∞/ÂêàÈõÜ/ËØÑËÆ∫/Ë¥¶Âè∑/ÊêúÁ¥¢/ÁÉ≠Ê¶úÊï∞ÊçÆÈááÈõÜÂ∑•ÂÖ∑',
 'Dev tool that writes scalable apps from scratch while the developer oversees the implementation',
 'Community designed ERCF v2',
 'GUI-focused roop',
 'AppAgent: Multimodal Agents as Smartphone Users, an LLM-based multimodal agent framework designed to operate smartphone apps.',
 'A dedicated scratchpad for developers',
 'A unified evaluation framework for large language models',
 'üìú A minimalist personal website embodying the purity of paper and freshness of snow.',
 'A curated list of Large Language Model (LLM) Interpretability resources.',
 'G-code generator for 3D printers (Bambu, Prusa, Voron, VzBot, RatRig, Creality, etc.)',
 'An Open-Source Assistants API and GPTs alternative. Dify.AI is an LLM application development platform. It integrates the concepts of Backend as a Service and LLMOps, covering the core tech stack required for building generative AI-native applications, including a built-in RAG engine.',
 'A curated list of engineering blogs',
 'This repository contains everything you need to become proficient in System Design',
 'The Z3 Theorem Prover',
 'Learn how to design systems at scale and prepare for system design interviews',
 'A sound cloning tool with a web interface, using your voice or any sound to record audio / ‰∏Ä‰∏™Â∏¶webÁïåÈù¢ÁöÑÂ£∞Èü≥ÂÖãÈöÜÂ∑•ÂÖ∑Ôºå‰ΩøÁî®‰Ω†ÁöÑÈü≥Ëâ≤Êàñ‰ªªÊÑèÂ£∞Èü≥Êù•ÂΩïÂà∂Èü≥È¢ë',
 'A one-of-a-kind resume builder that keeps your privacy in mind. Completely secure, customizable, portable, open-source and free forever. Try it out today!',
 'üè° Open source home automation that puts local control and privacy first.',
 'Versatile typeface for code, from code.']

In [98]:
len(Descript)

20

In [75]:
contributer=[]
contributer_tag=driver.find_elements(By.XPATH,'//a[2][@class="Link Link--muted d-inline-block mr-3"]')
for i in contributer_tag:
    Contributer_title=i.text
    contributer.append(Contributer_title)

In [76]:
contributer

['339',
 '190',
 '445',
 '1,496',
 '31',
 '214',
 '171',
 '64',
 '83',
 '202',
 '54',
 '387',
 '1,731',
 '1,219',
 '339',
 '209',
 '1,436',
 '2,342',
 '110',
 '332',
 '1,860',
 '26,291',
 '559',
 '942',
 '69,820']

In [77]:
len(contributer)

25

In [92]:
Contributer=contributer[:20]

In [95]:
Contributer

['339',
 '190',
 '445',
 '1,496',
 '31',
 '214',
 '171',
 '64',
 '83',
 '202',
 '54',
 '387',
 '1,731',
 '1,219',
 '339',
 '209',
 '1,436',
 '2,342',
 '110',
 '332']

In [80]:
len(Contributer)

22

In [89]:
language=[]
language_tag=driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
for i in language_tag:
    Language_title=i.text
    language.append(Language_title)

In [90]:
language

['Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'JavaScript',
 'Python',
 'TypeScript',
 'C++',
 'TypeScript',
 'Ruby',
 'Kotlin',
 'C++',
 'HTML',
 'Python',
 'TypeScript',
 'Python',
 'JavaScript',
 'C']

In [91]:
len(language)

20

['',
 'Python',
 '',
 'Python',
 '',
 'Python',
 '',
 'Python',
 '',
 'Python',
 '',
 'Python',
 '',
 'JavaScript',
 '',
 'Python',
 '',
 'TypeScript',
 '',
 'C++',
 '',
 'TypeScript']

In [102]:
repository=pd.DataFrame({'Repository title':Repository,'Description':Descript,'Contributer count':Contributer,'Language':language})

In [103]:
repository

,Repository title,Description,Contributer count,Language
0,cumulo-autumn /,StreamDiffusion: A Pipeline-Level Solution for...,339,Python
1,apple /,ÂÆåÂÖ®ÂÖçË¥πÂºÄÊ∫êÔºåÂü∫‰∫é Requests Ê®°ÂùóÂÆûÁé∞ÔºöTikTok ‰∏ªÈ°µ/ËßÜÈ¢ë/ÂõæÈõÜ/ÂéüÂ£∞ÔºõÊäñÈü≥‰∏ª...,190,Python
2,JoeanAmier /,Dev tool that writes scalable apps from scratc...,445,Python
3,Pythagora-io /,Community designed ERCF v2,"1,496",Python
4,Enraged-Rabbit-Community /,GUI-focused roop,31,Python
5,Hillobar /,AppAgent: Multimodal Agents as Smartphone User...,214,Python
6,mnotgod96 /,A dedicated scratchpad for developers,171,JavaScript
7,heyman /,A unified evaluation framework for large langu...,64,Python
8,microsoft /,üìú A minimalist personal website embodying the ...,83,TypeScript
9,Innei /,A curated list of Large Language Model (LLM) I...,202,C++
10,JShollaj /,"G-code generator for 3D printers (Bambu, Prusa...",54,TypeScript
11,SoftFever /,An Open-Source Assistants API and GPTs alterna...,387,Ruby
12,langgenius /,A curated list of engineering blogs,"1,731",Kotlin
13,kilimchoi /,This repository contains everything you need t...,"1,219",C++
14,Coder-World04 /,The Z3 Theorem Prover,339,HTML
15,simondankelmann /,Learn how to design systems at scale and prepa...,209,Python
16,Z3Prover /,"A sound cloning tool with a web interface, usi...","1,436",TypeScript
17,karanpratapsingh /,A one-of-a-kind resume builder that keeps your...,"2,342",Python
18,elifgazioglu /,üè° Open source home automation that puts local ...,110,JavaScript
19,jianchang512 /,"Versatile typeface for code, from code.",332,C

In [122]:
# question no 5
#Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/  You have to find the 
# following details: 
driver=webdriver.Chrome()

In [123]:
driver.get('https://www.billboard.com/')

In [125]:
search=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
search.click()

In [127]:
search1=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
search1.click()

In [130]:
rank=[]
rank_tag=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]')
for i in rank_tag:
    Rank=i.text.strip()
    rank.append(Rank)

In [131]:
rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99',
 '100']

In [132]:
song_name=[]
song_name_tag=driver.find_elements(By.XPATH,'//h3[@id="title-of-a-story"]')
for i in song_name_tag:
    Song_name=i.text
    song_name.append(Song_name)

In [133]:
song_name

['',
 '',
 '',
 '',
 '',
 '',
 'All I Want For Christmas Is You',
 '',
 '',
 '',
 "Rockin' Around The Christmas Tree",
 '',
 '',
 '',
 'Jingle Bell Rock',
 '',
 '',
 '',
 'Last Christmas',
 '',
 '',
 '',
 'A Holly Jolly Christmas',
 '',
 '',
 '',
 'Lovin On Me',
 '',
 '',
 '',
 "It's The Most Wonderful Time Of The Year",
 '',
 '',
 '',
 'Let It Snow, Let It Snow, Let It Snow!',
 '',
 '',
 '',
 'Feliz Navidad',
 '',
 '',
 '',
 'Sleigh Ride',
 '',
 '',
 '',
 'The Christmas Song (Merry Christmas To You)',
 '',
 '',
 '',
 'Santa Tell Me',
 '',
 '',
 '',
 'Underneath The Tree',
 '',
 '',
 '',
 "It's Beginning To Look A Lot Like Christmas",
 '',
 '',
 '',
 'White Christmas',
 '',
 '',
 '',
 'Jingle Bells',
 '',
 '',
 '',
 'Christmas (Baby Please Come Home)',
 '',
 '',
 '',
 'Cruel Summer',
 '',
 '',
 '',
 'Greedy',
 '',
 '',
 '',
 'Snooze',
 '',
 '',
 '',
 'Paint The Town Red',
 '',
 '',
 '',
 'Here Comes Santa Claus (Right Down Santa Claus Lane)',
 '',
 '',
 '',
 'Deck The Halls',
 '',
 '',
 '',
 "It's Beginning To Look A Lot Like Christmas",
 '',
 '',
 '',
 'Blue Christmas',
 '',
 '',
 '',
 'Water',
 '',
 '',
 '',
 'Run Rudolph Run',
 '',
 '',
 '',
 'I Remember Everything',
 '',
 '',
 '',
 'Agora Hills',
 '',
 '',
 '',
 'Santa Baby',
 '',
 '',
 '',
 'Little Saint Nick',
 '',
 '',
 '',
 'Please Come Home For Christmas',
 '',
 '',
 '',
 'Last Night',
 '',
 '',
 '',
 "You're A Mean One, Mr. Grinch",
 '',
 '',
 '',
 "Santa Claus Is Comin' To Town",
 '',
 '',
 '',
 'Wonderful Christmastime',
 '',
 '',
 '',
 "Thinkin' Bout Me",
 '',
 '',
 '',
 'Rudolph The Red-Nosed Reindeer',
 '',
 '',
 '',
 'Everybody',
 '',
 '',
 '',
 "Is It Over Now? (Taylor's Version) [From The Vault]",
 '',
 '',
 '',
 'Lose Control',
 '',
 '',
 '',
 'FTCU',
 '',
 '',
 '',
 "Like It's Christmas",
 '',
 '',
 '',
 'Happy Holiday / The Holiday Season',
 '',
 '',
 '',
 'This Christmas',
 '',
 '',
 '',
 'Fast Car',
 '',
 '',
 '',
 'Lil Boo Thang',
 '',
 '',
 '',
 'Happy Xmas (War Is Over)',
 '',
 '',
 '',
 'What Was I Made For?',
 '',
 '',
 '',
 'Rich Baby Daddy',
 '',
 '',
 '',
 'First Person Shooter',
 '',
 '',
 '',
 'White Horse',
 '',
 '',
 '',
 'Stick Season',
 '',
 '',
 '',
 'Used To Be Young',
 '',
 '',
 '',
 'World On Fire',
 '',
 '',
 '',
 'Good Good',
 '',
 '',
 '',
 'Houdini',
 '',
 '',
 '',
 'My Love Mine All Mine',
 '',
 '',
 '',
 'Pretty Little Poison',
 '',
 '',
 '',
 'Exes',
 '',
 '',
 '',
 'Surround Sound',
 '',
 '',
 '',
 'On My Mama',
 '',
 '',
 '',
 'IDGAF',
 '',
 '',
 '',
 'Monaco',
 '',
 '',
 '',
 'Needle',
 '',
 '',
 '',
 'Strangers',
 '',
 '',
 '',
 'Wild Ones',
 '',
 '',
 '',
 'Get Him Back!',
 '',
 '',
 '',
 'Harley Quinn',
 '',
 '',
 '',
 'You Broke My Heart',
 '',
 '',
 '',
 'Bellakeo',
 '',
 '',
 '',
 'Truck Bed',
 '',
 '',
 '',
 'Save Me The Trouble',
 '',
 '',
 '',
 'Beep Beep',
 '',
 '',
 '',
 '500lbs',
 '',
 '',
 '',
 'La Diabla',
 '',
 '',
 '',
 "You're Losing Me (From The Vault)",
 '',
 '',
 '',
 'Where The Wild Things Are',
 '',
 '',
 '',
 'Standing Next To You',
 '',
 '',
 '',
 'The Painter',
 '',
 '',
 '',
 'Jingle Bells',
 '',
 '',
 '',
 'Qlona',
 '',
 '',
 '',
 'Crazy',
 '',
 '',
 '',
 'Never Lose Me',
 '',
 '',
 '',
 'Lace It',
 '',
 '',
 '',
 'Burn It Down',
 '',
 '',
 '',
 "Can't Catch Me Now",
 '',
 '',
 '',
 'Mind On You',
 '',
 '',
 '',
 'Segun Quien',
 '',
 '',
 '',
 'Feather',
 '',
 '',
 '',
 'La Victima',
 '',
 '',
 '',
 'Hey Driver',
 '',
 '',
 '',
 'Wondering Why',
 '',
 '',
 '',
 'DJ Play A Christmas Song',
 '',
 '',
 '',
 "Different 'Round Here",
 '',
 '',
 '',
 'Winter Wonderland',
 '',
 '',
 '',
 'Run For The Hills',
 '',
 '',
 '',
 'Que Onda',
 '',
 '',
 '',
 'Great Gatsby',
 '',
 '',
 '',
 'One Of The Girls',
 '',
 '',
 '',
 "'Parasite' Actor Lee Sun-kyun Found Dead Amid Drug Probe",
 'Melania Trump Has Apparently Changed Her Mind & Really Wants the First Lady Job Again',
 'Monica Says "The Boy Is Mine" Is Too "Sacred" To Be Remade: "It‚Äôs A Part Of History"',
 "Met Museum to Sell Gilbert Stuart Portrait of George Washington at Christie's for Up to $2.5 M.",
 'Netflix‚Äôs New Releases Coming in December 2023',
 'Jacquees Gives Back For The Holidays With 6th Annual Christmas Toy Drive In Georgia',
 '12 of the World‚Äôs Most Expensive Perfumes: Marilyn Monroe‚Äôs Unopened Chanel No.5, Dior‚Äôs Bejeweled J‚Äôadore and the Scents Worth Millions',
 '',
 '',
 'Follow Us',
 '',
 'The Daily',
 'Have a Tip?']

In [147]:
import regex as re
Song_Name= [item for item in song_name if not re.match(r'^(\'\'|\"\")*$', item)]

In [149]:
len(Song_Name)

110

In [150]:
SONG_name=Song_Name[:100]

In [165]:
SONG_name

['All I Want For Christmas Is You',
 "Rockin' Around The Christmas Tree",
 'Jingle Bell Rock',
 'Last Christmas',
 'A Holly Jolly Christmas',
 'Lovin On Me',
 "It's The Most Wonderful Time Of The Year",
 'Let It Snow, Let It Snow, Let It Snow!',
 'Feliz Navidad',
 'Sleigh Ride',
 'The Christmas Song (Merry Christmas To You)',
 'Santa Tell Me',
 'Underneath The Tree',
 "It's Beginning To Look A Lot Like Christmas",
 'White Christmas',
 'Jingle Bells',
 'Christmas (Baby Please Come Home)',
 'Cruel Summer',
 'Greedy',
 'Snooze',
 'Paint The Town Red',
 'Here Comes Santa Claus (Right Down Santa Claus Lane)',
 'Deck The Halls',
 "It's Beginning To Look A Lot Like Christmas",
 'Blue Christmas',
 'Water',
 'Run Rudolph Run',
 'I Remember Everything',
 'Agora Hills',
 'Santa Baby',
 'Little Saint Nick',
 'Please Come Home For Christmas',
 'Last Night',
 "You're A Mean One, Mr. Grinch",
 "Santa Claus Is Comin' To Town",
 'Wonderful Christmastime',
 "Thinkin' Bout Me",
 'Rudolph The Red-Nosed Reindeer',
 'Everybody',
 "Is It Over Now? (Taylor's Version) [From The Vault]",
 'Lose Control',
 'FTCU',
 "Like It's Christmas",
 'Happy Holiday / The Holiday Season',
 'This Christmas',
 'Fast Car',
 'Lil Boo Thang',
 'Happy Xmas (War Is Over)',
 'What Was I Made For?',
 'Rich Baby Daddy',
 'First Person Shooter',
 'White Horse',
 'Stick Season',
 'Used To Be Young',
 'World On Fire',
 'Good Good',
 'Houdini',
 'My Love Mine All Mine',
 'Pretty Little Poison',
 'Exes',
 'Surround Sound',
 'On My Mama',
 'IDGAF',
 'Monaco',
 'Needle',
 'Strangers',
 'Wild Ones',
 'Get Him Back!',
 'Harley Quinn',
 'You Broke My Heart',
 'Bellakeo',
 'Truck Bed',
 'Save Me The Trouble',
 'Beep Beep',
 '500lbs',
 'La Diabla',
 "You're Losing Me (From The Vault)",
 'Where The Wild Things Are',
 'Standing Next To You',
 'The Painter',
 'Jingle Bells',
 'Qlona',
 'Crazy',
 'Never Lose Me',
 'Lace It',
 'Burn It Down',
 "Can't Catch Me Now",
 'Mind On You',
 'Segun Quien',
 'Feather',
 'La Victima',
 'Hey Driver',
 'Wondering Why',
 'DJ Play A Christmas Song',
 "Different 'Round Here",
 'Winter Wonderland',
 'Run For The Hills',
 'Que Onda',
 'Great Gatsby',
 'One Of The Girls']

In [163]:
filtered_list = list(filter(lambda x: re.match(r'\S', x), song_name))

In [164]:
filtered_list

['All I Want For Christmas Is You',
 "Rockin' Around The Christmas Tree",
 'Jingle Bell Rock',
 'Last Christmas',
 'A Holly Jolly Christmas',
 'Lovin On Me',
 "It's The Most Wonderful Time Of The Year",
 'Let It Snow, Let It Snow, Let It Snow!',
 'Feliz Navidad',
 'Sleigh Ride',
 'The Christmas Song (Merry Christmas To You)',
 'Santa Tell Me',
 'Underneath The Tree',
 "It's Beginning To Look A Lot Like Christmas",
 'White Christmas',
 'Jingle Bells',
 'Christmas (Baby Please Come Home)',
 'Cruel Summer',
 'Greedy',
 'Snooze',
 'Paint The Town Red',
 'Here Comes Santa Claus (Right Down Santa Claus Lane)',
 'Deck The Halls',
 "It's Beginning To Look A Lot Like Christmas",
 'Blue Christmas',
 'Water',
 'Run Rudolph Run',
 'I Remember Everything',
 'Agora Hills',
 'Santa Baby',
 'Little Saint Nick',
 'Please Come Home For Christmas',
 'Last Night',
 "You're A Mean One, Mr. Grinch",
 "Santa Claus Is Comin' To Town",
 'Wonderful Christmastime',
 "Thinkin' Bout Me",
 'Rudolph The Red-Nosed Reindeer',
 'Everybody',
 "Is It Over Now? (Taylor's Version) [From The Vault]",
 'Lose Control',
 'FTCU',
 "Like It's Christmas",
 'Happy Holiday / The Holiday Season',
 'This Christmas',
 'Fast Car',
 'Lil Boo Thang',
 'Happy Xmas (War Is Over)',
 'What Was I Made For?',
 'Rich Baby Daddy',
 'First Person Shooter',
 'White Horse',
 'Stick Season',
 'Used To Be Young',
 'World On Fire',
 'Good Good',
 'Houdini',
 'My Love Mine All Mine',
 'Pretty Little Poison',
 'Exes',
 'Surround Sound',
 'On My Mama',
 'IDGAF',
 'Monaco',
 'Needle',
 'Strangers',
 'Wild Ones',
 'Get Him Back!',
 'Harley Quinn',
 'You Broke My Heart',
 'Bellakeo',
 'Truck Bed',
 'Save Me The Trouble',
 'Beep Beep',
 '500lbs',
 'La Diabla',
 "You're Losing Me (From The Vault)",
 'Where The Wild Things Are',
 'Standing Next To You',
 'The Painter',
 'Jingle Bells',
 'Qlona',
 'Crazy',
 'Never Lose Me',
 'Lace It',
 'Burn It Down',
 "Can't Catch Me Now",
 'Mind On You',
 'Segun Quien',
 'Feather',
 'La Victima',
 'Hey Driver',
 'Wondering Why',
 'DJ Play A Christmas Song',
 "Different 'Round Here",
 'Winter Wonderland',
 'Run For The Hills',
 'Que Onda',
 'Great Gatsby',
 'One Of The Girls',
 "'Parasite' Actor Lee Sun-kyun Found Dead Amid Drug Probe",
 'Melania Trump Has Apparently Changed Her Mind & Really Wants the First Lady Job Again',
 'Monica Says "The Boy Is Mine" Is Too "Sacred" To Be Remade: "It‚Äôs A Part Of History"',
 "Met Museum to Sell Gilbert Stuart Portrait of George Washington at Christie's for Up to $2.5 M.",
 'Netflix‚Äôs New Releases Coming in December 2023',
 'Jacquees Gives Back For The Holidays With 6th Annual Christmas Toy Drive In Georgia',
 '12 of the World‚Äôs Most Expensive Perfumes: Marilyn Monroe‚Äôs Unopened Chanel No.5, Dior‚Äôs Bejeweled J‚Äôadore and the Scents Worth Millions',
 'Follow Us',
 'The Daily',
 'Have a Tip?']

In [ ]:
artist_name=[]
artist_name_tag=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p u-hidden@tablet"]')
for i in artist_name_tag:
    Artist_name=i.text
    artist_name.append(Song_name)

In [185]:
WEEKS_on_chart=['1','1','64']
weeks_on_chart_tag=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in weeks_on_chart_tag:
    Week_on_chart=i.text
    WEEKS_on_chart.append(Week_on_chart)

In [186]:
WEEKS_on_chart

['1',
 '1',
 '64',
 '2',
 '1',
 '57',
 '',
 '',
 '',
 '3',
 '3',
 '55',
 '',
 '',
 '',
 '4',
 '4',
 '37',
 '',
 '',
 '',
 '5',
 '4',
 '38',
 '',
 '',
 '',
 '6',
 '1',
 '6',
 '',
 '',
 '',
 '7',
 '5',
 '38',
 '',
 '',
 '',
 '10',
 '8',
 '30',
 '',
 '',
 '',
 '12',
 '6',
 '31',
 '',
 '',
 '',
 '8',
 '8',
 '27',
 '',
 '',
 '',
 '15',
 '9',
 '43',
 '',
 '',
 '',
 '14',
 '12',
 '23',
 '',
 '',
 '',
 '11',
 '11',
 '26',
 '',
 '',
 '',
 '24',
 '12',
 '22',
 '',
 '',
 '',
 '23',
 '12',
 '34',
 '',
 '',
 '',
 '20',
 '16',
 '13',
 '',
 '',
 '',
 '18',
 '15',
 '21',
 '',
 '',
 '',
 '13',
 '1',
 '33',
 '',
 '',
 '',
 '9',
 '7',
 '14',
 '',
 '',
 '',
 '16',
 '2',
 '54',
 '',
 '',
 '',
 '17',
 '1',
 '20',
 '',
 '',
 '',
 '25',
 '22',
 '19',
 '',
 '',
 '',
 '28',
 '16',
 '12',
 '',
 '',
 '',
 '19',
 '19',
 '19',
 '',
 '',
 '',
 '27',
 '24',
 '12',
 '',
 '',
 '',
 '21',
 '10',
 '12',
 '',
 '',
 '',
 '38',
 '10',
 '21',
 '',
 '',
 '',
 '22',
 '1',
 '17',
 '',
 '',
 '',
 '30',
 '14',
 '13',
 '',
 '',
 '',
 '31',
 '30',
 '8',
 '',
 '',
 '',
 '40',
 '29',
 '7',
 '',
 '',
 '',
 '45',
 '18',
 '14',
 '',
 '',
 '',
 '29',
 '1',
 '47',
 '',
 '',
 '',
 '41',
 '31',
 '11',
 '',
 '',
 '',
 '37',
 '33',
 '10',
 '',
 '',
 '',
 '35',
 '28',
 '12',
 '',
 '',
 '',
 '32',
 '7',
 '42',
 '',
 '',
 '',
 '33',
 '16',
 '26',
 '',
 '',
 '',
 '26',
 '26',
 '2',
 '',
 '',
 '',
 '36',
 '1',
 '8',
 '',
 '',
 '',
 '47',
 '39',
 '19',
 '',
 '',
 '',
 '42',
 '42',
 '2',
 '',
 '',
 '',
 '46',
 '43',
 '6',
 '',
 '',
 '',
 '49',
 '18',
 '18',
 '',
 '',
 '',
 '-',
 '37',
 '4',
 '',
 '',
 '',
 '39',
 '2',
 '39',
 '',
 '',
 '',
 '43',
 '23',
 '14',
 '',
 '',
 '',
 '-',
 '38',
 '5',
 '',
 '',
 '',
 '53',
 '14',
 '23',
 '',
 '',
 '',
 '44',
 '11',
 '11',
 '',
 '',
 '',
 '51',
 '1',
 '11',
 '',
 '',
 '',
 '55',
 '12',
 '22',
 '',
 '',
 '',
 '54',
 '31',
 '12',
 '',
 '',
 '',
 '52',
 '8',
 '17',
 '',
 '',
 '',
 '62',
 '47',
 '8',
 '',
 '',
 '',
 '56',
 '25',
 '19',
 '',
 '',
 '',
 '59',
 '11',
 '6',
 '',
 '',
 '',
 '61',
 '26',
 '13',
 '',
 '',
 '',
 '71',
 '46',
 '15',
 '',
 '',
 '',
 '57',
 '34',
 '5',
 '',
 '',
 '',
 '72',
 '61',
 '6',
 '',
 '',
 '',
 '70',
 '48',
 '14',
 '',
 '',
 '',
 '66',
 '2',
 '11',
 '',
 '',
 '',
 '67',
 '5',
 '10',
 '',
 '',
 '',
 '34',
 '34',
 '2',
 '',
 '',
 '',
 '78',
 '52',
 '14',
 '',
 '',
 '',
 '77',
 '42',
 '11',
 '',
 '',
 '',
 '79',
 '11',
 '15',
 '',
 '',
 '',
 '76',
 '40',
 '7',
 '',
 '',
 '',
 '83',
 '11',
 '5',
 '',
 '',
 '',
 '-',
 '71',
 '1',
 '',
 '',
 '',
 '85',
 '55',
 '27',
 '',
 '',
 '',
 '96',
 '73',
 '8',
 '',
 '',
 '',
 '64',
 '64',
 '2',
 '',
 '',
 '',
 '81',
 '51',
 '13',
 '',
 '',
 '',
 '-',
 '76',
 '1',
 '',
 '',
 '',
 '68',
 '27',
 '4',
 '',
 '',
 '',
 '90',
 '78',
 '5',
 '',
 '',
 '',
 '99',
 '5',
 '7',
 '',
 '',
 '',
 '88',
 '55',
 '11',
 '',
 '',
 '',
 '-',
 '81',
 '1',
 '',
 '',
 '',
 '86',
 '28',
 '19',
 '',
 '',
 '',
 '-',
 '83',
 '1',
 '',
 '',
 '',
 '-',
 '84',
 '1',
 '',
 '',
 '',
 '-',
 '85',
 '1',
 '',
 '',
 '',
 '93',
 '77',
 '9',
 '',
 '',
 '',
 '84',
 '56',
 '7',
 '',
 '',
 '',
 '-',
 '88',
 '1',
 '',
 '',
 '',
 '91',
 '68',
 '12',
 '',
 '',
 '',
 '94',
 '90',
 '3',
 '',
 '',
 '',
 '-',
 '91',
 '1',
 '',
 '',
 '',
 '97',
 '14',
 '17',
 '',
 '',
 '',
 '-',
 '93',
 '1',
 '',
 '',
 '',
 '-',
 '94',
 '1',
 '',
 '',
 '',
 '-',
 '95',
 '4',
 '',
 '',
 '',
 '-',
 '96',
 '1',
 '',
 '',
 '',
 '69',
 '69',
 '2',
 '',
 '',
 '',
 '92',
 '61',
 '12',
 '',
 '',
 '',
 '-',
 '30',
 '13',
 '',
 '',
 '',
 '-',
 '100',
 '1',
 '',
 '',
 '']

In [187]:
filtered_list2 = list(filter(lambda x: re.match(r'\S', x), WEEKS_on_chart))

In [202]:
filtered_list2

['1',
 '1',
 '64',
 '2',
 '1',
 '57',
 '3',
 '3',
 '55',
 '4',
 '4',
 '37',
 '5',
 '4',
 '38',
 '6',
 '1',
 '6',
 '7',
 '5',
 '38',
 '10',
 '8',
 '30',
 '12',
 '6',
 '31',
 '8',
 '8',
 '27',
 '15',
 '9',
 '43',
 '14',
 '12',
 '23',
 '11',
 '11',
 '26',
 '24',
 '12',
 '22',
 '23',
 '12',
 '34',
 '20',
 '16',
 '13',
 '18',
 '15',
 '21',
 '13',
 '1',
 '33',
 '9',
 '7',
 '14',
 '16',
 '2',
 '54',
 '17',
 '1',
 '20',
 '25',
 '22',
 '19',
 '28',
 '16',
 '12',
 '19',
 '19',
 '19',
 '27',
 '24',
 '12',
 '21',
 '10',
 '12',
 '38',
 '10',
 '21',
 '22',
 '1',
 '17',
 '30',
 '14',
 '13',
 '31',
 '30',
 '8',
 '40',
 '29',
 '7',
 '45',
 '18',
 '14',
 '29',
 '1',
 '47',
 '41',
 '31',
 '11',
 '37',
 '33',
 '10',
 '35',
 '28',
 '12',
 '32',
 '7',
 '42',
 '33',
 '16',
 '26',
 '26',
 '26',
 '2',
 '36',
 '1',
 '8',
 '47',
 '39',
 '19',
 '42',
 '42',
 '2',
 '46',
 '43',
 '6',
 '49',
 '18',
 '18',
 '-',
 '37',
 '4',
 '39',
 '2',
 '39',
 '43',
 '23',
 '14',
 '-',
 '38',
 '5',
 '53',
 '14',
 '23',
 '44',
 '11',
 '11',
 '51',
 '1',
 '11',
 '55',
 '12',
 '22',
 '54',
 '31',
 '12',
 '52',
 '8',
 '17',
 '62',
 '47',
 '8',
 '56',
 '25',
 '19',
 '59',
 '11',
 '6',
 '61',
 '26',
 '13',
 '71',
 '46',
 '15',
 '57',
 '34',
 '5',
 '72',
 '61',
 '6',
 '70',
 '48',
 '14',
 '66',
 '2',
 '11',
 '67',
 '5',
 '10',
 '34',
 '34',
 '2',
 '78',
 '52',
 '14',
 '77',
 '42',
 '11',
 '79',
 '11',
 '15',
 '76',
 '40',
 '7',
 '83',
 '11',
 '5',
 '-',
 '71',
 '1',
 '85',
 '55',
 '27',
 '96',
 '73',
 '8',
 '64',
 '64',
 '2',
 '81',
 '51',
 '13',
 '-',
 '76',
 '1',
 '68',
 '27',
 '4',
 '90',
 '78',
 '5',
 '99',
 '5',
 '7',
 '88',
 '55',
 '11',
 '-',
 '81',
 '1',
 '86',
 '28',
 '19',
 '-',
 '83',
 '1',
 '-',
 '84',
 '1',
 '-',
 '85',
 '1',
 '93',
 '77',
 '9',
 '84',
 '56',
 '7',
 '-',
 '88',
 '1',
 '91',
 '68',
 '12',
 '94',
 '90',
 '3',
 '-',
 '91',
 '1',
 '97',
 '14',
 '17',
 '-',
 '93',
 '1',
 '-',
 '94',
 '1',
 '-',
 '95',
 '4',
 '-',
 '96',
 '1',
 '69',
 '69',
 '2',
 '92',
 '61',
 '12',
 '-',
 '30',
 '13',
 '-',
 '100',
 '1']

In [192]:
import numpy as np
indices=np.arange(1,300,3)
Last_week= np.array(filtered_list2)[np.array(indices)-1]

AttributeError: module 'numpy' has no attribute 'list'

In [191]:
last_week

array(['1', '2', '3', '4', '5', '6', '7', '10', '12', '8', '15', '14',
       '11', '24', '23', '20', '18', '13', '9', '16', '17', '25', '28',
       '19', '27', '21', '38', '22', '30', '31', '40', '45', '29', '41',
       '37', '35', '32', '33', '26', '36', '47', '42', '46', '49', '-',
       '39', '43', '-', '53', '44', '51', '55', '54', '52', '62', '56',
       '59', '61', '71', '57', '72', '70', '66', '67', '34', '78', '77',
       '79', '76', '83', '-', '85', '96', '64', '81', '-', '68', '90',
       '99', '88', '-', '86', '-', '-', '-', '93', '84', '-', '91', '94',
       '-', '97', '-', '-', '-', '-', '69', '92', '-', '-'], dtype='<U3')

In [193]:
Last_Week = last_week.tolist()

In [195]:
len(Last_Week)

100

In [197]:
indices=np.arange(2,300,3)
peak_pos= np.array(filtered_list2)[np.array(indices)-1]

In [198]:
peak_pos

array(['1', '1', '3', '4', '4', '1', '5', '8', '6', '8', '9', '12', '11',
       '12', '12', '16', '15', '1', '7', '2', '1', '22', '16', '19', '24',
       '10', '10', '1', '14', '30', '29', '18', '1', '31', '33', '28',
       '7', '16', '26', '1', '39', '42', '43', '18', '37', '2', '23',
       '38', '14', '11', '1', '12', '31', '8', '47', '25', '11', '26',
       '46', '34', '61', '48', '2', '5', '34', '52', '42', '11', '40',
       '11', '71', '55', '73', '64', '51', '76', '27', '78', '5', '55',
       '81', '28', '83', '84', '85', '77', '56', '88', '68', '90', '91',
       '14', '93', '94', '95', '96', '69', '61', '30', '100'], dtype='<U3')

In [199]:
Peak_Pos = peak_pos.tolist()

In [201]:
len(Peak_Pos)

100

In [203]:
indices=np.arange(3,300,3)
weeks_on_chart= np.array(filtered_list2)[np.array(indices)-1]

In [204]:
weeks_on_chart

array(['64', '57', '55', '37', '38', '6', '38', '30', '31', '27', '43',
       '23', '26', '22', '34', '13', '21', '33', '14', '54', '20', '19',
       '12', '19', '12', '12', '21', '17', '13', '8', '7', '14', '47',
       '11', '10', '12', '42', '26', '2', '8', '19', '2', '6', '18', '4',
       '39', '14', '5', '23', '11', '11', '22', '12', '17', '8', '19',
       '6', '13', '15', '5', '6', '14', '11', '10', '2', '14', '11', '15',
       '7', '5', '1', '27', '8', '2', '13', '1', '4', '5', '7', '11', '1',
       '19', '1', '1', '1', '9', '7', '1', '12', '3', '1', '17', '1', '1',
       '4', '1', '2', '12', '13'], dtype='<U3')

In [205]:
Weeks_on_Chart=weeks_on_chart.tolist()

In [208]:
Weeks_on_Chart

['64',
 '57',
 '55',
 '37',
 '38',
 '6',
 '38',
 '30',
 '31',
 '27',
 '43',
 '23',
 '26',
 '22',
 '34',
 '13',
 '21',
 '33',
 '14',
 '54',
 '20',
 '19',
 '12',
 '19',
 '12',
 '12',
 '21',
 '17',
 '13',
 '8',
 '7',
 '14',
 '47',
 '11',
 '10',
 '12',
 '42',
 '26',
 '2',
 '8',
 '19',
 '2',
 '6',
 '18',
 '4',
 '39',
 '14',
 '5',
 '23',
 '11',
 '11',
 '22',
 '12',
 '17',
 '8',
 '19',
 '6',
 '13',
 '15',
 '5',
 '6',
 '14',
 '11',
 '10',
 '2',
 '14',
 '11',
 '15',
 '7',
 '5',
 '1',
 '27',
 '8',
 '2',
 '13',
 '1',
 '4',
 '5',
 '7',
 '11',
 '1',
 '19',
 '1',
 '1',
 '1',
 '9',
 '7',
 '1',
 '12',
 '3',
 '1',
 '17',
 '1',
 '1',
 '4',
 '1',
 '2',
 '12',
 '13']

In [207]:
len(Weeks_on_Chart)

99

In [211]:
Weeks_on_Chart.append(1)

In [212]:
len(Weeks_on_Chart)

101

In [213]:
Weeks_on_Chart

['64',
 '57',
 '55',
 '37',
 '38',
 '6',
 '38',
 '30',
 '31',
 '27',
 '43',
 '23',
 '26',
 '22',
 '34',
 '13',
 '21',
 '33',
 '14',
 '54',
 '20',
 '19',
 '12',
 '19',
 '12',
 '12',
 '21',
 '17',
 '13',
 '8',
 '7',
 '14',
 '47',
 '11',
 '10',
 '12',
 '42',
 '26',
 '2',
 '8',
 '19',
 '2',
 '6',
 '18',
 '4',
 '39',
 '14',
 '5',
 '23',
 '11',
 '11',
 '22',
 '12',
 '17',
 '8',
 '19',
 '6',
 '13',
 '15',
 '5',
 '6',
 '14',
 '11',
 '10',
 '2',
 '14',
 '11',
 '15',
 '7',
 '5',
 '1',
 '27',
 '8',
 '2',
 '13',
 '1',
 '4',
 '5',
 '7',
 '11',
 '1',
 '19',
 '1',
 '1',
 '1',
 '9',
 '7',
 '1',
 '12',
 '3',
 '1',
 '17',
 '1',
 '1',
 '4',
 '1',
 '2',
 '12',
 '13',
 1,
 1]

In [214]:
Weeks_On_Chart=Weeks_on_Chart[:100]

In [215]:
Weeks_On_Chart

['64',
 '57',
 '55',
 '37',
 '38',
 '6',
 '38',
 '30',
 '31',
 '27',
 '43',
 '23',
 '26',
 '22',
 '34',
 '13',
 '21',
 '33',
 '14',
 '54',
 '20',
 '19',
 '12',
 '19',
 '12',
 '12',
 '21',
 '17',
 '13',
 '8',
 '7',
 '14',
 '47',
 '11',
 '10',
 '12',
 '42',
 '26',
 '2',
 '8',
 '19',
 '2',
 '6',
 '18',
 '4',
 '39',
 '14',
 '5',
 '23',
 '11',
 '11',
 '22',
 '12',
 '17',
 '8',
 '19',
 '6',
 '13',
 '15',
 '5',
 '6',
 '14',
 '11',
 '10',
 '2',
 '14',
 '11',
 '15',
 '7',
 '5',
 '1',
 '27',
 '8',
 '2',
 '13',
 '1',
 '4',
 '5',
 '7',
 '11',
 '1',
 '19',
 '1',
 '1',
 '1',
 '9',
 '7',
 '1',
 '12',
 '3',
 '1',
 '17',
 '1',
 '1',
 '4',
 '1',
 '2',
 '12',
 '13',
 1]

In [216]:
len(Weeks_On_Chart)

100

In [218]:
best_100_songs=pd.DataFrame({'RANK':rank,'SONG NAME':SONG_name,'LAST WEEK':Last_Week,'PEAK POSITION':Peak_Pos,'WEEKS ON CHART':Weeks_On_Chart})

In [220]:
best_100_songs

,RANK,SONG NAME,LAST WEEK,PEAK POSITION,WEEKS ON CHART
0,1,All I Want For Christmas Is You,1,1,64
1,2,Rockin' Around The Christmas Tree,2,1,57
2,3,Jingle Bell Rock,3,3,55
3,4,Last Christmas,4,4,37
4,5,A Holly Jolly Christmas,5,4,38
...,...,...,...,...,...
95,96,Winter Wonderland,-,96,1
96,97,Run For The Hills,69,69,2
97,98,Que Onda,92,61,12
98,99,Great Gatsby,-,30,13
99,100,One Of The Girls,-,100,1

In [225]:
# question no 6
# Scrape the details of Highest selling novels.   
driver=webdriver.Chrome()

In [226]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [227]:
table=driver.find_element(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table')
rows=table.find_elements(By.TAG_NAME,'tr')

for row in rows[1:]:
    cells=row.find_elements(By.TAG_NAME,'td')
    if len(cells)>=4:
        rank=cells[0].text
        title=cells[1].text
        author=cells[2].text
        volume_sold=cells[3].text
        publisher=cells[4].text
        genre=cells[5].text
        
        print(f'{rank},{title},{author},{volume_sold},{publisher},{genre}')

1,Da Vinci Code,The,Brown, Dan,5,094,805,Transworld,Crime, Thriller & Adventure
2,Harry Potter and the Deathly Hallows,Rowling, J.K.,4,475,152,Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,Rowling, J.K.,4,200,654,Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,Rowling, J.K.,4,179,479,Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,James, E. L.,3,758,936,Random House,Romance & Sagas
6,Harry Potter and the Goblet of Fire,Rowling, J.K.,3,583,215,Bloomsbury,Children's Fiction
7,Harry Potter and the Chamber of Secrets,Rowling, J.K.,3,484,047,Bloomsbury,Children's Fiction
8,Harry Potter and the Prisoner of Azkaban,Rowling, J.K.,3,377,906,Bloomsbury,Children's Fiction
9,Angels and Demons,Brown, Dan,3,193,946,Transworld,Crime, Thriller & Adventure
10,Harry Potter and the Half-blood Prince:Children's Edition,Rowling, J.K.,2,950,264,Bloomsbury,Children's Fiction
11,Fifty Shades Darker,James, E. L.,2,479,784,Random House,Romance & Sagas
12,Twilight,Meyer, Stephenie,2,315,405,Little, Brown Book,Young Adult Fiction
13,Girl with the Dragon Tattoo,The:Millennium Trilogy,Larsson, Stieg,2,233,570,Quercus,Crime, Thriller & Adventure
14,Fifty Shades Freed,James, E. L.,2,193,928,Random House,Romance & Sagas
15,Lost Symbol,The,Brown, Dan,2,183,031,Transworld,Crime, Thriller & Adventure
16,New Moon,Meyer, Stephenie,2,152,737,Little, Brown Book,Young Adult Fiction
17,Deception Point,Brown, Dan,2,062,145,Transworld,Crime, Thriller & Adventure
18,Eclipse,Meyer, Stephenie,2,052,876,Little, Brown Book,Young Adult Fiction
19,Lovely Bones,The,Sebold, Alice,2,005,598,Pan Macmillan,General & Literary Fiction
20,Curious Incident of the Dog in the Night-time,The,Haddon, Mark,1,979,552,Random House,General & Literary Fiction
21,Digital Fortress,Brown, Dan,1,928,900,Transworld,Crime, Thriller & Adventure
22,Short History of Nearly Everything,A,Bryson, Bill,1,852,919,Transworld,Popular Science
23,Girl Who Played with Fire,The:Millennium Trilogy,Larsson, Stieg,1,814,784,Quercus,Crime, Thriller & Adventure
24,Breaking Dawn,Meyer, Stephenie,1,787,118,Little, Brown Book,Young Adult Fiction
25,Very Hungry Caterpillar,The:The Very Hungry Caterpillar,Carle, Eric,1,783,535,Penguin,Picture Books
26,Gruffalo,The,Donaldson, Julia,1,781,269,Pan Macmillan,Picture Books
27,Jamie's 30-Minute Meals,Oliver, Jamie,1,743,266,Penguin,Food & Drink: General
28,Kite Runner,The,Hosseini, Khaled,1,629,119,Bloomsbury,General & Literary Fiction
29,One Day,Nicholls, David,1,616,068,Hodder & Stoughton,General & Literary Fiction
30,Thousand Splendid Suns,A,Hosseini, Khaled,1,583,992,Bloomsbury,General & Literary Fiction
31,Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy,Larsson, Stieg,1,555,135,Quercus,Crime, Thriller & Adventure
32,Time Traveler's Wife,The,Niffenegger, Audrey,1,546,886,Random House,General & Literary Fiction
33,Atonement,McEwan, Ian,1,539,428,Random House,General & Literary Fiction
34,Bridget Jones's Diary:A Novel,Fielding, Helen,1,508,205,Pan Macmillan,General & Literary Fiction
35,World According to Clarkson,The,Clarkson, Jeremy,1,489,403,Penguin,Humour: Collections & General
36,Captain Corelli's Mandolin,Bernieres, Louis de,1,352,318,Random House,General & Literary Fiction
37,Sound of Laughter,The,Kay, Peter,1,310,207,Random House,Autobiography: General
38,Life of Pi,Martel, Yann,1,310,176,Canongate,General & Literary Fiction
39,Billy Connolly,Stephenson, Pamela,1,231,957,HarperCollins,Biography: The Arts
40,Child Called It,A,Pelzer, Dave,1,217,712,Orion,Autobiography: General
41,Gruffalo's Child,The,Donaldson, Julia,1,208,711,Pan Macmillan,Picture Books
42,Angela's Ashes:A Memoir of a Childhood,McCourt, Frank,1,204,058,HarperCollins,Autobiography: General
43,Birdsong,Faulks, Sebastian,1,184,967,Random House,General & Literary Fiction
44,Northern Lights:His Dark Materials S.,Pullman, Philip,1,181,503,Scholastic Ltd.,Young Adult Fiction
45,Labyrinth,Mosse, Kate,1,181,093,Orion,General & Literary Fiction
46,Harry Potter and the Half-blood Prince,Rowling, J.K.,1,153,181,Bloomsbury,Science Fiction & Fantasy
47,Help,The,Stockett, Kathryn,1,132,336,Penguin,General & Literary Fiction
48,Man and Boy,Parsons, Tony,1,130,802,HarperCollins,General & Literary Fiction
49,Memoirs of a Geisha,Golden, Arthur,1,126,337,Random House,General & Literary Fiction
50,No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.,McCall Smith, Alexander,1,115,549,Little, Brown Book,Crime, Thriller & Adventure
51,Island,The,Hislop, Victoria,1,108,328,Headline,General & Literary Fiction
52,PS, I Love You,Ahern, Cecelia,1,107,379,HarperCollins,General & Literary Fiction
53,You are What You Eat:The Plan That Will Change Your Life,McKeith, Gillian,1,104,403,Penguin,Fitness & Diet
54,Shadow of the Wind,The,Zafon, Carlos Ruiz,1,092,349,Orion,General & Literary Fiction
55,Tales of Beedle the Bard,The,Rowling, J.K.,1,090,847,Bloomsbury,Children's Fiction
56,Broker,The,Grisham, John,1,087,262,Random House,Crime, Thriller & Adventure
57,Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P,Atkins, Robert C.,1,054,196,Random House,Fitness & Diet
58,Subtle Knife,The:His Dark Materials S.,Pullman, Philip,1,037,160,Scholastic Ltd.,Young Adult Fiction
59,Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation,Truss, Lynne,1,023,688,Profile Books Group,Usage & Writing Guides
60,Delia's How to Cook:(Bk.1),Smith, Delia,1,015,956,Random House,Food & Drink: General
61,Chocolat,Harris, Joanne,1,009,873,Transworld,General & Literary Fiction
62,Boy in the Striped Pyjamas,The,Boyne, John,1,004,414,Random House Childrens Books G,Young Adult Fiction
63,My Sister's Keeper,Picoult, Jodi,1,003,780,Hodder & Stoughton,General & Literary Fiction
64,Amber Spyglass,The:His Dark Materials S.,Pullman, Philip,1,002,314,Scholastic Ltd.,Young Adult Fiction
65,To Kill a Mockingbird,Lee, Harper,998,213,Random House,General & Literary Fiction
66,Men are from Mars, Women are from Venus:A Practical Guide for Improvin,Gray, John,992,846,HarperCollins,Popular Culture & Media: General Interest
67,Dear Fatty,French, Dawn,986,753,Random House,Autobiography: The Arts
68,Short History of Tractors in Ukrainian,A,Lewycka, Marina,986,115,Penguin,General & Literary Fiction
69,Hannibal,Harris, Thomas,970,509,Random House,Crime, Thriller & Adventure
70,Lord of the Rings,The,Tolkien, J. R. R.,967,466,HarperCollins,Science Fiction & Fantasy
71,Stupid White Men:...and Other Sorry Excuses for the State of the Natio,Moore, Michael,963,353,Penguin,Current Affairs & Issues
72,Interpretation of Murder,The,Rubenfeld, Jed,962,515,Headline,Crime, Thriller & Adventure
73,Sharon Osbourne Extreme:My Autobiography,Osbourne, Sharon,959,496,Little, Brown Book,Autobiography: The Arts
74,Alchemist,The:A Fable About Following Your Dream,Coelho, Paulo,956,114,HarperCollins,General & Literary Fiction
75,At My Mother's Knee ...:and Other Low Joints,O'Grady, Paul,945,640,Transworld,Autobiography: The Arts
76,Notes from a Small Island,Bryson, Bill,931,312,Transworld,Travel Writing
77,Return of the Naked Chef,The,Oliver, Jamie,925,425,Penguin,Food & Drink: General
78,Bridget Jones: The Edge of Reason,Fielding, Helen,924,695,Pan Macmillan,General & Literary Fiction
79,Jamie's Italy,Oliver, Jamie,906,968,Penguin,National & Regional Cuisine
80,I Can Make You Thin,McKenna, Paul,905,086,Transworld,Fitness & Diet
81,Down Under,Bryson, Bill,890,847,Transworld,Travel Writing
82,Summons,The,Grisham, John,869,671,Random House,Crime, Thriller & Adventure
83,Small Island,Levy, Andrea,869,659,Headline,General & Literary Fiction
84,Nigella Express,Lawson, Nigella,862,602,Random House,Food & Drink: General
85,Brick Lane,Ali, Monica,856,540,Transworld,General & Literary Fiction
86,Memory Keeper's Daughter,The,Edwards, Kim,845,858,Penguin,General & Literary Fiction
87,Room on the Broom,Donaldson, Julia,842,535,Pan Macmillan,Picture Books
88,About a Boy,Hornby, Nick,828,215,Penguin,General & Literary Fiction
89,My Booky Wook,Brand, Russell,820,563,Hodder & Stoughton,Autobiography: The Arts
90,God Delusion,The,Dawkins, Richard,816,907,Transworld,Popular Science
91,"Beano" Annual,The,0,816,585,D.C. Thomson,Children's Annuals

92,White Teeth,Smith, Zadie,815,586,Penguin,General & Literary Fiction
93,House at Riverton,The,Morton, Kate,814,370,Pan Macmillan,General & Literary Fiction
94,Book Thief,The,Zusak, Markus,809,641,Transworld,General & Literary Fiction
95,Nights of Rain and Stars,Binchy, Maeve,808,900,Orion,General & Literary Fiction
96,Ghost,The,Harris, Robert,807,311,Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,Oliver, Jamie,794,201,Penguin,Food & Drink: General
98,Hunger Games,The:Hunger Games Trilogy,Collins, Suzanne,792,187,Scholastic Ltd.,Young Adult Fiction
99,Lost Boy,The:A Foster Child's Search for the Love of a Family,Pelzer, Dave,791,507,Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours,Oliver, Jamie,791,095,Penguin,Food & Drink: General

In [230]:
# question no 7
# Scrape the details best movies  of all time from imdb.com. 
driver1=webdriver.Chrome()

In [231]:
driver1.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')

In [232]:
movie_name=[]
movie_name_tag=driver1.find_elements(By.XPATH,'//h3[@class="ipc-title__text"]')
for i in movie_name_tag:
    Movie=i.text
    movie_name.append(Movie)

In [239]:
len(movie_name)

264

In [244]:
Movie_name=movie_name[1:251]

In [245]:
Movie_name

['1. The Shawshank Redemption',
 '2. The Godfather',
 '3. The Dark Knight',
 '4. The Godfather Part II',
 '5. 12 Angry Men',
 "6. Schindler's List",
 '7. The Lord of the Rings: The Return of the King',
 '8. Pulp Fiction',
 '9. The Lord of the Rings: The Fellowship of the Ring',
 '10. The Good, the Bad and the Ugly',
 '11. Forrest Gump',
 '12. Fight Club',
 '13. The Lord of the Rings: The Two Towers',
 '14. Inception',
 '15. Star Wars: Episode V - The Empire Strikes Back',
 '16. The Matrix',
 '17. Goodfellas',
 "18. One Flew Over the Cuckoo's Nest",
 '19. Se7en',
 "20. It's a Wonderful Life",
 '21. Seven Samurai',
 '22. Interstellar',
 '23. The Silence of the Lambs',
 '24. Saving Private Ryan',
 '25. City of God',
 '26. Life Is Beautiful',
 '27. The Green Mile',
 '28. Spider-Man: Across the Spider-Verse',
 '29. Star Wars: Episode IV - A New Hope',
 '30. Terminator 2: Judgment Day',
 '31. Back to the Future',
 '32. Spirited Away',
 '33. The Pianist',
 '34. Parasite',
 '35. Psycho',
 '36. Gladiator',
 '37. The Lion King',
 '38. L√©on: The Professional',
 '39. American History X',
 '40. The Departed',
 '41. Whiplash',
 '42. The Prestige',
 '43. Grave of the Fireflies',
 '44. The Usual Suspects',
 '45. Harakiri',
 '46. Casablanca',
 '47. The Intouchables',
 '48. Modern Times',
 '49. Cinema Paradiso',
 '50. Rear Window',
 '51. Once Upon a Time in the West',
 '52. Alien',
 '53. City Lights',
 '54. Apocalypse Now',
 '55. Django Unchained',
 '56. Memento',
 '57. Raiders of the Lost Ark',
 '58. WALL¬∑E',
 '59. The Lives of Others',
 '60. Sunset Blvd.',
 '61. Paths of Glory',
 '62. Avengers: Infinity War',
 '63. The Shining',
 '64. Spider-Man: Into the Spider-Verse',
 '65. Witness for the Prosecution',
 '66. The Great Dictator',
 '67. Aliens',
 '68. Oppenheimer',
 '69. Inglourious Basterds',
 '70. The Dark Knight Rises',
 '71. American Beauty',
 '72. Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 '73. Oldboy',
 '74. Coco',
 '75. Amadeus',
 '76. Toy Story',
 '77. Das Boot',
 '78. Braveheart',
 '79. Avengers: Endgame',
 '80. Joker',
 '81. Princess Mononoke',
 '82. Good Will Hunting',
 '83. Your Name.',
 '84. Once Upon a Time in America',
 '85. 3 Idiots',
 '86. High and Low',
 "87. Singin' in the Rain",
 '88. Capernaum',
 '89. Requiem for a Dream',
 '90. Come and See',
 '91. Toy Story 3',
 '92. Star Wars: Episode VI - Return of the Jedi',
 '93. Eternal Sunshine of the Spotless Mind',
 '94. The Hunt',
 '95. 2001: A Space Odyssey',
 '96. Reservoir Dogs',
 '97. Ikiru',
 '98. Lawrence of Arabia',
 '99. The Apartment',
 '100. Citizen Kane',
 '101. M',
 '102. North by Northwest',
 '103. Vertigo',
 '104. Double Indemnity',
 '105. Scarface',
 '106. Am√©lie',
 '107. Full Metal Jacket',
 '108. Incendies',
 '109. A Clockwork Orange',
 '110. Heat',
 '111. Up',
 '112. To Kill a Mockingbird',
 '113. The Sting',
 '114. A Separation',
 '115. Hamilton',
 '116. Indiana Jones and the Last Crusade',
 '117. Die Hard',
 '118. Metropolis',
 '119. Like Stars on Earth',
 '120. Snatch',
 '121. Bicycle Thieves',
 '122. L.A. Confidential',
 '123. 1917',
 '124. Taxi Driver',
 '125. Downfall',
 '126. Dangal',
 '127. For a Few Dollars More',
 '128. Batman Begins',
 '129. Some Like It Hot',
 '130. Top Gun: Maverick',
 '131. The Kid',
 '132. The Wolf of Wall Street',
 '133. The Father',
 '134. Green Book',
 '135. All About Eve',
 '136. Judgment at Nuremberg',
 '137. The Truman Show',
 '138. There Will Be Blood',
 '139. Casino',
 '140. Shutter Island',
 '141. Ran',
 '142. Jurassic Park',
 "143. Pan's Labyrinth",
 '144. The Sixth Sense',
 '145. Unforgiven',
 '146. A Beautiful Mind',
 '147. No Country for Old Men',
 '148. The Treasure of the Sierra Madre',
 '149. Yojimbo',
 '150. The Thing',
 '151. Kill Bill: Vol. 1',
 '152. Monty Python and the Holy Grail',
 '153. The Great Escape',
 '154. Finding Nemo',
 '155. Rashomon',
 '156. The Elephant Man',
 '157. Chinatown',
 "158. Howl's Moving Castle",
 '159. Dial M for Murder',
 '160. Prisoners',
 '161. Gone with the Wind',
 '162. V for Vendetta',
 '163. Raging Bull',
 '164. Lock, Stock and Two Smoking Barrels',
 '165. The Secret in Their Eyes',
 '166. Inside Out',
 '167. Three Billboards Outside Ebbing, Missouri',
 '168. Spider-Man: No Way Home',
 '169. Trainspotting',
 '170. The Bridge on the River Kwai',
 '171. Fargo',
 '172. Warrior',
 '173. Catch Me If You Can',
 '174. Gran Torino',
 '175. Klaus',
 '176. Godzilla Minus One',
 '177. My Neighbor Totoro',
 '178. Million Dollar Baby',
 '179. Harry Potter and the Deathly Hallows: Part 2',
 '180. Children of Heaven',
 '181. Blade Runner',
 '182. 12 Years a Slave',
 '183. Before Sunrise',
 '184. The Grand Budapest Hotel',
 '185. Ben-Hur',
 '186. Barry Lyndon',
 '187. Gone Girl',
 '188. The Gold Rush',
 '189. Hacksaw Ridge',
 '190. In the Name of the Father',
 '191. Memories of Murder',
 '192. On the Waterfront',
 '193. The General',
 '194. The Deer Hunter',
 '195. Wild Tales',
 '196. Dead Poets Society',
 '197. Wild Strawberries',
 '198. Mad Max: Fury Road',
 '199. The Third Man',
 '200. The Wages of Fear',
 '201. Sherlock Jr.',
 '202. Monsters, Inc.',
 '203. Jaws',
 '204. Mr. Smith Goes to Washington',
 '205. How to Train Your Dragon',
 '206. Mary and Max',
 '207. Ford v Ferrari',
 '208. The Seventh Seal',
 '209. Ratatouille',
 '210. Room',
 '211. The Big Lebowski',
 '212. Tokyo Story',
 '213. Rocky',
 '214. Hotel Rwanda',
 '215. Logan',
 '216. Spotlight',
 '217. Platoon',
 '218. The Passion of Joan of Arc',
 '219. The Terminator',
 '220. Jai Bhim',
 '221. Before Sunset',
 '222. Rush',
 '223. Network',
 '224. The Best Years of Our Lives',
 '225. The Exorcist',
 '226. Stand by Me',
 '227. La haine',
 '228. Pirates of the Caribbean: The Curse of the Black Pearl',
 '229. The Wizard of Oz',
 '230. The Incredibles',
 '231. Into the Wild',
 "232. Hachi: A Dog's Tale",
 '233. To Be or Not to Be',
 '234. The Handmaiden',
 '235. My Father and My Son',
 '236. The Battle of Algiers',
 '237. Groundhog Day',
 '238. The Grapes of Wrath',
 '239. The Sound of Music',
 '240. Amores Perros',
 '241. Rebecca',
 '242. Cool Hand Luke',
 '243. The Iron Giant',
 '244. The Help',
 '245. It Happened One Night',
 '246. Pather Panchali',
 '247. The 400 Blows',
 '248. Aladdin',
 '249. Dances with Wolves',
 '250. Persona']

In [237]:
year_span=[]
year_tag=driver1.find_elements(By.XPATH,'//div[@class="sc-43986a27-7 dBkaPT cli-title-metadata"]/span[1]')
for i in year_tag:
    year=i.text
    year_span.append(year)

In [241]:
year_span

['1994',
 '1972',
 '2008',
 '1974',
 '1957',
 '1993',
 '2003',
 '1994',
 '2001',
 '1966',
 '1994',
 '1999',
 '2002',
 '2010',
 '1980',
 '1999',
 '1990',
 '1975',
 '1995',
 '1946',
 '1954',
 '2014',
 '1991',
 '1998',
 '2002',
 '1997',
 '1999',
 '2023',
 '1977',
 '1991',
 '1985',
 '2001',
 '2002',
 '2019',
 '1960',
 '2000',
 '1994',
 '1994',
 '1998',
 '2006',
 '2014',
 '2006',
 '1988',
 '1995',
 '1962',
 '1942',
 '2011',
 '1936',
 '1988',
 '1954',
 '1968',
 '1979',
 '1931',
 '1979',
 '2012',
 '2000',
 '1981',
 '2008',
 '2006',
 '1950',
 '1957',
 '2018',
 '1980',
 '2018',
 '1957',
 '1940',
 '1986',
 '2023',
 '2009',
 '2012',
 '1999',
 '1964',
 '2003',
 '2017',
 '1984',
 '1995',
 '1981',
 '1995',
 '2019',
 '2019',
 '1997',
 '1997',
 '2016',
 '1984',
 '2009',
 '1963',
 '1952',
 '2018',
 '2000',
 '1985',
 '2010',
 '1983',
 '2004',
 '2012',
 '1968',
 '1992',
 '1952',
 '1962',
 '1960',
 '1941',
 '1931',
 '1959',
 '1958',
 '1944',
 '1983',
 '2001',
 '1987',
 '2010',
 '1971',
 '1995',
 '2009',
 '1962',
 '1973',
 '2011',
 '2020',
 '1989',
 '1988',
 '1927',
 '2007',
 '2000',
 '1948',
 '1997',
 '2019',
 '1976',
 '2004',
 '2016',
 '1965',
 '2005',
 '1959',
 '2022',
 '1921',
 '2013',
 '2020',
 '2018',
 '1950',
 '1961',
 '1998',
 '2007',
 '1995',
 '2010',
 '1985',
 '1993',
 '2006',
 '1999',
 '1992',
 '2001',
 '2007',
 '1948',
 '1961',
 '1982',
 '2003',
 '1975',
 '1963',
 '2003',
 '1950',
 '1980',
 '1974',
 '2004',
 '1954',
 '2013',
 '1939',
 '2005',
 '1980',
 '1998',
 '2009',
 '2015',
 '2017',
 '2021',
 '1996',
 '1957',
 '1996',
 '2011',
 '2002',
 '2008',
 '2019',
 '2023',
 '1988',
 '2004',
 '2011',
 '1997',
 '1982',
 '2013',
 '1995',
 '2014',
 '1959',
 '1975',
 '2014',
 '1925',
 '2016',
 '1993',
 '2003',
 '1954',
 '1926',
 '1978',
 '2014',
 '1989',
 '1957',
 '2015',
 '1949',
 '1953',
 '1924',
 '2001',
 '1975',
 '1939',
 '2010',
 '2009',
 '2019',
 '1957',
 '2007',
 '2015',
 '1998',
 '1953',
 '1976',
 '2004',
 '2017',
 '2015',
 '1986',
 '1928',
 '1984',
 '2021',
 '2004',
 '2013',
 '1976',
 '1946',
 '1973',
 '1986',
 '1995',
 '2003',
 '1939',
 '2004',
 '2007',
 '2009',
 '1942',
 '2016',
 '2005',
 '1966',
 '1993',
 '1940',
 '1965',
 '2000',
 '1940',
 '1967',
 '1999',
 '2011',
 '1934',
 '1955',
 '1959',
 '1992',
 '1990',
 '1966']

In [240]:
len(year_span)

250

In [246]:
run_time=[]
run_time_tag=driver1.find_elements(By.XPATH,'//div[@class="sc-43986a27-7 dBkaPT cli-title-metadata"]/span[2]')
for i in run_time_tag:
    Run=i.text
    run_time.append(Run)

In [247]:
run_time

['2h 22m',
 '2h 55m',
 '2h 32m',
 '3h 22m',
 '1h 36m',
 '3h 15m',
 '3h 21m',
 '2h 34m',
 '2h 58m',
 '2h 58m',
 '2h 22m',
 '2h 19m',
 '2h 59m',
 '2h 28m',
 '2h 4m',
 '2h 16m',
 '2h 25m',
 '2h 13m',
 '2h 7m',
 '2h 10m',
 '3h 27m',
 '2h 49m',
 '1h 58m',
 '2h 49m',
 '2h 10m',
 '1h 56m',
 '3h 9m',
 '2h 20m',
 '2h 1m',
 '2h 17m',
 '1h 56m',
 '2h 5m',
 '2h 30m',
 '2h 12m',
 '1h 49m',
 '2h 35m',
 '1h 28m',
 '1h 50m',
 '1h 59m',
 '2h 31m',
 '1h 46m',
 '2h 10m',
 '1h 29m',
 '1h 46m',
 '2h 13m',
 '1h 42m',
 '1h 52m',
 '1h 27m',
 '2h 35m',
 '1h 52m',
 '2h 46m',
 '1h 57m',
 '1h 27m',
 '2h 27m',
 '2h 45m',
 '1h 53m',
 '1h 55m',
 '1h 38m',
 '2h 17m',
 '1h 50m',
 '1h 28m',
 '2h 29m',
 '2h 26m',
 '1h 57m',
 '1h 56m',
 '2h 5m',
 '2h 17m',
 '3h',
 '2h 33m',
 '2h 44m',
 '2h 2m',
 '1h 35m',
 '2h',
 '1h 45m',
 '2h 40m',
 '1h 21m',
 '2h 29m',
 '2h 58m',
 '3h 1m',
 '2h 2m',
 '2h 14m',
 '2h 6m',
 '1h 46m',
 '3h 49m',
 '2h 50m',
 '2h 23m',
 '1h 43m',
 '2h 6m',
 '1h 42m',
 '2h 22m',
 '1h 43m',
 '2h 11m',
 '1h 48m',
 '1h 55m',
 '2h 29m',
 '1h 39m',
 '2h 23m',
 '3h 38m',
 '2h 5m',
 '1h 59m',
 '1h 39m',
 '2h 16m',
 '2h 8m',
 '1h 47m',
 '2h 50m',
 '2h 2m',
 '1h 56m',
 '2h 11m',
 '2h 16m',
 '2h 50m',
 '1h 36m',
 '2h 9m',
 '2h 9m',
 '2h 3m',
 '2h 40m',
 '2h 7m',
 '2h 12m',
 '2h 33m',
 '2h 42m',
 '1h 42m',
 '1h 29m',
 '2h 18m',
 '1h 59m',
 '1h 54m',
 '2h 36m',
 '2h 41m',
 '2h 12m',
 '2h 20m',
 '2h 1m',
 '2h 10m',
 '1h 8m',
 '3h',
 '1h 37m',
 '2h 10m',
 '2h 18m',
 '2h 59m',
 '1h 43m',
 '2h 38m',
 '2h 58m',
 '2h 18m',
 '2h 40m',
 '2h 7m',
 '1h 58m',
 '1h 47m',
 '2h 10m',
 '2h 15m',
 '2h 2m',
 '2h 6m',
 '1h 50m',
 '1h 49m',
 '1h 51m',
 '1h 31m',
 '2h 52m',
 '1h 40m',
 '1h 28m',
 '2h 4m',
 '2h 10m',
 '1h 59m',
 '1h 45m',
 '2h 33m',
 '3h 58m',
 '2h 12m',
 '2h 9m',
 '1h 47m',
 '2h 9m',
 '1h 35m',
 '1h 55m',
 '2h 28m',
 '1h 33m',
 '2h 41m',
 '1h 38m',
 '2h 20m',
 '2h 21m',
 '1h 56m',
 '1h 36m',
 '2h 4m',
 '1h 26m',
 '2h 12m',
 '2h 10m',
 '1h 29m',
 '1h 57m',
 '2h 14m',
 '1h 41m',
 '1h 39m',
 '3h 32m',
 '3h 5m',
 '2h 29m',
 '1h 35m',
 '2h 19m',
 '2h 13m',
 '2h 12m',
 '1h 48m',
 '1h 18m',
 '3h 3m',
 '2h 2m',
 '2h 8m',
 '1h 31m',
 '2h',
 '1h 33m',
 '2h 11m',
 '45m',
 '1h 32m',
 '2h 4m',
 '2h 9m',
 '1h 38m',
 '1h 32m',
 '2h 32m',
 '1h 36m',
 '1h 51m',
 '1h 58m',
 '1h 57m',
 '2h 16m',
 '2h',
 '2h 1m',
 '2h 17m',
 '2h 9m',
 '2h',
 '1h 54m',
 '1h 47m',
 '2h 44m',
 '1h 20m',
 '2h 3m',
 '2h 1m',
 '2h 50m',
 '2h 2m',
 '1h 29m',
 '1h 38m',
 '2h 23m',
 '1h 42m',
 '1h 55m',
 '2h 28m',
 '1h 33m',
 '1h 39m',
 '2h 25m',
 '1h 52m',
 '2h 1m',
 '1h 41m',
 '2h 9m',
 '2h 52m',
 '2h 34m',
 '2h 10m',
 '2h 7m',
 '1h 26m',
 '2h 26m',
 '1h 45m',
 '2h 5m',
 '1h 39m',
 '1h 30m',
 '3h 1m',
 '1h 23m']

In [253]:
len(run_time)

250

In [250]:
rating=[]
rating_tag=driver1.find_elements(By.XPATH,'//div[@class="sc-9ab53865-0 bIaPYM sc-43986a27-2 bvCMEK cli-ratings-container"]/span')
for i in rating_tag:
    Rating=i.text
    rating.append(Rating)

In [251]:
rating

['9.3\n (2.8M)',
 '9.2\n (2M)',
 '9.0\n (2.8M)',
 '9.0\n (1.3M)',
 '9.0\n (846K)',
 '9.0\n (1.4M)',
 '9.0\n (1.9M)',
 '8.9\n (2.2M)',
 '8.9\n (2M)',
 '8.8\n (798K)',
 '8.8\n (2.2M)',
 '8.8\n (2.3M)',
 '8.8\n (1.8M)',
 '8.8\n (2.5M)',
 '8.7\n (1.4M)',
 '8.7\n (2M)',
 '8.7\n (1.2M)',
 '8.7\n (1.1M)',
 '8.6\n (1.8M)',
 '8.6\n (490K)',
 '8.6\n (362K)',
 '8.7\n (2M)',
 '8.6\n (1.5M)',
 '8.6\n (1.5M)',
 '8.6\n (790K)',
 '8.6\n (731K)',
 '8.6\n (1.4M)',
 '8.6\n (320K)',
 '8.6\n (1.4M)',
 '8.6\n (1.2M)',
 '8.5\n (1.3M)',
 '8.6\n (826K)',
 '8.5\n (892K)',
 '8.5\n (915K)',
 '8.5\n (708K)',
 '8.5\n (1.6M)',
 '8.5\n (1.1M)',
 '8.5\n (1.2M)',
 '8.5\n (1.2M)',
 '8.5\n (1.4M)',
 '8.5\n (956K)',
 '8.5\n (1.4M)',
 '8.5\n (302K)',
 '8.5\n (1.1M)',
 '8.6\n (66K)',
 '8.5\n (598K)',
 '8.5\n (911K)',
 '8.5\n (256K)',
 '8.5\n (278K)',
 '8.5\n (514K)',
 '8.5\n (345K)',
 '8.5\n (933K)',
 '8.5\n (193K)',
 '8.4\n (699K)',
 '8.5\n (1.7M)',
 '8.4\n (1.3M)',
 '8.4\n (1M)',
 '8.4\n (1.2M)',
 '8.4\n (405K)',
 '8.4\n (233K)',
 '8.4\n (209K)',
 '8.4\n (1.2M)',
 '8.4\n (1.1M)',
 '8.4\n (648K)',
 '8.4\n (135K)',
 '8.4\n (234K)',
 '8.4\n (752K)',
 '8.4\n (567K)',
 '8.4\n (1.5M)',
 '8.4\n (1.8M)',
 '8.3\n (1.2M)',
 '8.4\n (511K)',
 '8.4\n (621K)',
 '8.4\n (571K)',
 '8.4\n (422K)',
 '8.3\n (1.1M)',
 '8.4\n (261K)',
 '8.3\n (1.1M)',
 '8.4\n (1.2M)',
 '8.4\n (1.4M)',
 '8.3\n (423K)',
 '8.3\n (1M)',
 '8.4\n (307K)',
 '8.3\n (372K)',
 '8.4\n (425K)',
 '8.4\n (51K)',
 '8.3\n (256K)',
 '8.4\n (102K)',
 '8.3\n (885K)',
 '8.4\n (93K)',
 '8.3\n (879K)',
 '8.3\n (1.1M)',
 '8.3\n (1.1M)',
 '8.3\n (356K)',
 '8.3\n (707K)',
 '8.3\n (1.1M)',
 '8.3\n (85K)',
 '8.3\n (309K)',
 '8.3\n (193K)',
 '8.3\n (460K)',
 '8.3\n (166K)',
 '8.3\n (342K)',
 '8.3\n (421K)',
 '8.3\n (165K)',
 '8.3\n (898K)',
 '8.3\n (785K)',
 '8.3\n (779K)',
 '8.3\n (193K)',
 '8.3\n (869K)',
 '8.3\n (704K)',
 '8.3\n (1.1M)',
 '8.3\n (329K)',
 '8.3\n (275K)',
 '8.3\n (255K)',
 '8.3\n (109K)',
 '8.2\n (800K)',
 '8.2\n (929K)',
 '8.3\n (183K)',
 '8.3\n (204K)',
 '8.2\n (896K)',
 '8.3\n (172K)',
 '8.2\n (608K)',
 '8.2\n (656K)',
 '8.2\n (901K)',
 '8.2\n (370K)',
 '8.3\n (205K)',
 '8.2\n (270K)',
 '8.2\n (1.6M)',
 '8.2\n (280K)',
 '8.3\n (652K)',
 '8.2\n (133K)',
 '8.2\n (1.5M)',
 '8.2\n (184K)',
 '8.2\n (548K)',
 '8.2\n (137K)',
 '8.3\n (83K)',
 '8.2\n (1.2M)',
 '8.2\n (630K)',
 '8.2\n (554K)',
 '8.2\n (1.4M)',
 '8.2\n (134K)',
 '8.2\n (1M)',
 '8.2\n (695K)',
 '8.2\n (1M)',
 '8.2\n (430K)',
 '8.2\n (973K)',
 '8.2\n (1M)',
 '8.2\n (131K)',
 '8.2\n (129K)',
 '8.2\n (457K)',
 '8.2\n (1.2M)',
 '8.2\n (564K)',
 '8.2\n (256K)',
 '8.2\n (1.1M)',
 '8.2\n (178K)',
 '8.2\n (255K)',
 '8.2\n (344K)',
 '8.2\n (434K)',
 '8.2\n (186K)',
 '8.1\n (786K)',
 '8.2\n (330K)',
 '8.2\n (1.2M)',
 '8.1\n (374K)',
 '8.1\n (608K)',
 '8.2\n (219K)',
 '8.1\n (768K)',
 '8.1\n (544K)',
 '8.2\n (852K)',
 '8.1\n (716K)',
 '8.1\n (231K)',
 '8.1\n (713K)',
 '8.1\n (492K)',
 '8.1\n (1.1M)',
 '8.1\n (805K)',
 '8.2\n (182K)',
 '8.4\n (28K)',
 '8.1\n (369K)',
 '8.1\n (714K)',
 '8.1\n (930K)',
 '8.2\n (79K)',
 '8.1\n (810K)',
 '8.1\n (732K)',
 '8.1\n (333K)',
 '8.1\n (870K)',
 '8.1\n (250K)',
 '8.1\n (180K)',
 '8.1\n (1M)',
 '8.1\n (117K)',
 '8.1\n (579K)',
 '8.1\n (185K)',
 '8.1\n (209K)',
 '8.1\n (162K)',
 '8.1\n (97K)',
 '8.1\n (357K)',
 '8.1\n (212K)',
 '8.1\n (532K)',
 '8.1\n (113K)',
 '8.1\n (1.1M)',
 '8.1\n (179K)',
 '8.2\n (65K)',
 '8.2\n (55K)',
 '8.1\n (962K)',
 '8.1\n (649K)',
 '8.1\n (120K)',
 '8.1\n (785K)',
 '8.1\n (185K)',
 '8.1\n (449K)',
 '8.1\n (195K)',
 '8.1\n (803K)',
 '8.1\n (443K)',
 '8.1\n (848K)',
 '8.1\n (67K)',
 '8.1\n (618K)',
 '8.1\n (368K)',
 '8.1\n (814K)',
 '8.1\n (495K)',
 '8.1\n (433K)',
 '8.1\n (59K)',
 '8.1\n (910K)',
 '8.7\n (214K)',
 '8.1\n (283K)',
 '8.1\n (505K)',
 '8.1\n (168K)',
 '8.1\n (69K)',
 '8.1\n (447K)',
 '8.1\n (433K)',
 '8.1\n (191K)',
 '8.1\n (1.2M)',
 '8.1\n (422K)',
 '8.0\n (791K)',
 '8.1\n (649K)',
 '8.1\n (305K)',
 '8.1\n (42K)',
 '8.1\n (167K)',
 '8.2\n (91K)',
 '8.1\n (65K)',
 '8.0\n (671K)',
 '8.1\n (99K)',
 '8.1\n (254K)',
 '8.1\n (250K)',
 '8.1\n (145K)',
 '8.1\n (186K)',
 '8.1\n (221K)',
 '8.1\n (485K)',
 '8.1\n (110K)',
 '8.2\n (37K)',
 '8.1\n (126K)',
 '8.0\n (456K)',
 '8.0\n (285K)',
 '8.1\n (129K)']

In [254]:
len(rating)

250

In [255]:
import pandas as pd

imdb_movies=pd.DataFrame({'Movie name':Movie_name,'Year Span':year_span,'Run Time':run_time,'Rating':rating})

In [256]:
imdb_movies

                      Movie name Year Span      Run Time        Rating
0    1. The Shawshank Redemption      1994  9.3\n (2.8M)  9.3\n (2.8M)
1               2. The Godfather      1972    9.2\n (2M)    9.2\n (2M)
2             3. The Dark Knight      2008  9.0\n (2.8M)  9.0\n (2.8M)
3       4. The Godfather Part II      1974  9.0\n (1.3M)  9.0\n (1.3M)
4                5. 12 Angry Men      1957  9.0\n (846K)  9.0\n (846K)
..                           ...       ...           ...           ...
245         246. Pather Panchali      1955   8.2\n (37K)   8.2\n (37K)
246           247. The 400 Blows      1959  8.1\n (126K)  8.1\n (126K)
247                 248. Aladdin      1992  8.0\n (456K)  8.0\n (456K)
248      249. Dances with Wolves      1990  8.0\n (285K)  8.0\n (285K)
249                 250. Persona      1966  8.1\n (129K)  8.1\n (129K)

[250 rows x 4 columns]

In [259]:
# question no 8
#Details of Datasets from UCI machine learning repositories.   
# Url = https://archive.ics.uci.edu/  
driver=webdriver.Chrome()

In [261]:
driver.get('https://archive.ics.uci.edu/')

In [262]:
search=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a')
search.click()

In [264]:
dataset_name=[]
dataset_tag=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
for i in dataset_tag:
    Dataset=i.text
    dataset_name.append(Dataset)

In [265]:
dataset_name

['Iris',
 'Dry Bean Dataset',
 'Rice (Cammeo and Osmancik)',
 'Heart Disease',
 'Adult',
 'Wine',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Diabetes',
 'Wine Quality',
 'Car Evaluation',
 'Bank Marketing',
 'Mushroom',
 'Abalone',
 'Census Income',
 'Student Performance',
 'Statlog (German Credit Data)',
 'Automobile',
 'Breast Cancer',
 'Online Retail',
 'Auto MPG',
 'Breast Cancer Wisconsin (Original)',
 'Spambase',
 "Predict students' dropout and academic success",
 'Glass Identification',
 'Thyroid Disease']

In [266]:
datatype_name=[]
datatype_tag=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]')
for i in datatype_tag:
    Datatype=i.text
    datatype_name.append(Datatype)

In [267]:
datatype_name

['Tabular',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Tabular',
 'Multivariate',
 'Multivariate, Time-Series',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Tabular',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate, Sequential, Time-Series',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Tabular',
 'Multivariate',
 'Multivariate, Domain-Theory']

In [268]:
task_name=[]
taskname_tag=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]')
for i in taskname_tag:
    Taskname=i.text
    task_name.append(Taskname)

In [269]:
task_name

['Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification, Regression',
 'Classification',
 'Classification',
 'Classification',
 'Classification, Regression',
 'Classification',
 'Classification, Regression',
 'Classification',
 'Regression',
 'Classification',
 'Classification, Clustering',
 'Regression',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification']

In [270]:
instances_no=[]
instances_tag=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]')
for i in instances_tag:
    Instances=i.text
    instances_no.append(Instances)

In [272]:
instances_no

['150 Instances',
 '13.61K Instances',
 '3.81K Instances',
 '303 Instances',
 '48.84K Instances',
 '178 Instances',
 '569 Instances',
 '1 Instances',
 '4.9K Instances',
 '1.73K Instances',
 '45.21K Instances',
 '8.12K Instances',
 '4.18K Instances',
 '48.84K Instances',
 '649 Instances',
 '1K Instances',
 '205 Instances',
 '286 Instances',
 '541.91K Instances',
 '398 Instances',
 '699 Instances',
 '4.6K Instances',
 '4.42K Instances',
 '214 Instances',
 '7.2K Instances']

In [273]:
artribute_no=[]
artribute_tag=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]')
for i in artribute_tag:
    Artribute=i.text
    artribute_no.append(Artribute)

In [274]:
artribute_no

['4 Features',
 '16 Features',
 '7 Features',
 '13 Features',
 '14 Features',
 '13 Features',
 '30 Features',
 '20 Features',
 '12 Features',
 '6 Features',
 '17 Features',
 '22 Features',
 '8 Features',
 '14 Features',
 '33 Features',
 '20 Features',
 '25 Features',
 '9 Features',
 '8 Features',
 '7 Features',
 '9 Features',
 '57 Features',
 '36 Features',
 '9 Features',
 '5 Features']

In [275]:
search1=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
search1.click()

In [276]:
artribute_type=[]
artribute_type_tag=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[2]')
for i in artribute_type_tag:
    Artribute_type=i.text
    artribute_type.append(Artribute_type)

In [277]:
artribute_type

['Real',
 'Integer, Real',
 'Real',
 'Categorical, Integer, Real',
 'Categorical, Integer',
 'Integer, Real',
 'Real',
 'Categorical, Integer',
 'Real',
 'Categorical',
 'Categorical, Integer',
 'Categorical',
 'Categorical, Integer, Real',
 'Categorical, Integer',
 'Integer',
 'Categorical, Integer',
 'Categorical, Integer, Real',
 'Categorical',
 'Integer, Real',
 'Real, Categorical, Integer',
 'Integer',
 'Integer, Real',
 'N/A',
 'Real',
 'Categorical, Real']

In [278]:
year=[]
year_tag=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[3]')
for i in year_tag:
    Year=i.text
    year.append(Year)

In [279]:
year

['7/1/1988',
 '9/14/2020',
 '10/6/2019',
 '7/1/1988',
 '5/1/1996',
 '7/1/1991',
 '11/1/1995',
 'N/A',
 '10/7/2009',
 '6/1/1997',
 '2/14/2012',
 '4/27/1987',
 '12/1/1995',
 '5/1/1996',
 '11/27/2014',
 '11/17/1994',
 '5/19/1987',
 '7/11/1988',
 '11/6/2015',
 '7/7/1993',
 '7/15/1992',
 '7/1/1999',
 '12/13/2021',
 '9/1/1987',
 '1/1/1987']

In [280]:
import pandas as pd
dataset=pd.DataFrame({'Dataset name':dataset_name,'Datatype name':datatype_name,'Task name':task_name,'Instances no':instances_no,'Artribute_no':artribute_no,'Artribute type':artribute_type,'Year':year})

In [281]:
dataset

,Dataset name,Datatype name,Task name,Instances no,Artribute_no,Artribute type,Year
0,Iris,Tabular,Classification,150 Instances,4 Features,Real,7/1/1988
1,Dry Bean Dataset,Multivariate,Classification,13.61K Instances,16 Features,"Integer, Real",9/14/2020
2,Rice (Cammeo and Osmancik),Multivariate,Classification,3.81K Instances,7 Features,Real,10/6/2019
3,Heart Disease,Multivariate,Classification,303 Instances,13 Features,"Categorical, Integer, Real",7/1/1988
4,Adult,Multivariate,Classification,48.84K Instances,14 Features,"Categorical, Integer",5/1/1996
5,Wine,Tabular,Classification,178 Instances,13 Features,"Integer, Real",7/1/1991
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,569 Instances,30 Features,Real,11/1/1995
7,Diabetes,"Multivariate, Time-Series",Classification,1 Instances,20 Features,"Categorical, Integer",N/A
8,Wine Quality,Multivariate,"Classification, Regression",4.9K Instances,12 Features,Real,10/7/2009
9,Car Evaluation,Multivariate,Classification,1.73K Instances,6 Features,Categorical,6/1/1997
10,Bank Marketing,Multivariate,Classification,45.21K Instances,17 Features,"Categorical, Integer",2/14/2012
11,Mushroom,Multivariate,Classification,8.12K Instances,22 Features,Categorical,4/27/1987
12,Abalone,Tabular,"Classification, Regression",4.18K Instances,8 Features,"Categorical, Integer, Real",12/1/1995
13,Census Income,Multivariate,Classification,48.84K Instances,14 Features,"Categorical, Integer",5/1/1996
14,Student Performance,Multivariate,"Classification, Regression",649 Instances,33 Features,Integer,11/27/2014
15,Statlog (German Credit Data),Multivariate,Classification,1K Instances,20 Features,"Categorical, Integer",11/17/1994
16,Automobile,Multivariate,Regression,205 Instances,25 Features,"Categorical, Integer, Real",5/19/1987
17,Breast Cancer,Multivariate,Classification,286 Instances,9 Features,Categorical,7/11/1988
18,Online Retail,"Multivariate, Sequential, Time-Series","Classification, Clustering",541.91K Instances,8 Features,"Integer, Real",11/6/2015
19,Auto MPG,Multivariate,Regression,398 Instances,7 Features,"Real, Categorical, Integer",7/7/1993
20,Breast Cancer Wisconsin (Original),Multivariate,Classification,699 Instances,9 Features,Integer,7/15/1992
21,Spambase,Multivariate,Classification,4.6K Instances,57 Features,"Integer, Real",7/1/1999
22,Predict students' dropout and academic success,Tabular,Classification,4.42K Instances,36 Features,N/A,12/13/2021
23,Glass Identification,Multivariate,Classification,214 Instances,9 Features,Real,9/1/1987
24,Thyroid Disease,"Multivariate, Domain-Theory",Classification,7.2K Instances,5 Features,"Categorical, Real",1/1/1987